<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="MetaNode 1:2"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<config key="dataInContainerIDs">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xint" value="62"/>
</config>
<config key="dataOutContainerIDs">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xint" value="63"/>
<entry key="1" type="xint" value="64"/>
</config>
<config key="modelInContainerIDs">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="modelOutContainerIDs">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
<entry key="output_1" type="xstring" value="spec_1.xml"/>
</config>
<entry key="data_meta_file" type="xstring" value="data.xml"/>
<config key="model_files"/>
</config>
