<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.io.tablecreator.TableCreator2NodeFactory"/>
<entry key="node-name" type="xstring" value="Table Creator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="rowIndices">
<entry key="array-size" type="xint" value="30"/>
<entry key="0" type="xint" value="0"/>
<entry key="1" type="xint" value="0"/>
<entry key="2" type="xint" value="0"/>
<entry key="3" type="xint" value="0"/>
<entry key="4" type="xint" value="0"/>
<entry key="5" type="xint" value="1"/>
<entry key="6" type="xint" value="1"/>
<entry key="7" type="xint" value="1"/>
<entry key="8" type="xint" value="1"/>
<entry key="9" type="xint" value="1"/>
<entry key="10" type="xint" value="2"/>
<entry key="11" type="xint" value="2"/>
<entry key="12" type="xint" value="2"/>
<entry key="13" type="xint" value="2"/>
<entry key="14" type="xint" value="2"/>
<entry key="15" type="xint" value="3"/>
<entry key="16" type="xint" value="3"/>
<entry key="17" type="xint" value="3"/>
<entry key="18" type="xint" value="3"/>
<entry key="19" type="xint" value="3"/>
<entry key="20" type="xint" value="4"/>
<entry key="21" type="xint" value="4"/>
<entry key="22" type="xint" value="4"/>
<entry key="23" type="xint" value="4"/>
<entry key="24" type="xint" value="4"/>
<entry key="25" type="xint" value="5"/>
<entry key="26" type="xint" value="5"/>
<entry key="27" type="xint" value="5"/>
<entry key="28" type="xint" value="5"/>
<entry key="29" type="xint" value="5"/>
</config>
<config key="columnIndices">
<entry key="array-size" type="xint" value="30"/>
<entry key="0" type="xint" value="0"/>
<entry key="1" type="xint" value="1"/>
<entry key="2" type="xint" value="2"/>
<entry key="3" type="xint" value="3"/>
<entry key="4" type="xint" value="4"/>
<entry key="5" type="xint" value="0"/>
<entry key="6" type="xint" value="1"/>
<entry key="7" type="xint" value="2"/>
<entry key="8" type="xint" value="3"/>
<entry key="9" type="xint" value="4"/>
<entry key="10" type="xint" value="0"/>
<entry key="11" type="xint" value="1"/>
<entry key="12" type="xint" value="2"/>
<entry key="13" type="xint" value="3"/>
<entry key="14" type="xint" value="4"/>
<entry key="15" type="xint" value="0"/>
<entry key="16" type="xint" value="1"/>
<entry key="17" type="xint" value="2"/>
<entry key="18" type="xint" value="3"/>
<entry key="19" type="xint" value="4"/>
<entry key="20" type="xint" value="0"/>
<entry key="21" type="xint" value="1"/>
<entry key="22" type="xint" value="2"/>
<entry key="23" type="xint" value="3"/>
<entry key="24" type="xint" value="4"/>
<entry key="25" type="xint" value="0"/>
<entry key="26" type="xint" value="1"/>
<entry key="27" type="xint" value="2"/>
<entry key="28" type="xint" value="3"/>
<entry key="29" type="xint" value="4"/>
</config>
<config key="values">
<entry key="array-size" type="xint" value="30"/>
<entry key="0" type="xstring" value="1"/>
<entry key="1" type="xstring" value="1"/>
<entry key="2" type="xstring" value="1"/>
<entry key="3" type="xstring" value="1"/>
<entry key="4" type="xstring" value="1"/>
<entry key="5" type="xstring" value="2"/>
<entry key="6" type="xstring" value="2"/>
<entry key="7" type="xstring" value="2"/>
<entry key="8" type="xstring" value="2"/>
<entry key="9" type="xstring" value="2"/>
<entry key="10" type="xstring" value="3"/>
<entry key="11" type="xstring" value="3"/>
<entry key="12" type="xstring" value="3"/>
<entry key="13" type="xstring" value="3"/>
<entry key="14" type="xstring" value="3"/>
<entry key="15" type="xstring" value="4"/>
<entry key="16" type="xstring" value="4"/>
<entry key="17" type="xstring" value="4"/>
<entry key="18" type="xstring" value="4"/>
<entry key="19" type="xstring" value="4"/>
<entry key="20" type="xstring" value="5"/>
<entry key="21" type="xstring" value="5"/>
<entry key="22" type="xstring" value="5"/>
<entry key="23" type="xstring" value="5"/>
<entry key="24" type="xstring" value="5"/>
<entry key="25" type="xstring" value="6"/>
<entry key="26" type="xstring" value="6"/>
<entry key="27" type="xstring" value="6"/>
<entry key="28" type="xstring" value="6"/>
<entry key="29" type="xstring" value="6"/>
</config>
<entry key="rowIdPrefix" type="xstring" value="Row"/>
<entry key="rowIdSuffix" type="xstring" value=""/>
<entry key="rowIdStartValue" type="xint" value="1"/>
<entry key="highlightOutputTable" type="xboolean" value="false"/>
<config key="columnProperties">
<config key="0">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="column1"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="1">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="column2"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="2">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="column3"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="3">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="column4"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="4">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="column5"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="name" type="xstring" value="Table Creator"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
