<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Sorter"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <config key="incllist">
      <entry key="array-size" type="xint" value="2"/>
      <entry key="0" type="xstring" value="Col1"/>
      <entry key="1" type="xstring" value="Col4"/>
    </config>
    <config key="sortOrder">
      <entry key="array-size" type="xint" value="2"/>
      <entry key="0" type="xboolean" value="false"/>
      <entry key="1" type="xboolean" value="true"/>
    </config>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
