<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Scorer"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="first" type="xstring" value="Col18"/>
    <entry key="second" type="xstring" value="Prediction (DecTree)"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
