<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.knime.workbench.repository.categories">
       <category
            icon="icons/test_category.png"
            level-id="hypothesis-testing"
            name="Hypothesis Testing"
            path="/analytics/statistics"/>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
        <node
              category-path="/analytics/statistics/hypothesis-testing"
              factory-class="org.knime.base.node.stats.testing.ttest.OneSampleTTestNodeFactory"
              >
        </node>
        <node
              after="org.knime.base.node.stats.testing.ttest.OneSampleTTestNodeFactory"
              category-path="/analytics/statistics/hypothesis-testing"
              factory-class="org.knime.base.node.stats.testing.ttest.TwoSampleTTestNodeFactory"
              >
        </node>        
        <node
              after="org.knime.base.node.stats.testing.ttest.TwoSampleTTestNodeFactory"
              category-path="/analytics/statistics/hypothesis-testing"
              factory-class="org.knime.base.node.stats.testing.ttest.PairedTTestNodeFactory"
              >
        </node>
        <node
              after="org.knime.base.node.stats.testing.ttest.PairedTTestNodeFactory"
              category-path="/analytics/statistics/hypothesis-testing"
              factory-class="org.knime.base.node.stats.testing.anova.OneWayANOVANodeFactory"
              >
        </node>
        <node
              after="org.knime.base.node.stats.correlation.rank.RankCorrelationComputeNodeFactory"
              category-path="/analytics/statistics"
              factory-class="org.knime.base.node.stats.viz.extended.ExtendedStatisticsNodeFactory"/>
        <node
              category-path="/analytics/statistics"
              factory-class="org.knime.base.node.stats.correlation.cronbach.CronbachNodeFactory">
        </node>
        <node
              after="org.knime.base.node.stats.correlation.cronbach.CronbachNodeFactory"
              category-path="/analytics/statistics"
              factory-class="org.knime.base.node.stats.correlation.standcronbach.StandCronbachNodeFactory">
        </node>
        <node
              after="org.knime.base.node.stats.correlation.standcronbach.StandCronbachNodeFactory"
              category-path="/analytics/statistics"
              factory-class="org.knime.base.node.stats.correlation.rank.RankCorrelationComputeNodeFactory">
        </node>
   </extension>
</plugin>
