<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Shape Manager"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="selected_column" type="xstring" value="class"/>
<entry key="Iris-setosa" type="xstring" value="Reverse Triangle"/>
<entry key="Iris-versicolor" type="xstring" value="Triangle"/>
<entry key="Iris-virginica" type="xstring" value="Rectangle"/>
<config key="values">
<entry key="array-size" type="xint" value="3"/>
<config key="0">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Iris-setosa"/>
</config>
</config>
<config key="1">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Iris-versicolor"/>
</config>
</config>
<config key="2">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Iris-virginica"/>
</config>
</config>
</config>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
</config>
</config>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
