<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="nodes" name="Node" schema="schema/Node.exsd"/>
   <extension-point id="categories" name="Category" schema="schema/Category.exsd"/>
   <extension-point id="metanode" name="MetaNode" schema="schema/metanode.exsd"/>
   <extension-point id="registeredFileExtensions" name="FileExtension" schema="schema/registeredFileExtensions.exsd"/>
   <extension-point id="nodesets" name="NodeSet" schema="schema/nodesets.exsd"/>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Node Repository"
            icon="icons/node_repository.png"
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.repository.view.DefaultRepositoryView"
            id="org.knime.workbench.repository.view.RepositoryView">
         <description>
            This contains all known nodes, grouped into categories, that can be used to model
a data &quot;workflow&quot;
         </description>
      </view>
   </extension>
   <extension
         id="NodeDocumentationGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.workbench.repository.util.NodeDocuGenerator">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.knime.workbench.repository.view.QuickNodeInsertionHandler"
            contextId="org.knime.workbench.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SPACE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command 
            categoryId="knime.command.category"
            defaultHandler="org.knime.workbench.repository.view.QuickNodeInsertionHandler"
            description="Quick Node Insertion"
            id="org.knime.workbench.repository.view.QuickNodeInsertionHandler"
            name="Quick Node Insertion">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:view?after=additions">
         <command
               commandId="org.knime.workbench.repository.view.QuickNodeInsertionHandler"
               icon="icons/search.gif"
               label="Quick Node Insertion..."
               style="push"
               tooltip="Dialog for searching and inserting nodes.">
         </command>
      </menuContribution>
   </extension>   
</plugin>
