<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="nodes" name="Node" schema="schema/Node.exsd"/>
   <extension-point id="categories" name="Category" schema="schema/Category.exsd"/>
   <extension-point id="metanode" name="MetaNode" schema="schema/metanode.exsd"/>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Node Repository"
            icon="icons/node_repository.png"
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.repository.view.RepositoryView"
            id="org.knime.workbench.repository.view.RepositoryView">
         <description>
            This contains all known nodes, grouped into categories, that can be used to model
a data &quot;workflow&quot;
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.preferences.HeadlessPreferencesInitializer">
      </initializer>
   </extension>

    <extension
          point="org.knime.workbench.repository.metanode">
       <PersistedMetaNode
             description="Provides a skeleton of nodes necessary for cross validation"
             icon="icons/meta_nodes/cross_validation.png"
             id="cross_validation"
             name="CrossValidation"
             workflowDir="metanode_templates/Cross Validation/">
       </PersistedMetaNode>
       <PersistedMetaNode
             expert-flag="true"
             icon="icons/meta_nodes/looper.png"
             id="variables_loop"
             name="Variables Loop"
             workflowDir="metanode_templates/Variables Loop/">
       </PersistedMetaNode>
       <PersistedMetaNode
             expert-flag="true"
             icon="icons/meta_nodes/looper_db.png"
             id="variables_loop_db"
             name="Variables Loop (DB)"
             workflowDir="metanode_templates/Variables Loop (DB)/">
       </PersistedMetaNode>
       <PersistedMetaNode
             category-path="/meta"
             description="Backward Feature Elimination"
             id="feature_elimination"
             name="Feature Elimination"
             workflowDir="metanode_templates/Feature Elimination/">
       </PersistedMetaNode>
       <PersistedMetaNode
             category-path="/meta"
             description="Iteratively executes the contained flow on a list of files. The list of files needs to be defined by the input table, whereby each row represents one individual file location."
             id="iterate_list_of_files"
             name="Iterate List of Files"
             workflowDir="metanode_templates/Iterate list of files/">
       </PersistedMetaNode>
       <PersistedMetaNode
             category-path="/meta"
             description="Executes the contained workflow multiple times. Aggregation method and termination criteration must be set using the loop start and end node contained in the workflow."
             id="looper"
             name="Loop x-times"
             workflowDir="metanode_templates/Looper/">
       </PersistedMetaNode>
    </extension>

</plugin>
