<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Bitvector Generator"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<entry key="THRESHOLD" type="xdouble" value="1.0"/>
<entry key="FROM_STRING" type="xboolean" value="false"/>
<entry key="STRING_COLUMN" type="xstring" isnull="true" value=""/>
<entry key="useMean" type="xboolean" value="true"/>
<entry key="meanThreshold" type="xint" value="110"/>
<entry key="stringType" type="xstring" value="BIT"/>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
</config>
<entry key="data_meta_file" type="xstring" value="data.xml"/>
<config key="model_files"/>
</config>
