<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Row Filter"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<config key="rowFilter">
<entry key="RowFilter_TypeID" type="xstring" value="ColVal_RowFilter"/>
<entry key="ColValRowFilterInclude" type="xboolean" value="true"/>
<entry key="ColValRowFilterColName" type="xstring" value="class"/>
<entry key="ColValRowFilterPattern" type="xstring" isnull="true" value=""/>
<entry key="ColValRowFilterCaseSense" type="xboolean" value="false"/>
<entry key="ColValRowFilterStart" type="xboolean" value="false"/>
<config key="ColValRowFilterLowerBound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="1"/>
</config>
</config>
<config key="ColValRowFilterUpperBound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="111"/>
</config>
</config>
</config>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
</config>
<entry key="data_meta_file" type="xstring" value="data.xml"/>
<config key="model_files"/>
</config>
