<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Java Scripting"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="expression" type="xstring" value="String name = $Cluster$;&#xa;String s = name;&#xa;if(name.equals(&quot;cluster_0&quot;)) {&#xa;s = &quot;saab&quot;;&#xa;} ;&#xa;if(name.equals(&quot;cluster_1&quot;)) {&#xa;s = &quot;bus&quot;;&#xa;} ;&#xa;if(name.equals(&quot;cluster_2&quot;)) {&#xa;s = &quot;opel&quot;;&#xa;} ;&#xa;if(name.equals(&quot;cluster_3&quot;)) {&#xa;s = &quot;van&quot;;&#xa;} ;&#xa;s&#xa;"/>
    <entry key="replaced_column" type="xstring" value="Cluster"/>
    <entry key="append_column" type="xboolean" value="true"/>
    <entry key="return_type" type="xstring" value="java.lang.String"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
