body {
	background-color: #fff;
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 10pt;
	padding: 0.1em 0.1em 1.5em 0.1em;
}

tt, pre {
	font-family: Courier New, Courier, Arial, Helvetica; 
	font-size: 14px;
}

p {
	text-align: justify;
	/*padding: 0 10px;*/
}



h1{
	font-size: 28px;
	text-align: center;
	border-bottom: thick solid #ffd600;
}

h2{
	font-size: 18px;
	/*padding-left: 5px;*/
	border-bottom: thin dotted #ffd600;
}

.deprecated {
	color: red; font-style: italic;
}

dl{
	margin-left: 1px;
	padding: 0;
}

dt {
	font-weight: bold;
	margin-bottom: 10px;
}

dd{
	margin-bottom: 20px; 
}

table{
	font-size:100%;
}

td{
	padding: 0.5em 0.5em;
	vertical-align:top;
}


.dt {
	font-weight: bold;
}

a{
	color: #000;
}
	
a:visited{
	color: #666;
}

.warn{
	color: #cf0000;
}