<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="settings">
            <entry key="has_column_header" type="xboolean" value="true"/>
            <entry key="has_row_id" type="xboolean" value="false"/>
            <entry key="support_short_data_rows" type="xboolean" value="false"/>
            <entry key="skip_empty_data_rows" type="xboolean" value="false"/>
            <entry key="prepend_file_idx_to_row_id" type="xboolean" value="false"/>
            <entry key="comment_char" type="xstring" value="#"/>
            <entry key="column_delimiter" type="xstring" value=","/>
            <entry key="quote_char" type="xstring" value="&quot;"/>
            <entry key="quote_escape_char" type="xstring" value="&quot;"/>
            <entry key="use_line_break_row_delimiter" type="xboolean" value="true"/>
            <entry key="row_delimiter" type="xstring" value="%%00010"/>
            <entry key="autodetect_buffer_size" type="xint" value="1048576"/>
            <config key="file_selection_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_ReaderFileChooser"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <config key="file_selection">
                <config key="file_system_chooser__Internals">
                    <entry key="has_fs_port" type="xboolean" value="false"/>
                    <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                    <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                    <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                    <entry key="mountpoint" type="xstring" value="product-workspace"/>
                    <entry key="spaceId" type="xstring" value=""/>
                    <entry key="spaceName" type="xstring" value=""/>
                    <entry key="custom_url_timeout" type="xint" value="10000"/>
                    <entry key="connected_fs" type="xboolean" value="true"/>
                </config>
                <config key="path">
                    <entry key="location_present" type="xboolean" value="true"/>
                    <entry key="file_system_type" type="xstring" value="LOCAL"/>
                    <entry key="path" type="xstring" value=""/>
                </config>
                <config key="filter_mode_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                    <entry key="EnabledStatus" type="xboolean" value="true"/>
                </config>
                <config key="filter_mode">
                    <entry key="filter_mode" type="xstring" value="FILE"/>
                    <entry key="include_subfolders" type="xboolean" value="false"/>
                    <config key="filter_options">
                        <entry key="filter_files_extension" type="xboolean" value="false"/>
                        <entry key="files_extension_expression" type="xstring" value=""/>
                        <entry key="files_extension_case_sensitive" type="xboolean" value="false"/>
                        <entry key="filter_files_name" type="xboolean" value="false"/>
                        <entry key="files_name_expression" type="xstring" value="*"/>
                        <entry key="files_name_case_sensitive" type="xboolean" value="false"/>
                        <entry key="files_name_filter_type" type="xstring" value="WILDCARD"/>
                        <entry key="include_hidden_files" type="xboolean" value="false"/>
                        <entry key="include_special_files" type="xboolean" value="true"/>
                        <entry key="filter_folders_name" type="xboolean" value="false"/>
                        <entry key="folders_name_expression" type="xstring" value="*"/>
                        <entry key="folders_name_case_sensitive" type="xboolean" value="false"/>
                        <entry key="folders_name_filter_type" type="xstring" value="WILDCARD"/>
                        <entry key="include_hidden_folders" type="xboolean" value="false"/>
                        <entry key="follow_links" type="xboolean" value="true"/>
                    </config>
                </config>
            </config>
        </config>
        <config key="advanced_settings">
            <entry key="spec_merge_mode_Internals" type="xstring" value="UNION"/>
            <entry key="fail_on_differing_specs" type="xboolean" value="true"/>
            <entry key="append_path_column_Internals" type="xboolean" value="false"/>
            <entry key="path_column_name_Internals" type="xstring" value="Path"/>
            <entry key="limit_data_rows_scanned" type="xboolean" value="true"/>
            <entry key="max_data_rows_scanned" type="xlong" value="10000"/>
            <entry key="save_table_spec_config_Internals" type="xboolean" value="true"/>
            <entry key="check_table_spec" type="xboolean" value="true"/>
            <entry key="limit_memory_per_column" type="xboolean" value="true"/>
            <entry key="maximum_number_of_columns" type="xint" value="8192"/>
            <entry key="quote_option" type="xstring" value="REMOVE_QUOTES_AND_TRIM"/>
            <entry key="replace_empty_quotes_with_missing" type="xboolean" value="true"/>
            <entry key="no_row_delimiters_in_quotes" type="xboolean" value="false"/>
            <entry key="min_chunk_size_in_bytes" type="xlong" value="67108864"/>
            <entry key="max_num_chunks_per_file" type="xint" value="8"/>
            <entry key="thousands_separator" type="xstring" value="%%00000"/>
            <entry key="decimal_separator" type="xstring" value="."/>
        </config>
        <config key="limit_rows">
            <entry key="skip_lines" type="xboolean" value="false"/>
            <entry key="number_of_lines_to_skip" type="xlong" value="1"/>
            <entry key="skip_data_rows" type="xboolean" value="false"/>
            <entry key="number_of_rows_to_skip" type="xlong" value="1"/>
            <entry key="limit_data_rows" type="xboolean" value="false"/>
            <entry key="max_rows" type="xlong" value="50"/>
        </config>
        <config key="encoding">
            <entry key="charset" type="xstring" value="UTF-8"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Component does not have input data, execute upstream nodes first"/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.base.node.io.filehandling.csv.reader.FileReaderNodeFactory"/>
    <entry key="node-name" type="xstring" value="File Reader"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.0.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Data Table"/>
    </config>
    <entry key="name" type="xstring" value="File Reader"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
