.fix-header {
	  border: solid 1px #e5e5e5;
  	  border-top-left-radius: 5px;
  	  border-top-right-radius: 5px;
  	  padding: 3px;
  	  background-color: #f0f0f2;
}

#fix-header {
	  position:absolute;
  	  top:0;
  	  width: 100%;
  	  z-index: 5;
}
