body {
	background-color: #fff;
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 10pt;
	padding: 0.1em 0.1em 1.5em 0.1em;
}

tt, pre {
	font-family: Courier New, Courier, Arial, Helvetica; 
	font-size: 110%;
}

p {
	text-align: justify;
	/*padding: 0 10px;*/
}



h1{
	font-size: 200%;
	text-align: center;
	border-bottom: thick solid #ffd600;
}

h2{
	font-size: 140%;
	/*padding-left: 5px;*/
	border-bottom: thin dotted #ffd600;
}

.deprecated {
	color: red; font-style: italic;
}

dl{
	margin-left: 1px;
	padding: 0;
}

dt {
	font-weight: bold;
	margin-bottom: 0.3em;
}

dd{
	margin-bottom: 1em;
	margin-left: 1.5em; 
}

table{
	font-size:100%;
}

table.introtable {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #666666;
    border-collapse:collapse;
}


table.introtable tr td,th {
    padding: 0.5em 0.5em;
    border: 1px solid #666666;
}


table.introtable tr th {
    background-color: #EEEEEE;
}


td{
	padding: 0.5em 0.5em;
	vertical-align:top;
}


.dt {
	font-weight: bold;
}

a{
	color: #000;
}
	
a:visited{
	color: #666;
}

.warn{
	color: #cf0000;
}

div.group {
    border: 1px solid #ffd600;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

div.groupname {
    text-align: center;
    font-weight: bold;
    background-color: #EEEEEE;
    padding: 0.1em;
}

div#origin-bundle {
    color: #cccccc;
    font-size: 70%;
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 1px solid #bbbbbb;
}