<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="variable-string"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="somevariable"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="variable-double"/>
<entry key="class" type="xstring" value="DOUBLE"/>
<entry key="value" type="xdouble" value="42.0"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="variable-int"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="100"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="parameterName" type="xstring" value="simple-input-variable"/>
<entry key="useFullyQualifiedName" type="xboolean" value="false"/>
<entry key="description" type="xstring" value=""/>
<entry key="inputPathOrUrl" type="xstring" isnull="true" value=""/>
<entry key="exampleInput" type="xstring" value="%%00010{%%00010    &quot;variables&quot;: [%%00010        {%%00010            &quot;variable-string&quot;: &quot;somevariable&quot;%%00010        },%%00010        {%%00010            &quot;variable-double&quot;: 42.0%%00010        },%%00010        {%%00010            &quot;variable-int&quot;: 100%%00010        }%%00010    ]%%00010}"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.json.node.container.input.variable.ContainerVariableInputNodeFactory"/>
<entry key="node-name" type="xstring" value="Container Input (Variable)"/>
<entry key="node-bundle-name" type="xstring" value="JSON related functionality for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.json"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.qualifier"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Container Input (Variable)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
