<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="CAIM Discretizer"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="classColumn" type="xstring" value="class"/>
<config key="includedColumns">
<entry key="array-size" type="xint" value="4"/>
<entry key="0" type="xstring" value="sepal length"/>
<entry key="1" type="xstring" value="sepal width"/>
<entry key="2" type="xstring" value="petal length"/>
<entry key="3" type="xstring" value="petal width"/>
</config>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
</config>
</config>
