<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "de/unikn/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Association Rule Learner"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="true"/>
  <config key="model">
    <entry key="BITVECTOR_COLUMN" type="xstring" value="BitVectors"/>
    <entry key="MAX_ITEMSET_LENGTH" type="xint" value="17"/>
    <entry key="MIN_SUPPORT" type="xdouble" value="0.9"/>
    <entry key="ITEMSET_TYPE" type="xstring" value="CLOSED"/>
    <entry key="SORT_BY" type="xstring" value="SUPPORT"/>
    <entry key="ASSOCIATION_RULES" type="xboolean" value="false"/>
    <entry key="CONFIDENCE" type="xdouble" value="0.8"/>
    <entry key="UNDERLYING_STRUCT" type="xstring" value="ARRAY"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
  <entry key="data_meta_file" type="xstring" value="data.xml"/>
  <config key="model_files">
    <entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
  </config>
</config>
