<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.quickform.nodes.in.integer.IntInputQuickFormInNodeFactory"/>
<entry key="node-name" type="xstring" value="Integer Input"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Nodes to create KNIME Quick Forms"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.quickform.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME.com, Zurich, Switzerland"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Prediction Lag"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Prediction Lag"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="label" type="xstring" value="Number (&gt;0) of Past Samples to use for Prediction:"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="variableName" type="xstring" value="Prediction Lag"/>
<entry key="weight" type="xint" value="3"/>
<entry key="hide_in_wizard" type="xboolean" value="false"/>
<config key="value">
<entry key="value" type="xint" value="1"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="name" type="xstring" value="Integer Input"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="cf5cfc7d-11db-4792-accf-548a0815be2c"/>
</config>
</config>
