<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="expression" type="xstring" value="return $Timeseries$-$Timeseries(-24)$;"/>
<entry key="header" type="xstring" value=""/>
<entry key="replaced_column" type="xstring" value="Timeseries(-24)"/>
<entry key="append_column" type="xboolean" value="true"/>
<entry key="test_compilation_on_dialog_close" type="xboolean" value="true"/>
<entry key="insert_missing_as_null" type="xboolean" value="false"/>
<entry key="return_type" type="xstring" value="java.lang.Double"/>
<entry key="is_array_return" type="xboolean" value="false"/>
<config key="java_libraries"/>
<entry key="expression_version" type="xint" value="2"/>
<config key="imports"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="seasonality%%00010 correction%%00010x(t) = x(t) -x(t-lag)"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="620"/>
<entry key="y-coordinate" type="xint" value="445"/>
<entry key="width" type="xint" value="101"/>
<entry key="height" type="xint" value="45"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.ext.sun.nodes.script.JavaScriptingNodeFactory"/>
<entry key="node-name" type="xstring" value="Java Snippet (simple)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME JavaScripting node"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.sun"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.10.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Java Snippet (simple)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
