<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="filechooser_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="filechooser">
<config key="file_system_chooser__Internals">
<entry key="has_fs_port" type="xboolean" value="false"/>
<entry key="relative_to" type="xstring" value="knime.workflow"/>
<entry key="mountpoint" type="xstring" value="LOCAL"/>
<entry key="custom_url_timeout" type="xint" value="1000"/>
</config>
<config key="location">
<entry key="location_present" type="xboolean" value="true"/>
<entry key="file_system_type" type="xstring" value="LOCAL"/>
<entry key="path" type="xstring" value=""/>
</config>
<config key="filter_mode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="filter_mode">
<entry key="filter_mode" type="xstring" value="FILE"/>
<entry key="include_subfolders" type="xboolean" value="false"/>
<config key="filter_options">
<entry key="filter_files_extension" type="xboolean" value="false"/>
<entry key="files_extension_expression" type="xstring" value=""/>
<entry key="files_extension_case_sensitive" type="xboolean" value="false"/>
<entry key="filter_files_name" type="xboolean" value="false"/>
<entry key="files_name_expression" type="xstring" value="*"/>
<entry key="files_name_case_sensitive" type="xboolean" value="false"/>
<entry key="files_name_filter_type" type="xstring" value="WILDCARD"/>
<entry key="include_hidden_files" type="xboolean" value="false"/>
<entry key="filter_folders_name" type="xboolean" value="false"/>
<entry key="folders_name_expression" type="xstring" value="*"/>
<entry key="folders_name_case_sensitive" type="xboolean" value="false"/>
<entry key="folders_name_filter_type" type="xstring" value="WILDCARD"/>
<entry key="include_hidden_folders" type="xboolean" value="false"/>
</config>
</config>
<entry key="create_parent_directories" type="xboolean" value="false"/>
<entry key="if_path_exists" type="xstring" value="fail"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Please specify a location"/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.io.filehandling.model.writer.ModelWriterNodeFactory"/>
<entry key="node-name" type="xstring" value="Model Writer (Labs)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.qualifier"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<config key="node_creation_config">
<config key="File System Connection"/>
<config key="Port Object"/>
</config>
<entry key="name" type="xstring" value="Model Writer (Labs)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
