<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "de/unikn/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Table Writer"/>
  <entry key="isConfigured" type="xboolean" value="false"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="inports">
    <entry key="0" type="xstring" value="Port [0]"/>
  </config>
  <config key="outports"/>
  <config key="model"/>
</config>
