<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="included_columns"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="symboling,normalized losses,make,fuel-type,aspiration,nr doors,body style,drive wheels,engine location,wheel base,length,width,height,curb weight,engine type,cylinders nr,engine size,fuel system,bore,stroke,compression ratio,horse power,peak rpm,city mpg,highway mpg,price"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="columns">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="26"/>
<entry key="0" type="xstring" value="symboling"/>
<entry key="1" type="xstring" value="normalized losses"/>
<entry key="2" type="xstring" value="make"/>
<entry key="3" type="xstring" value="fuel-type"/>
<entry key="4" type="xstring" value="aspiration"/>
<entry key="5" type="xstring" value="nr doors"/>
<entry key="6" type="xstring" value="body style"/>
<entry key="7" type="xstring" value="drive wheels"/>
<entry key="8" type="xstring" value="engine location"/>
<entry key="9" type="xstring" value="wheel base"/>
<entry key="10" type="xstring" value="length"/>
<entry key="11" type="xstring" value="width"/>
<entry key="12" type="xstring" value="height"/>
<entry key="13" type="xstring" value="curb weight"/>
<entry key="14" type="xstring" value="engine type"/>
<entry key="15" type="xstring" value="cylinders nr"/>
<entry key="16" type="xstring" value="engine size"/>
<entry key="17" type="xstring" value="fuel system"/>
<entry key="18" type="xstring" value="bore"/>
<entry key="19" type="xstring" value="stroke"/>
<entry key="20" type="xstring" value="compression ratio"/>
<entry key="21" type="xstring" value="horse power"/>
<entry key="22" type="xstring" value="peak rpm"/>
<entry key="23" type="xstring" value="city mpg"/>
<entry key="24" type="xstring" value="highway mpg"/>
<entry key="25" type="xstring" value="price"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<entry key="label" type="xstring" value="Select Columns"/>
<entry key="description" type="xstring" value="Please select the columns included in the clustering process"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="included_columns"/>
<entry key="flowvariablename" type="xstring" value="included_columns"/>
<config key="possibleColumns">
<entry key="array-size" type="xint" value="26"/>
<entry key="0" type="xstring" value="symboling"/>
<entry key="1" type="xstring" value="normalized losses"/>
<entry key="2" type="xstring" value="make"/>
<entry key="3" type="xstring" value="fuel-type"/>
<entry key="4" type="xstring" value="aspiration"/>
<entry key="5" type="xstring" value="nr doors"/>
<entry key="6" type="xstring" value="body style"/>
<entry key="7" type="xstring" value="drive wheels"/>
<entry key="8" type="xstring" value="engine location"/>
<entry key="9" type="xstring" value="wheel base"/>
<entry key="10" type="xstring" value="length"/>
<entry key="11" type="xstring" value="width"/>
<entry key="12" type="xstring" value="height"/>
<entry key="13" type="xstring" value="curb weight"/>
<entry key="14" type="xstring" value="engine type"/>
<entry key="15" type="xstring" value="cylinders nr"/>
<entry key="16" type="xstring" value="engine size"/>
<entry key="17" type="xstring" value="fuel system"/>
<entry key="18" type="xstring" value="bore"/>
<entry key="19" type="xstring" value="stroke"/>
<entry key="20" type="xstring" value="compression ratio"/>
<entry key="21" type="xstring" value="horse power"/>
<entry key="22" type="xstring" value="peak rpm"/>
<entry key="23" type="xstring" value="city mpg"/>
<entry key="24" type="xstring" value="highway mpg"/>
<entry key="25" type="xstring" value="price"/>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter (Labs)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Javascript Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter (Labs)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
