<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Numeric Binner"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <config key="Col1">
      <config key="Bin1">
        <entry key="bin_name" type="xstring" value="Bin1"/>
        <entry key="left_open" type="xboolean" value="true"/>
        <entry key="left_value" type="xdouble" value="-Infinity"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="4.0"/>
      </config>
      <config key="Bin2">
        <entry key="bin_name" type="xstring" value="Bin2"/>
        <entry key="left_open" type="xboolean" value="false"/>
        <entry key="left_value" type="xdouble" value="4.0"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="6.0"/>
      </config>
      <config key="Bin3">
        <entry key="bin_name" type="xstring" value="Bin3"/>
        <entry key="left_open" type="xboolean" value="false"/>
        <entry key="left_value" type="xdouble" value="6.0"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="Infinity"/>
      </config>
    </config>
    <entry key="Col1_is_appended" type="xstring" isnull="true" value=""/>
    <config key="Col0">
      <config key="Bin1">
        <entry key="bin_name" type="xstring" value="Bin1"/>
        <entry key="left_open" type="xboolean" value="true"/>
        <entry key="left_value" type="xdouble" value="-Infinity"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="5.0"/>
      </config>
      <config key="Bin2">
        <entry key="bin_name" type="xstring" value="Bin2"/>
        <entry key="left_open" type="xboolean" value="false"/>
        <entry key="left_value" type="xdouble" value="5.0"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="15.0"/>
      </config>
      <config key="Bin3">
        <entry key="bin_name" type="xstring" value="Bin3"/>
        <entry key="left_open" type="xboolean" value="false"/>
        <entry key="left_value" type="xdouble" value="15.0"/>
        <entry key="right_open" type="xboolean" value="true"/>
        <entry key="right_value" type="xdouble" value="Infinity"/>
      </config>
    </config>
    <entry key="Col0_is_appended" type="xstring" isnull="true" value=""/>
    <config key="binned_columns">
      <entry key="array-size" type="xint" value="2"/>
      <entry key="0" type="xstring" value="Col1"/>
      <entry key="1" type="xstring" value="Col0"/>
    </config>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
