<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Loop-0"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<entry key="integer" type="xint" value="0"/>
</config>
<entry key="label" type="xstring" value="Integer Input"/>
<entry key="description" type="xstring" value=""/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="int-input"/>
<entry key="flowvariablename" type="xstring" value="int-input"/>
<entry key="use_min" type="xboolean" value="true"/>
<entry key="use_max" type="xboolean" value="true"/>
<entry key="min" type="xint" value="0"/>
<entry key="max" type="xint" value="100"/>
</config>
<config key="variables">
<config key="flowvariablename">
<entry key="used_variable" type="xstring" value="col-name"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.input.integer.IntInputQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Integer Input (Labs)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Javascript Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Integer Input (Labs)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
