<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Table Reader"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="true"/>
  <config key="model">
    <entry key="filename" type="xstring" value="/net/privstud/bioml/ritmeier/arbeit/workspace/de.unikn.knime.testing/src/de/unikn/knime/testing/testWorkflows/transformation/testSMOTE/golden.output.table"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
  <entry key="data_meta_file" type="xstring" value="data.xml"/>
  <config key="model_files"/>
</config>
