<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Scatterplot"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<entry key="FromRow" type="xint" value="1"/>
<entry key="RowCount" type="xint" value="20000"/>
</config>
<config key="spec_files"/>
<config key="model_files"/>
</config>
