<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="SMOTE"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="method" type="xstring" value="oversample_all"/>
    <entry key="rate" type="xdouble" value="2.0"/>
    <entry key="class" type="xstring" value="Col4"/>
    <entry key="kNN" type="xint" value="5"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
