
body {
  margin: 2em 1em 2em 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: #ddeeff;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
:active { color: #C00; background: transparent }

th, li, td { /* ns 4 */
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 10pt;
	    font-weight: normal;
	    color: black;       
}

h1, h2, h3, h4, h5, h6 { text-align: left }
/* background should be transparent, but WebTV has a bug */
/* h1, h2, h3 { color: #005A9C; background: white } */
h1 { color: #FF0080; font-weight: bold; font-size: 400% }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }
div.head img { color: white; border: none } /* remove border from top image */

p.subhead { font-weight: bold; font-size: 140%; color: #FF0080; text-align: right;  }
.highlight { font-weight: bold; color: #FF0080 }
p.copyright { font-size: small }
p.copyright small { font-size: small }


td.head { background: #0000FF; font: bold 140%; font-size: big; color: #FFFFFF; text-align: left; } 
td.subhead { background: #0000FF; color: #FFFFFF; text-align: left; }
td.body { background: #00FFFF; text-align: left; } 

@media screen {  /* hide from IE3 */
a:hover { background: #ffa } 
}

pre { margin-left: 2em }
/*
p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
*/
dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre, code {
	    font-family: courier, monospace;
	    font-size: 10pt;
	    font-weight: normal;
	    color: blue;       
	}
code.bold {
	    font-family: courier, monospace;
	    font-size: 12pt;
	    font-weight: bold;
	    color: blue;       
	}	
ul.toc {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
}


