<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "de/unikn/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="C4.5 Predictor"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="UseGainRatio" type="xint" value="10000"/>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
