<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="isConfigured" type="xboolean" value="false"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="exclude">
<entry key="array-size" type="xint" value="6"/>
<entry key="0" type="xstring" value="Universe_0_0"/>
<entry key="1" type="xstring" value="Cluster Membership"/>
<entry key="2" type="xstring" value="seed"/>
<entry key="3" type="xstring" value="min_string_length"/>
<entry key="4" type="xstring" value="max_string_length"/>
<entry key="5" type="xstring" value="combined string"/>
</config>
</config>
<config key="model_files"/>
</config>
