<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="NodeExecutionJobManagerFactory" name="NodeExecutionJobManagerFactory" schema="schema/org.knime.core.NodeExecutionJobManagerFactory.exsd"/>
   <extension
         point="org.knime.core.NodeExecutionJobManagerFactory">
      <NodeExecutionJobManagerFactory
            JobManagerFactory="org.knime.core.node.exec.ThreadNodeExecutionJobManagerFactory">
      </NodeExecutionJobManagerFactory>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.core.node.workflow.virtual.parallelchunkend.ParallelChunkEndNodeFactory"
            id="org.knime.core.node.workflow.virtual.parallelchunkend.ParallelChunkEndNodeFactory">
      </node>
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.core.node.workflow.virtual.parallelchunkendmultiport.ParallelChunkEndMultiPortNodeFactory"
            id="org.knime.core.node.workflow.virtual.parallelchunkend.ParallelChunkEndMultiPortNodeFactory">
      </node>
      <node
            expert-flag="false"
            factory-class="org.knime.core.node.workflow.virtual.parallelchunkstart.ParallelChunkStartNodeFactory"
            id="org.knime.core.node.workflow.virtual.parallelchunkstart.ParallelChunkStartNodeFactory">
      </node>
   </extension>
    
</plugin>
