<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="multipleInstanceViews" name="KNIME multiple instances views" schema="schema/multipleInstanceViews.exsd"/>
   <extension-point id="startupMessages" name="StartupMessages" schema="schema/startupMessages.exsd"/>
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="KNIME"
            icon="icons/knime_default.png"
            class="org.knime.workbench.ui.perspective.ModellerPerspectiveFactory"
            id="org.knime.workbench.ui.ModellerPerspective">
         <description>
            KNIME Analytics Platform
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <view
               id="org.knime.workbench.explorer.view"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="org.knime.workbench.repository.view.RepositoryView"
               moveable="true"
               ratio="0.3"
               relationship="bottom"
               relative="org.knime.workbench.explorer.view"/>
         <view
               closeable="true"
               visible="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.console.ConsoleView"/>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <!--view
               closeable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               id="org.eclipse.ui.views.ProgressView"/-->
         <view
               closeable="true"
               id="org.knime.workbench.helpview"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
         <view
               closeable="true"
               id="org.knime.workbench.ui.favorites"
               moveable="true"
               ratio="0.2"
               relationship="top"
               relative="org.knime.workbench.repository.view.RepositoryView"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="org.knime.workbench.explorer.view">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <!--viewShortcut id="org.eclipse.ui.views.ProgressView"/-->
         <viewShortcut id="org.knime.workbench.helpview"/>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <viewShortcut id="org.knime.workbench.ui.navigator.KnimeResourceNavigator"/>
         <viewShortcut id="org.knime.workbench.repository.view.RepositoryView"/>
         <viewShortcut id="org.knime.workbench.ui.favorites">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.newworkflowgroup">
         </newWizardShortcut>
         <perspectiveShortcut id="org.knime.workbench.ui.ModellerPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="KNIME"
            id="org.knime.workbench.ui.wizards.category">
      </category>
      <wizard
            id="org.knime.workbench.ui.wizards.project.NewProjectWizard"
            name="New KNIME Workflow"
            category="org.knime.workbench.ui.wizards.category"
            class="org.knime.workbench.ui.wizards.project.NewProjectWizard"
            descriptionImage="icons/new_knime48.png"
            icon="icons/new_knime16.png"
            finalPerspective="org.knime.workbench.ui.ModellerPerspective"
            project="true"
            preferredPerspectives="org.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new KNIME workflow project.
         </description>
      </wizard>
      <wizard
            id="org.knime.workbench.ui.newworkflowgroup"
            name="New KNIME Workflow Group"
            category="org.knime.workbench.ui.wizards.category"
            class="org.knime.workbench.ui.wizards.workflowgroup.NewWorkflowGroupProjectWizard"
            descriptionImage="icons/new_knime48.png"
            finalPerspective="org.knime.workbench.ui.ModellerPerspective"
            icon="icons/new_knime16.png"
            preferredPerspectives="org.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new workflow group helping to organize your workflows.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.MainPreferencePage"
            id="org.knime.workbench.ui.preferences.gui"
            name="KNIME GUI">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.masterkey.MasterKeyPreferencePage"
            id="org.knime.workbench.ui.preferences.masterkey"
            name="Master Key">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.database.DatabasePreferencePage"
            id="org.knime.workbench.ui.preferences.database"
            name="Databases">
      </page>
      <page
            class="org.knime.workbench.ui.preferences.HeadlessPreferencePage"
            id="org.knime.workbench.ui.preferences"
            name="KNIME">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.MetaInfoPreferencePage"
            id="org.knime.workbench.ui.metainfo"
            name="Meta Info Preferences">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.PreferredRendererPreferencePage"
            id="org.knime.workbench.ui.preferredRenderers"
            name="Preferred Renderers">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="KNIMEProjectBuilder"
         name="KNIMEProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.knime.workbench.ui.builder.KNIMEProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="KNIMEProjectNature"
         name="KNIME project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.knime.workbench.ui.nature.KNIMEProjectNature">
         </run>
      </runtime>
   </extension>
      <extension
         id="KNIMEWorkflowsetProject"
         name="KNIME Workflow Set Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.knime.workbench.ui.nature.KNIMEWorkflowSetProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.knime.workbench.ui.category"
            name="KNIME Views"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.knime.workbench.explorer.view.actions.export.WorkflowExportWizard"
            icon="icons/knime_export.png"
            id="org.knime.workbench.explorer.view.actions.export.WorkflowExportWizard"
            name="Export KNIME Workflow"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.knime.workbench.explorer.view.actions.imports.WorkflowImportWizard"
            icon="icons/knime_import.png"
            id="org.knime.workbench.explorer.view.actions.imports.WorkflowImportWizard"
            name="Import KNIME Workflow"/>
   </extension>
   
   <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.favorites.FavoritesView"
             icon="icons/fav/fav_nodes.png"
             id="org.knime.workbench.ui.favorites"
             name="Favorite Nodes">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
             id="org.knime.workbench.ui.favorites.actions"
             targetID="org.knime.workbench.ui.favorites">
          <action
                class="org.knime.workbench.ui.favorites.actions.RemoveFavoriteActionDelegate"
                disabledIcon="icons/fav/remove_fav_disabled.png"
                hoverIcon="icons/fav/remove_fav.png"
                icon="icons/fav/remove_fav.png"
                id="org.knime.workbench.ui.favorites.remove"
                label="Remove selected"
                state="false"
                style="push"
                toolbarPath="Normal/additions"
                tooltip="Removes the selected favorite node">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ClearHistoryActionDelegate"
                icon="icons/fav/clear_history.png"
                id="org.knime.workbench.ui.favorites.clear"
                label="Clear History"
                toolbarPath="Normal/additions"
                tooltip="Clear history (frequent and last used nodes)">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ExpandAllActionDelegate"
                icon="icons/fav/expandall.png"
                id="org.knime.workbench.ui.favorites.expand"
                label="Expand All"
                toolbarPath="Normal/additions"
                tooltip="Expands all tree items">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.CollapseAllActionDelegate"
                icon="icons/fav/collapseall.png"
                id="org.knime.workbench.ui.favorites.collapse"
                label="Collapse All"
                toolbarPath="Normal/additions"
                tooltip="Collapses all tree items">
          </action>
       </viewContribution>
    </extension>
    
       <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Workflow Set Meta Information Editor"
            extensions="meta"
            icon="icons/meta_info_edit.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.knime.workbench.ui.metainfo.editor.WorkflowSetMetaInfoEditor"
            id="org.knime.workbench.meta.editor.editor.WorkflowSetMetaInfoEditor">
      </editor>
   </extension>
       <extension
             point="org.eclipse.ui.actionSets">
          <actionSet
                id="org.knime.workbench.ui.global"
                label="KNIME"
                visible="true">
             <action
                   class="org.knime.workbench.ui.OpenLogfileAction"
                   hoverIcon="icons/open_logfile.png"
                   icon="icons/open_logfile.png"
                   id="org.knime.workbench.ui.openLogfile"
                   label="Open KNIME log"
                   menubarPath="view/knimelog"
                   tooltip="Opens KNIME&apos;s log file in a text editor">
             </action>
          </actionSet>
       </extension>
       <extension
             point="org.eclipse.core.contenttype.contentTypes">
          <content-type
                base-type="org.eclipse.core.runtime.text"
                file-extensions="log"
                id="org.knime.workbench.ui.log"
                name="Log files"
                priority="normal">
          </content-type>
       </extension>
       <extension
             point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.startup.view.StartupMessagesView"
             icon="icons/startupMessages.png"
             id="org.knime.workbench.ui.startupMessages"
             name="Startup Messages">
       </view>
       </extension>
   
</plugin>
