<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension
         point="org.eclipse.ui.views">
      <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.ui.navigator.KnimeResourceNavigator"
            icon="icons/workflow_projects.png"
            id="org.knime.workbench.ui.navigator.KnimeResourceNavigator"
            name="Workflow Projects"/>
   </extension>

     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="KNIME"
            icon="icons/perspective.png"
            class="org.knime.workbench.ui.perspective.ModellerPerspectiveFactory"
            id="org.knime.workbench.ui.ModellerPerspective">
         <description>
            Konstanz Information Miner
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <view
               closeable="false"
               id="org.knime.workbench.ui.navigator.KnimeResourceNavigator"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"/>
         <view
               closeable="false"
               id="org.knime.workbench.repository.view.RepositoryView"
               moveable="true"
               ratio="0.3"
               relationship="bottom"
               relative="org.knime.workbench.ui.navigator.KnimeResourceNavigator"/>
         <view
               closeable="true"
               visible="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.console.ConsoleView"/>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <!--view
               closeable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               id="org.eclipse.ui.views.ProgressView"/-->
         <view
               closeable="true"
               id="org.knime.workbench.helpview"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
         <view
               closeable="true"
               id="org.knime.workbench.ui.favorites"
               moveable="true"
               ratio="0.2"
               relationship="top"
               relative="org.knime.workbench.repository.view.RepositoryView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.knime.workbench.ui.metanodes.MetaNodeTemplateRepositoryView"
               moveable="false"
               ratio="0.3"
               relationship="stack"
               relative="org.knime.workbench.repository.view.RepositoryView"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <!--viewShortcut id="org.eclipse.ui.views.ProgressView"/-->
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.knime.workbench.helpview"/>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <viewShortcut id="org.knime.workbench.ui.navigator.KnimeResourceNavigator"/>
         <viewShortcut id="org.knime.workbench.repository.view.RepositoryView"/>
         <viewShortcut
               id="org.knime.workbench.ui.favorites">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <perspectiveShortcut id="org.knime.workbench.ui.ModellerPerspective"/>
         <!--newWizardShortcut
               id="org.knime.workbench.ui.wizards.file.NewWorkflowWizard">
         </newWizardShortcut-->
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
      </primaryWizard>
      <!--primaryWizard id="org.knime.workbench.ui.wizards.file.NewWorkflowWizard"/-->
      <category
            name="Konstanz Information Miner"
            id="org.knime.workbench.ui.wizards.category">
      </category>
      <wizard
            name="New KNIME Project"
            id="org.knime.workbench.ui.wizards.project.NewProjectWizard"
            category="org.knime.workbench.ui.wizards.category"
            class="org.knime.workbench.ui.wizards.project.NewProjectWizard"
            descriptionImage="icons/projectWizard32x32.png"
            icon="icons/projectWizard16x16.png"
            finalPerspective="org.knime.workbench.ui.ModellerPerspective"
            project="true"
            preferredPerspectives="org.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new KNIME workflow project.
         </description>
      </wizard>
      <!--wizard
            name="New KNIME Workflow"
            id="org.knime.workbench.ui.wizards.file.NewWorkflowWizard"
            category="org.knime.workbench.ui.wizards.category"
            class="org.knime.workbench.ui.wizards.file.NewWorkflowWizard"
            descriptionImage="icons/workflowWizard32x32.png"
            icon="icons/workflowWizard16x16.png"
            finalPerspective="org.knime.workbench.ui.ModellerPerspective"
            project="false"
            preferredPerspectives="org.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new KNIME workflow file (*.knime) inside a given project.
         </description>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.headless"
            class="org.knime.workbench.ui.preferences.MainPreferencePage"
            id="org.knime.workbench.ui.preferences.gui"
            name="KNIME GUI">
      </page>
      <page
            category="org.knime.workbench.ui.headless"
            class="org.knime.workbench.ui.masterkey.MasterKeyPreferencePage"
            id="org.knime.workbench.ui.preferences.masterkey"
            name="Master Key">
      </page>
      <page
            class="org.knime.workbench.ui.preferences.HeadlessPreferencePage"
            id="org.knime.workbench.ui.headless"
            name="KNIME">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="KNIMEProjectBuilder"
         name="KNIMEProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.knime.workbench.ui.builder.KNIMEProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="KNIMEProjectNature"
         name="KNIME project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.knime.workbench.ui.nature.KNIMEProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.knime.workbench.ui.category"
            name="KNIME Views"/>
      <view
            allowMultiple="true"
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.ui.views.EmbeddedNodeView"
            icon="icons/knime.png"
            id="org.knime.workbench.ui.views.EmbeddedNodeView"
            name="Node View"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.knime.workbench.ui.actionSet1"
            label="org.knime.workbench.ui.actionSet1"
            visible="true">
         <menu
               id="org.knime.workbench.ui.menu1"
               label="View2"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.knime.workbench.ui.wizards.export.WorkflowExportWizard"
            icon="icons/projectWizard16x16.png"
            id="org.knime.workbench.ui.wizards.export.WorkflowExportWizard"
            name="Export Knime Workflow"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.knime.workbench.ui.wizards.imports.WorkflowImportWizard"
            icon="icons/projectWizard16x16.png"
            id="org.knime.workbench.ui.wizards.imports.WorkflowImportWizard"
            name="Import Knime Workflow"/>
   </extension>
   
   <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.favorites.FavoritesView"
             icon="icons/fav/fav_nodes.png"
             id="org.knime.workbench.ui.favorites"
             name="Favorite Nodes">
       </view>
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.metanodes.MetaNodeTemplateRepositoryView"
             icon="icons/meta/metanode_template_repository.png"
             id="org.knime.workbench.ui.metanodes.MetaNodeTemplateRepositoryView"
             name="MetaNode Template Repository">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
             id="org.knime.workbench.ui.favorites.actions"
             targetID="org.knime.workbench.ui.favorites">
          <action
                class="org.knime.workbench.ui.favorites.actions.RemoveFavoriteActionDelegate"
                disabledIcon="icons/fav/remove_fav_disabled.png"
                hoverIcon="icons/fav/remove_fav.png"
                icon="icons/fav/remove_fav.png"
                id="org.knime.workbench.ui.favorites.remove"
                label="Remove selected"
                state="false"
                style="push"
                toolbarPath="Normal/additions"
                tooltip="Removes the selected favorite node">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ClearHistoryActionDelegate"
                icon="icons/fav/clear_history.png"
                id="org.knime.workbench.ui.favorites.clear"
                label="Clear History"
                toolbarPath="Normal/additions"
                tooltip="Clear history (frequent and last used nodes)">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ExpandAllActionDelegate"
                icon="icons/fav/expandall.png"
                id="org.knime.workbench.ui.favorites.expand"
                label="Expand All"
                toolbarPath="Normal/additions"
                tooltip="Expands all tree items">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.CollapseAllActionDelegate"
                icon="icons/fav/collapseall.png"
                id="org.knime.workbench.ui.favorites.collapse"
                label="Collapse All"
                toolbarPath="Normal/additions"
                tooltip="Collapses all tree items">
          </action>
       </viewContribution>
       <viewContribution
             id="org.knime.workbench.ui.metanodetemplates.actions"
             targetID="org.knime.workbench.ui.metanodes.MetaNodeTemplateRepositoryView">
          <action
                class="org.knime.workbench.ui.metanodes.RemoveMetaNodeTemplateActionDelegate"
                disabledIcon="icons/fav/remove_fav_disabled.png"
                hoverIcon="icons/fav/remove_fav.png"
                icon="icons/fav/remove_fav.png"
                id="org.knime.workbench.ui.metanodetemplates.remove"
                label="Remove Selected"
                state="false"
                style="push"
                toolbarPath="Normal/additions"
                tooltip="Remove selected meta node template">
          </action>
       </viewContribution>
    </extension>
   

</plugin>
