<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.gateway.services.ServiceFactory">
      <ServiceFactory
            ServiceFactory="org.knime.gateway.jsonrpc.local.JsonRpcClientServiceFactory">
      </ServiceFactory>
   </extension>

</plugin>
