<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <servlet>
    <servlet-name>Fop</servlet-name>
    <servlet-class>FopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FopPrint</servlet-name>
    <servlet-class>FopPrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fop</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FopPrint</servlet-name>
    <url-pattern>/fopprint</url-pattern>
  </servlet-mapping>
</web-app>
