<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Histogram"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings"/>
<config key="model">
<config key="allRows_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="allRows" type="xboolean" value="false"/>
<config key="noOfRows_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="noOfRows" type="xint" value="322"/>
<config key="HistogramXColName_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="HistogramXColName" type="xstring" value="Negative salary 87"/>
<config key="aggrColumn_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_colorColumns"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="aggrColumn">
<config key="colorColumnNames">
<entry key="array-size" type="xint" value="5"/>
<entry key="0" type="xstring" value="At Bats"/>
<entry key="1" type="xstring" value="Home Runs"/>
<entry key="2" type="xstring" value="Runs"/>
<entry key="3" type="xstring" value="Rbi"/>
<entry key="4" type="xstring" value="Negative Salary 87 &gt;1000"/>
</config>
<entry key="At Bats" type="xint" value="-65536"/>
<entry key="Home Runs" type="xint" value="-3342592"/>
<entry key="Runs" type="xint" value="-16711834"/>
<entry key="Rbi" type="xint" value="-16750849"/>
<entry key="Negative Salary 87 &gt;1000" type="xint" value="-3407617"/>
</config>
<config key="noOfBins_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="noOfBins" type="xint" value="10"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
</config>
<config key="model_files"/>
</config>
