<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="nodetriples" name="Node Triple Provider Factory" schema="schema/nodetriples.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.workflowcoach.ui.WorkflowCoachView"
            icon="icons/workflow-coach.png"
            id="org.knime.workbench.workflowcoach.view"
            name="Workflow Coach"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.workflowcoach.prefs.WorkflowCoachPreferencePage"
            id="org.knime.workbench.workflowcoach"
            name="Workflow Coach">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.workflowcoach.prefs.WorkflowCoachPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
