<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Difference Checker"/>
<entry key="isConfigured" type="xboolean" value="false"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings"/>
<config key="model">
<entry key="TESTEVALUATOR" type="xstring" value="TableDiffer"/>
</config>
<config key="model_files"/>
</config>
