<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Table Reader"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="filename_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="filename" type="xstring" value="E:\tmp\rowFilterTestTable.table"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
</config>
</config>
<config key="model_files"/>
</config>
