<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="File Reader"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="true"/>
  <config key="model">
    <config key="Delimiters">
      <config key="Delim0">
        <entry key="pattern" type="xstring" value="&#xa;"/>
        <entry key="combineMultiple" type="xboolean" value="true"/>
        <entry key="includeInToken" type="xboolean" value="false"/>
        <entry key="returnAsToken" type="xboolean" value="true"/>
      </config>
      <config key="Delim1">
        <entry key="pattern" type="xstring" value=" "/>
        <entry key="combineMultiple" type="xboolean" value="true"/>
        <entry key="includeInToken" type="xboolean" value="false"/>
        <entry key="returnAsToken" type="xboolean" value="false"/>
      </config>
    </config>
    <config key="Quotes">
      <config key="Quote0">
        <entry key="left" type="xstring" value="&quot;"/>
        <entry key="right" type="xstring" value="&quot;"/>
        <entry key="EscChar" type="xchar" value="\"/>
      </config>
      <config key="Quote1">
        <entry key="left" type="xstring" value="'"/>
        <entry key="right" type="xstring" value="'"/>
        <entry key="EscChar" type="xchar" value="\"/>
      </config>
    </config>
    <config key="Comments">
      <config key="Comment0">
        <entry key="begin" type="xstring" value="//"/>
        <entry key="end" type="xstring" value="&#xa;"/>
        <entry key="includeInToken" type="xboolean" value="false"/>
        <entry key="returnAsToken" type="xboolean" value="false"/>
      </config>
      <config key="Comment1">
        <entry key="begin" type="xstring" value="/*"/>
        <entry key="end" type="xstring" value="*/"/>
        <entry key="includeInToken" type="xboolean" value="false"/>
        <entry key="returnAsToken" type="xboolean" value="false"/>
      </config>
    </config>
    <config key="WhiteSpaces">
      <entry key="WhiteSpace0" type="xstring" value=" "/>
      <entry key="WhiteSpace1" type="xstring" value="&#x9;"/>
    </config>
    <entry key="CombineMultDelims" type="xboolean" value="false"/>
    <entry key="DataURL" type="xstring" value="file:/home/tom/arbeit/letter/data.all"/>
    <entry key="TableName" type="xstring" value="data.all"/>
    <entry key="hasColHdr" type="xboolean" value="false"/>
    <entry key="hasRowHdr" type="xboolean" value="false"/>
    <entry key="ignoreEmptyLines" type="xboolean" value="true"/>
    <entry key="rowPrefix" type="xstring" value="Row"/>
    <config key="RowDelims">
      <entry key="RDelim0" type="xstring" value="&#xa;"/>
      <entry key="SkipEmptyLine0" type="xboolean" value="true"/>
    </config>
    <config key="MissingPatterns"/>
    <entry key="DecimalSeparator" type="xchar" value="."/>
    <entry key="ignEmtpyTokensAtEOR" type="xboolean" value="true"/>
    <entry key="numOfColumns" type="xint" value="17"/>
    <config key="ColumnProperties">
      <config key="0">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col0"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="1">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col1"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="2">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col2"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="3">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col3"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="4">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col4"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="5">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col5"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="6">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col6"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="7">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col7"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="8">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col8"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="9">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col9"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="10">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col10"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="11">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col11"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="12">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col12"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="13">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col13"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="14">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col14"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="15">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col15"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
      <config key="16">
        <entry key="UserSetValues" type="xboolean" value="false"/>
        <entry key="MissValuePattern" type="xstring" value="?"/>
        <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
        <entry key="ColumnName" type="xstring" value="Col16"/>
        <config key="ColumnClass">
          <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
          <entry key="is_null" type="xboolean" value="false"/>
        </config>
      </config>
    </config>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
  <entry key="data_meta_file" type="xstring" value="data.xml"/>
  <config key="model_files"/>
</config>
