<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="metanode_porttype" name="Port Type for Meta Node Wizard" schema="schema/metanode_portype.exsd"/>
     <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands available for the workflow editor"
            name="KNIME Workflow Editor commands"
            id="knime.command.category"/>
      <command
            categoryId="knime.command.category"
            description="Opens the settings dialog for the grid of the workflow editor"
            id="knime.commands.editor.gridSettings"
            name="Grid Settings..."/>
      <command
            categoryId="knime.command.category"
            description="Toggles the snap to grid behavior of the workflow editor"
            id="knime.commands.editor.toggleGrid"
            name="Toggle Snap to Grid"/>
      <command
            categoryId="knime.command.category"
            description="Opens the settings dialog for the Wrapped Node layout."
            id="knime.commands.editor.subnodeLayout"
            name="Wrapped Node Layout">
      </command>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes up"
            id="knime.commands.editor.moveNodesUp"
            name="Move Nodes Up"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes down"
            id="knime.commands.editor.moveNodesDown"
            name="Move Nodes Down"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes to the left"
            id="knime.commands.editor.moveNodesLeft"
            name="Move Nodes Left"/>
      <command
            categoryId="knime.command.category"
            description="Moves the selected nodes to the right"
            id="knime.commands.editor.moveNodesRight"
            name="Move Nodes Right"/>
     <command
            categoryId="knime.command.category"
            description="Brings the selected annotation to front"
            id="knime.commands.editor.bringToFront"
            name="Bring to Front"/>
     <command
            categoryId="knime.command.category"
            description="Sends the selected annotation to the back"
            id="knime.commands.editor.sendToBack"
            name="Send to Back"/>
      <command
            categoryId="knime.command.category"
            description="Opens the configuration dialog on the selected node"
            id="knime.commands.openDialog"
            name="Configure..."/>
      <command
            categoryId="knime.command.category"
            description="Execute workflow up to here"
            id="knime.commands.execute"
            name="Execute"/>
      <command
            categoryId="knime.command.category"
            description="Execute all"
            id="knime.commands.executeall"
            name="Execute All"/>
      <command
            categoryId="knime.command.category"
            description="Cancel"
            id="knime.commands.cancel"
            name="Cancel"/>
      <command
            categoryId="knime.command.category"
            description="Cancel all"
            id="knime.commands.cancelall"
            name="Cancel All"/>  
      <command
            categoryId="knime.command.category"
            description="Reset node"
            id="knime.commands.reset"
            name="Reset"/>
      <command
            categoryId="knime.command.category"
            description="Hide node names"
            id="knime.commands.hideNodeNames"
            name="Hide Node Names"/>
      <command
            categoryId="knime.command.category"
            description="Append IDs to the node names"
            id="knime.commands.appendNodeIds"
            name="Hide Node Names"/>
      <command
            categoryId="knime.command.category"
            description="Open first view for selected nodes"
            id="knime.commands.openView"
            name="Open View"/>
      <command
            categoryId="knime.command.category"
            description="Execute all selected nodes and open first view"
            id="knime.commands.executeAndOpenView"
            name="Execute and Open View"/>
      <command
            categoryId="knime.command.category"
            description="Edit custom description for the selected node"
            id="knime.commands.setNameAndDescription"
            name="Edit Node Description..."/>
      <command
            categoryId="knime.command.category"
            description="Open first out-port view for selected nodes"
            id="knime.commands.openFirstOutPortView"
            name="Open First Out-port View"/>
      <command
            categoryId="knime.command.category"
            description="Open wizard to add meta node"
            id="knime.commands.addMetaNode"
            name="Open Meta Node Wizard..."/>
      <command
            categoryId="knime.command.category"
            description="Checks and updates meta node links"
            id="knime.commands.updateMetaNodeLink"
            name="Update meta node link"/>
      <command
            categoryId="knime.command.category"
            description="Do one loop step"
            id="knime.commands.steploop"
            name="Do one loop step"/>
      <command
            categoryId="knime.command.category"
            description="Pause loop execution"
            id="knime.commands.pauseexecution"
            name="Pause loop execution"/>  
      <command
            categoryId="knime.command.category"
            description="Resume loop execution"
            id="knime.commands.resumeloop"
            name="Resume loop execution"/>       
      <command
            categoryId="knime.command.category"
            description="Select surrounding loop"
            id="knime.action.selectLoop"
            name="Select all of the nodes contained within the surrounding loop"/>       
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.knime.workbench.editor2.WorkflowEditor"
            contributorClass="org.knime.workbench.editor2.WorkflowEditorActionBarContributor"
            default="true"
            extensions="knime"
            filenames="knime"
            icon="icons/knime.png"
            id="org.knime.workbench.editor.WorkflowEditor"
            name="KNIME Workflow Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.knime.workbench.editor.editorContribution"
            targetID="org.knime.workbench.editor.WorkflowEditor">
         <menu
               id="org.knime.workbench.editor.menu"
               label="Node"
               path="additions">
            <groupMarker name="group1"/>
            <groupMarker name="group2">
            </groupMarker>
         </menu>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ResumeLoopEditorAction"
               definitionId="knime.commands.resumeloop"
               disabledIcon="icons/resume_disabled.PNG"
               icon="icons/resume.png"
               id="org.knime.workbench.editor.actions.resumeloop"
               label="Resume Loop Execution"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Resume loop execution"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.PauseLoopExecutionEditorAction"
               definitionId="knime.commands.pauseexecution"
               disabledIcon="icons/pause_disabled.png"
               icon="icons/pause.png"
               id="org.knime.workbench.editor.actions.pauseexecution"
               label="Pause Execution"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Pause execution"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.StepLoopEditorAction"
               definitionId="knime.commands.steploop"
               disabledIcon="icons/step_disabled.png"
               icon="icons/step.png"
               id="org.knime.workbench.editor.actions.stepLoop"
               label="Step Loop Execution"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Do one loop step"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.HideNodeNamesEditorAction"
               definitionId="knime.commands.hideNodeNames"
               disabledIcon="icons/hideNodeNames_disabled.png"
               icon="icons/hideNodeNames.png"
               id="org.knime.workbench.editor.actions.hideNodeNames"
               label="Hide Node Names"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="toggle"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Hide all node names"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ShowNodeIdsEditorAction"
               definitionId="knime.commands.appendNodeIds"
               disabledIcon="icons/showNodeIds_disabled.png"
               icon="icons/showNodeIds.png"
               id="org.knime.workbench.editor.actions.appendNodeIds"
               label="Show Node IDs"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="toggle"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Append the IDs to node names"/>
         <action
               class="org.knime.workbench.editor2.actions.AddMetaNodeAction"
               definitionId="knime.commands.addMetaNode"
               disabledIcon="icons/meta/metanode_add.png"
               icon="icons/meta/metanode_add.png"
               id="org.knime.workbench.editor.meta"
               label="Open Meta Node Wizard..."
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Opens the Add Meta Node Wizard"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.CheckUpdateMetaNodeLinkAllEditorAction"    
               definitionId="knime.commands.updateMetaNodeLink"
               disabledIcon="icons/meta/metanode_link_update.png"
               icon="icons/meta/metanode_link_update.png"
               id="knime.action.meta_node_check_update_link_all"
               label="Update Meta Node Links"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               tooltip="Check and update meta node links"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.DefaultOpenViewEditorAction"
               definitionId="knime.commands.openView"
               disabledIcon="icons/openView_disabled.gif"
               icon="icons/openView.gif"
               id="org.knime.workbench.editor.actions.defaultOpen"
               label="Open First View"
               menubarPath="org.knime.workbench.editor.menu/group1"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Opens the first view of the selected nodes"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenFirstOutPortViewEditorAction"
               definitionId="knime.commands.openFirstOutPortView"
               disabledIcon="icons/openPortView_disabled.png"
               icon="icons/openPortView.png"
               id="org.knime.workbench.editor.actions.openFirstOutPortView"
               label="Open First Out-Port View"
               menubarPath="org.knime.workbench.editor.menu/group1"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Opens the first out-port view of the selected nodes"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.SetNodeDescriptionEditorAction"
               definitionId="knime.commands.setNameAndDescription"
               disabledIcon="icons/setNameDescription_disabled.PNG"
               icon="icons/setNameDescription.PNG"
               id="org.knime.workbench.editor.actions.setnameanddescription"
               label="Edit Node Name and Description..."
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Edit custom node name and node description"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ResetEditorAction"
               definitionId="knime.commands.reset"
               disabledIcon="icons/resetNode_disabled.gif"
               icon="icons/resetNode.gif"
               id="org.knime.workbench.editor.actions.reset"
               label="Reset"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Reset selected nodes"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.CancelAllEditorAction"
               definitionId="knime.commands.cancelall"
               disabledIcon="icons/cancelAll_disabled.PNG"
               icon="icons/cancelAll.PNG"
               id="org.knime.workbench.editor.actions.cancelall"
               label="Cancel All"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Cancel all running nodes"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.CancelEditorAction"
               definitionId="knime.commands.cancel"
               disabledIcon="icons/cancel_disabled.PNG"
               icon="icons/cancel.PNG"
               id="org.knime.workbench.editor.actions.cancel"
               label="Cancel"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Cancel all selected, running nodes"/>                   
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteAndOpenViewEditorAction"
               definitionId="knime.commands.executeAndOpenView"
               disabledIcon="icons/executeAndView_disabled.PNG"
               icon="icons/executeAndView.PNG"
               id="org.knime.workbench.editor.actions.executeAndOpenView"
               label="Execute and Open Views"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Execute selected nodes and open first view"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteAllEditorAction"
               definitionId="knime.commands.executeall"
               disabledIcon="icons/executeAll_disabled.PNG"
               icon="icons/executeAll.PNG"
               id="org.knime.workbench.editor.actions.executeall"
               label="Execute All"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Execute all executable nodes"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteEditorAction"
               definitionId="knime.commands.execute"
               disabledIcon="icons/execute_disabled.PNG"
               icon="icons/execute.PNG"
               id="org.knime.workbench.editor.actions.execute"
               label="Execute"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Execute selected and executable nodes"/>    
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenDialogEditorAction"
               definitionId="knime.commands.openDialog"
               disabledIcon="icons/openDialog_disabled.gif"
               icon="icons/openDialog.gif"
               id="org.knime.workbench.editor.actions.openDialog"
               label="Configure..."
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Configure selected node"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenMultipleDialogEditorAction"
               definitionId="knime.commands.openMultiDialog"
               disabledIcon="icons/confexec_dis.png"
               icon="icons/confexec.png"
               id="org.knime.workbench.editor.actions.openMultiDialog"
               label="Configure JobMgr..."
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="Configure all the selected nodes (JobManager only)"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.SubnodeLayoutEditorAction"
               definitionId="knime.commands.editor.subnodeLayout"
               disabledIcon="icons/layout_16_bw.png"
               icon="icons/layout_16.png"
               id="org.knime.workbench.editor.actions.subnodeLayout"
               label="Wrapped NodeLayout"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="Opens dialog to edit layout of Wrapped Node views.">
         </action>
         
         
         <action
               class="org.knime.workbench.editor2.actions.delegates.ChangeGridEditorAction"
               definitionId="knime.commands.editor.gridSettings"
               disabledIcon="icons/grid_16_bw.png"
               icon="icons/grid_16.png"
               id="org.knime.workbench.editor.actions.gridSettings"
               label="Grid Settings..."
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="Change workflow editor grid settings"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ToggleGridEditorAction"
               definitionId="knime.commands.editor.toggleGrid"
               disabledIcon="icons/grid_16_bw.png"
               icon="icons/grid_16.png"
               id="org.knime.workbench.editor.actions.toggleGrid"
               label="Toggle Snap to Grid"
               style="push"
               tooltip="Toggle snap to grid behavior of workflow editor"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeUpEditorAction"
               definitionId="knime.commands.editor.moveNodesUp"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeUp"
               label="Move Nodes Up"
               style="push"
               tooltip="Move the selected nodes up"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeDownEditorAction"
               definitionId="knime.commands.editor.moveNodesDown"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeDown"
               label="Move Nodes Down"
               style="push"
               tooltip="Move the selected nodes down"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeLeftEditorAction"
               definitionId="knime.commands.editor.moveNodesLeft"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeLeft"
               label="Move Nodes Left"
               style="push"
               tooltip="Move the selected nodes to the left"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeRightEditorAction"
               definitionId="knime.commands.editor.moveNodesRight"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeRight"
               label="Move Nodes Right"
               style="push"
               tooltip="Move the selected nodes to the right"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.BringAnnotationToFrontEditorAction"
               definitionId="knime.commands.editor.bringToFront"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.bringToFront"
               label="Bring to Front"
               style="push"
               tooltip="Bring the selected annotation to the front"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.SendAnnotationToBackEditorAction"
               definitionId="knime.commands.editor.sendToBack"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.sendToBack"
               label="Send to Back"
               style="push"
               tooltip="Send the selected annotation to the back"/>     
          <action
               class="org.knime.workbench.editor2.actions.delegates.SelectLoopEditorAction"
               definitionId="knime.action.selectLoop"
               disabledIcon="icons/select_loop_dis.png"
               icon="icons/select_loop.png"
               id="org.knime.workbench.editor.actions.selectLoop"
               label="Select Loop"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               tooltip="Select all of the nodes contained within the surrounding loop"/>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="knime.commands.addMetaNode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F12"/>
      <key
            commandId="knime.commands.updateMetaNodeLink"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+U"/>
      <key
            commandId="knime.commands.setNameAndDescription"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F2"/>
      <key
            commandId="knime.commands.openDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="knime.commands.editor.gridSettings"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+ALT+X"/>
      <key
            commandId="knime.commands.editor.toggleGrid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+X"/>            
      <key
            commandId="knime.commands.openView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10"/>
      <key
            commandId="knime.commands.executeAndOpenView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F10"/>
      <key
            commandId="knime.commands.reset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
      <key
            commandId="knime.commands.hideNodeNames"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+Q"/>    
      <key
            commandId="knime.commands.appendNodeIds"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+W"/>    
      <key
            commandId="knime.commands.execute"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7"/>
      <key
            commandId="knime.commands.executeall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F7"/>
      <key
            commandId="knime.commands.cancel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9"/>
      <key
            commandId="knime.commands.cancelall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F9"/>
      <key
            commandId="knime.commands.openFirstOutPortView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F6"/>
      <key
            commandId="knime.commands.steploop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+CTRL+F6"/>
      <key
            commandId="knime.commands.pauseexecution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+CTRL+F7"/>
      <key
            commandId="knime.commands.resumeloop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+CTRL+F8"/>  
      <key
            commandId="knime.action.selectLoop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+CTRL+F10"/>            
      <key
            commandId="knime.commands.editor.moveNodesUp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+ARROW_UP"/> 
      <key
            commandId="knime.commands.editor.moveNodesDown"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+ARROW_DOWN"/>  
      <key
            commandId="knime.commands.editor.moveNodesLeft"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+ARROW_LEFT"/> 
      <key
            commandId="knime.commands.editor.moveNodesRight"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+ARROW_RIGHT"/> 
      <key
            commandId="knime.commands.editor.bringToFront"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+PAGE_UP"/> 
      <key
            commandId="knime.commands.editor.sendToBack"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+PAGE_DOWN"/> 
            
   </extension>
    <extension
         id="modelProvider"
         name="Rename avoidance"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider
            class="org.knime.workbench.editor2.MoveModelProvider"
       />
      <extends-model id="org.knime.workbench.editor2.MoveModelProvider"/>
      <enablement>
			<instanceof value="org.eclipse.core.resources.IResource"/>
      </enablement>
   </extension>
     <extension
         point="org.eclipse.ui.views">
      <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.helpview.HelpView"
            icon="icons/node_description.png"
            id="org.knime.workbench.helpview"
            name="Node Description"/>
      <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.nodemonitorview.NodeMonitorView"
            icon="icons/node_monitor.png"
            id="org.knime.workbench.nodemonitorview.nodemonitorview"
            name="Node Monitor"/>
   </extension>
     <extension
           point="org.eclipse.ui.contexts">
        <context
              description="KNIME editor context, for key bindings for the knime perspective only"
              id="org.knime.workbench.editor.context"
              name="In KNIME perspective"
              parentId="org.eclipse.ui.contexts.window">
        </context>
     </extension>
     <extension
         point="org.knime.core.WizardNodeView">
      <wizardNodeView
            description="This browser uses the native system browser that SWT can use. In a typical environment this should be Internet Explorer on Windows and WebKit on Linux and Mac."
            name="Internal Browser"
            viewClass="org.knime.workbench.editor2.WizardNodeView">
      </wizardNodeView>
   </extension>
</plugin>
