<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="temp_dir_location_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="temp_dir_location">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="RELATIVE"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="product-workspace"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="RELATIVE"/>
                <entry key="file_system_specifier" type="xstring" value="knime.workflow.data"/>
                <entry key="path" type="xstring" value="./temp-folder"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="create_missing_folders" type="xboolean" value="true"/>
        </config>
        <entry key="delete_on_reset" type="xboolean" value="true"/>
        <entry key="temp_dir_prefix" type="xstring" value="knimetemp-"/>
        <entry key="temp_dir_path_variable_name" type="xstring" value="temp_dir_path"/>
        <config key="additional_path_variables">
            <config key="variable_names">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="file-1.table"/>
                <entry key="1" type="xstring" value="file-2.table"/>
            </config>
            <config key="path_values">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="file-1"/>
                <entry key="1" type="xstring" value="file-2"/>
            </config>
            <config key="file_extensions">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value=".table"/>
                <entry key="1" type="xstring" value=".table"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.filehandling.utility.nodes.tempdir.CreateTempDir2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Create Temp Folder"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Filehandling Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.filehandling.utility.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.0.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Variable Input Port"/>
        <config key="Variable Output Ports"/>
    </config>
    <entry key="name" type="xstring" value="Create Temp Folder"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
