<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="rowIndices">
<entry key="array-size" type="xint" value="60"/>
<entry key="0" type="xint" value="0"/>
<entry key="1" type="xint" value="0"/>
<entry key="2" type="xint" value="0"/>
<entry key="3" type="xint" value="1"/>
<entry key="4" type="xint" value="1"/>
<entry key="5" type="xint" value="1"/>
<entry key="6" type="xint" value="2"/>
<entry key="7" type="xint" value="2"/>
<entry key="8" type="xint" value="2"/>
<entry key="9" type="xint" value="3"/>
<entry key="10" type="xint" value="3"/>
<entry key="11" type="xint" value="3"/>
<entry key="12" type="xint" value="4"/>
<entry key="13" type="xint" value="4"/>
<entry key="14" type="xint" value="4"/>
<entry key="15" type="xint" value="5"/>
<entry key="16" type="xint" value="5"/>
<entry key="17" type="xint" value="5"/>
<entry key="18" type="xint" value="6"/>
<entry key="19" type="xint" value="6"/>
<entry key="20" type="xint" value="6"/>
<entry key="21" type="xint" value="7"/>
<entry key="22" type="xint" value="7"/>
<entry key="23" type="xint" value="7"/>
<entry key="24" type="xint" value="8"/>
<entry key="25" type="xint" value="8"/>
<entry key="26" type="xint" value="8"/>
<entry key="27" type="xint" value="9"/>
<entry key="28" type="xint" value="9"/>
<entry key="29" type="xint" value="9"/>
<entry key="30" type="xint" value="10"/>
<entry key="31" type="xint" value="10"/>
<entry key="32" type="xint" value="10"/>
<entry key="33" type="xint" value="11"/>
<entry key="34" type="xint" value="11"/>
<entry key="35" type="xint" value="11"/>
<entry key="36" type="xint" value="12"/>
<entry key="37" type="xint" value="12"/>
<entry key="38" type="xint" value="12"/>
<entry key="39" type="xint" value="13"/>
<entry key="40" type="xint" value="13"/>
<entry key="41" type="xint" value="13"/>
<entry key="42" type="xint" value="14"/>
<entry key="43" type="xint" value="14"/>
<entry key="44" type="xint" value="14"/>
<entry key="45" type="xint" value="15"/>
<entry key="46" type="xint" value="15"/>
<entry key="47" type="xint" value="15"/>
<entry key="48" type="xint" value="16"/>
<entry key="49" type="xint" value="16"/>
<entry key="50" type="xint" value="16"/>
<entry key="51" type="xint" value="17"/>
<entry key="52" type="xint" value="17"/>
<entry key="53" type="xint" value="17"/>
<entry key="54" type="xint" value="18"/>
<entry key="55" type="xint" value="18"/>
<entry key="56" type="xint" value="18"/>
<entry key="57" type="xint" value="19"/>
<entry key="58" type="xint" value="19"/>
<entry key="59" type="xint" value="19"/>
</config>
<config key="columnIndices">
<entry key="array-size" type="xint" value="60"/>
<entry key="0" type="xint" value="0"/>
<entry key="1" type="xint" value="1"/>
<entry key="2" type="xint" value="2"/>
<entry key="3" type="xint" value="0"/>
<entry key="4" type="xint" value="1"/>
<entry key="5" type="xint" value="2"/>
<entry key="6" type="xint" value="0"/>
<entry key="7" type="xint" value="1"/>
<entry key="8" type="xint" value="2"/>
<entry key="9" type="xint" value="0"/>
<entry key="10" type="xint" value="1"/>
<entry key="11" type="xint" value="2"/>
<entry key="12" type="xint" value="0"/>
<entry key="13" type="xint" value="1"/>
<entry key="14" type="xint" value="2"/>
<entry key="15" type="xint" value="0"/>
<entry key="16" type="xint" value="1"/>
<entry key="17" type="xint" value="2"/>
<entry key="18" type="xint" value="0"/>
<entry key="19" type="xint" value="1"/>
<entry key="20" type="xint" value="2"/>
<entry key="21" type="xint" value="0"/>
<entry key="22" type="xint" value="1"/>
<entry key="23" type="xint" value="2"/>
<entry key="24" type="xint" value="0"/>
<entry key="25" type="xint" value="1"/>
<entry key="26" type="xint" value="2"/>
<entry key="27" type="xint" value="0"/>
<entry key="28" type="xint" value="1"/>
<entry key="29" type="xint" value="2"/>
<entry key="30" type="xint" value="0"/>
<entry key="31" type="xint" value="1"/>
<entry key="32" type="xint" value="2"/>
<entry key="33" type="xint" value="0"/>
<entry key="34" type="xint" value="1"/>
<entry key="35" type="xint" value="2"/>
<entry key="36" type="xint" value="0"/>
<entry key="37" type="xint" value="1"/>
<entry key="38" type="xint" value="2"/>
<entry key="39" type="xint" value="0"/>
<entry key="40" type="xint" value="1"/>
<entry key="41" type="xint" value="2"/>
<entry key="42" type="xint" value="0"/>
<entry key="43" type="xint" value="1"/>
<entry key="44" type="xint" value="2"/>
<entry key="45" type="xint" value="0"/>
<entry key="46" type="xint" value="1"/>
<entry key="47" type="xint" value="2"/>
<entry key="48" type="xint" value="0"/>
<entry key="49" type="xint" value="1"/>
<entry key="50" type="xint" value="2"/>
<entry key="51" type="xint" value="0"/>
<entry key="52" type="xint" value="1"/>
<entry key="53" type="xint" value="2"/>
<entry key="54" type="xint" value="0"/>
<entry key="55" type="xint" value="1"/>
<entry key="56" type="xint" value="2"/>
<entry key="57" type="xint" value="0"/>
<entry key="58" type="xint" value="1"/>
<entry key="59" type="xint" value="2"/>
</config>
<config key="values">
<entry key="array-size" type="xint" value="60"/>
<entry key="0" type="xstring" value="Value 1"/>
<entry key="1" type="xstring" value="A"/>
<entry key="2" type="xstring" value="1"/>
<entry key="3" type="xstring" value="Value 2"/>
<entry key="4" type="xstring" value="B"/>
<entry key="5" type="xstring" value="2"/>
<entry key="6" type="xstring" value="Value 3"/>
<entry key="7" type="xstring" value="A"/>
<entry key="8" type="xstring" value="3"/>
<entry key="9" type="xstring" value="Value 4"/>
<entry key="10" type="xstring" value="B"/>
<entry key="11" type="xstring" value="4"/>
<entry key="12" type="xstring" value="Value 5"/>
<entry key="13" type="xstring" value="A"/>
<entry key="14" type="xstring" value="5"/>
<entry key="15" type="xstring" value="Value 6"/>
<entry key="16" type="xstring" value="B"/>
<entry key="17" type="xstring" value="6"/>
<entry key="18" type="xstring" value="Value 7"/>
<entry key="19" type="xstring" value="A"/>
<entry key="20" type="xstring" value="7"/>
<entry key="21" type="xstring" value="Value 8"/>
<entry key="22" type="xstring" value="B"/>
<entry key="23" type="xstring" value="8"/>
<entry key="24" type="xstring" value="Value 9"/>
<entry key="25" type="xstring" value="A"/>
<entry key="26" type="xstring" value="9"/>
<entry key="27" type="xstring" value="Value 10"/>
<entry key="28" type="xstring" value="B"/>
<entry key="29" type="xstring" value="10"/>
<entry key="30" type="xstring" value="Value 11"/>
<entry key="31" type="xstring" value="A"/>
<entry key="32" type="xstring" value="11"/>
<entry key="33" type="xstring" value="Value 12"/>
<entry key="34" type="xstring" value="B"/>
<entry key="35" type="xstring" value="12"/>
<entry key="36" type="xstring" value="Value 13"/>
<entry key="37" type="xstring" value="A"/>
<entry key="38" type="xstring" value="13"/>
<entry key="39" type="xstring" value="Value 14"/>
<entry key="40" type="xstring" value="B"/>
<entry key="41" type="xstring" value="14"/>
<entry key="42" type="xstring" value="Value 15"/>
<entry key="43" type="xstring" value="A"/>
<entry key="44" type="xstring" value="15"/>
<entry key="45" type="xstring" value="Value 16"/>
<entry key="46" type="xstring" value="B"/>
<entry key="47" type="xstring" value="16"/>
<entry key="48" type="xstring" value="Value 17"/>
<entry key="49" type="xstring" value="A"/>
<entry key="50" type="xstring" value="17"/>
<entry key="51" type="xstring" value="Value 18"/>
<entry key="52" type="xstring" value="B"/>
<entry key="53" type="xstring" value="18"/>
<entry key="54" type="xstring" value="Value 19"/>
<entry key="55" type="xstring" value="A"/>
<entry key="56" type="xstring" value="19"/>
<entry key="57" type="xstring" value="Value 20"/>
<entry key="58" type="xstring" value="B"/>
<entry key="59" type="xstring" value="20"/>
</config>
<entry key="rowIdPrefix" type="xstring" value="Row"/>
<entry key="rowIdSuffix" type="xstring" value=""/>
<entry key="rowIdStartValue" type="xint" value="0"/>
<entry key="highlightOutputTable" type="xboolean" value="false"/>
<config key="columnProperties">
<config key="0">
<entry key="UserSetValues" type="xboolean" value="true"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="Col 1"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="1">
<entry key="UserSetValues" type="xboolean" value="true"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="Col 2"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="2">
<entry key="UserSetValues" type="xboolean" value="true"/>
<entry key="MissValuePattern" type="xstring" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="Col 3"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.io.tablecreator.TableCreator2NodeFactory"/>
<entry key="node-name" type="xstring" value="Table Creator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.1.qualifier"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Creator"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
