<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Konstanz Information Miner"
            icon="icons/perspective.png"
            class="de.unikn.knime.workbench.ui.perspective.ModellerPerspectiveFactory"
            id="de.unikn.knime.workbench.ui.ModellerPerspective">
         <description>
            Konstanz Information Miner
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.unikn.knime.workbench.ui.ModellerPerspective">
         <view
               id="de.unikn.knime.workbench.navigator.view.KnimeResourceNavigator"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="de.unikn.knime.workbench.repository.view.RepositoryView"
               ratio="0.3"
               relationship="bottom"
               relative="de.unikn.knime.workbench.navigator.view.KnimeResourceNavigator"/>
         <view
               closeable="false"
               visible="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.console.ConsoleView"/>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               closeable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               id="org.eclipse.ui.views.ProgressView"/>
         <view
               closeable="true"
               id="de.unikn.knime.workbench.helpview"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.unikn.knime.workbench.ui.ModellerPerspective">
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <viewShortcut id="org.eclipse.ui.views.ProgressView"/>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="de.unikn.knime.workbench.helpview"/>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.unikn.knime.workbench.ui.ModellerPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="de.unikn.knime.workbench.ui.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <!--newWizardShortcut
               id="de.unikn.knime.workbench.ui.wizards.file.NewWorkflowWizard">
         </newWizardShortcut-->
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="de.unikn.knime.workbench.ui.wizards.project.NewProjectWizard">
      </primaryWizard>
      <!--primaryWizard id="de.unikn.knime.workbench.ui.wizards.file.NewWorkflowWizard"/-->
      <category
            name="Konstanz Information Miner"
            id="de.unikn.knime.workbench.ui.wizards.category">
      </category>
      <wizard
            name="New KNIME Project"
            id="de.unikn.knime.workbench.ui.wizards.project.NewProjectWizard"
            category="de.unikn.knime.workbench.ui.wizards.category"
            class="de.unikn.knime.workbench.ui.wizards.project.NewProjectWizard"
            descriptionImage="icons/projectWizard32x32.png"
            icon="icons/projectWizard16x16.png"
            finalPerspective="de.unikn.knime.workbench.ui.ModellerPerspective"
            project="true"
            preferredPerspectives="de.unikn.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new KNIME project that can contain several Workflows.
         </description>
      </wizard>
      <!--wizard
            name="New KNIME Workflow"
            id="de.unikn.knime.workbench.ui.wizards.file.NewWorkflowWizard"
            category="de.unikn.knime.workbench.ui.wizards.category"
            class="de.unikn.knime.workbench.ui.wizards.file.NewWorkflowWizard"
            descriptionImage="icons/workflowWizard32x32.png"
            icon="icons/workflowWizard16x16.png"
            finalPerspective="de.unikn.knime.workbench.ui.ModellerPerspective"
            project="false"
            preferredPerspectives="de.unikn.knime.workbench.ui.ModellerPerspective">
         <description>
            This wizard creates a new KNIME workflow file (*.knime) inside a given project.
         </description>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.unikn.knime.workbench.ui.preferences.MainPreferencePage"
            id="de.unikn.knime.workbench.ui.preferences"
            name="KNIME">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.unikn.knime.workbench.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="KNIMEProjectBuilder"
         name="KNIMEProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="de.unikn.knime.workbench.ui.builder.KNIMEProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="KNIMEProjectNature"
         name="KNIME project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.unikn.knime.workbench.ui.nature.KNIMEProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unikn.knime.workbench.ui.category"
            name="KNIME Views"/>
      <view
            allowMultiple="true"
            category="de.unikn.knime.workbench.ui.category"
            class="de.unikn.knime.workbench.ui.views.EmbeddedNodeView"
            icon="icons/knime.png"
            id="de.unikn.knime.workbench.ui.views.EmbeddedNodeView"
            name="Node View"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.unikn.knime.workbench.ui.actionSet1"
            label="de.unikn.knime.workbench.ui.actionSet1"
            visible="true">
         <menu
               id="de.unikn.knime.workbench.ui.menu1"
               label="View2"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="de.unikn.knime.workbench.ui.ExportWizard1"
            id="de.unikn.knime.workbench.ui.wizards.export.WorkflowExportWizard"
            name="de.unikn.knime.workbench.ui.wizard1"/>
   </extension>

</plugin>
