<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.core.workbench.mount" name="KNIME Mount Point Definition" schema="schema/org.knime.core.workbench.mount.exsd"/>
   <extension
         point="org.knime.core.workbench.mount">
         <MountPointDefinition
               identifier="org.knime.core.workbench.localworkspace.LocalWorkspaceMountPoint">
         </MountPointDefinition>
   </extension>

</plugin>
