<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.core.data.uri.URIDataValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.DefaultDataValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.core.data.uri.URIDataCell"
            factoryClass="org.knime.core.data.uri.UriCellFactory">
         <serializer
               cellClass="org.knime.core.data.uri.URIDataCell"
               serializerClass="org.knime.core.data.uri.URIDataCell$URIDataCellSerializer">
         </serializer>
      </DataType>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            hidden="true"
            name="URI"
            objectClass="org.knime.core.data.uri.URIPortObject"
            objectSerializer="org.knime.core.data.uri.URIPortObject$Serializer"
            specClass="org.knime.core.data.uri.URIPortObjectSpec"
            specSerializer="org.knime.core.data.uri.URIPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#1eb9dc"
            hidden="true"
            name="URI"
            objectClass="org.knime.core.data.uri.IURIPortObject"
            objectSerializer="org.knime.core.data.uri.IURIPortObject$DummySerializer"
            specClass="org.knime.core.data.uri.URIPortObjectSpec"
            specSerializer="org.knime.core.data.uri.URIPortObjectSpec$Serializer">
      </portType>
   </extension>

</plugin>
