<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.core.data.uri.URIDataValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.DefaultDataValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.core.data.uri.URIDataCell"
            factoryClass="org.knime.core.data.uri.UriCellFactory">
         <serializer
               cellClass="org.knime.core.data.uri.URIDataCell"
               serializerClass="org.knime.core.data.uri.URIDataCell$URIDataCellSerializer">
         </serializer>
      </DataType>
   </extension>

</plugin>
