<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="label" type="xstring" value="Cluster Number"/>
<entry key="description" type="xstring" value=""/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="textFormat" type="xstring" value="Text"/>
<entry key="text" type="xstring" value="$${Icurrent_cluster}$$ of $${ImaxIterations}$$"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.output.text.TextOutputNodeFactory"/>
<entry key="node-name" type="xstring" value="Text Output (Labs)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Javascript Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Text Output (Labs)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
