<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/analytics/mining/logreg"
            factory-class="org.knime.base.node.mine.regression.logistic.learner4.LogRegLearnerNodeFactory4">
      </node>
<!--      <node
            after="org.knime.base.node.mine.treeensemble.node.predictor.regression.TreeEnsembleRegressionPredictorNodeFactory"
            category-path="/analytics/mining/treeensemble"
            factory-class="org.knime.base.node.mine.treeensemble.node.shrinker.TreeEnsembleShrinkerNodeFactory"
            >
      </node>-->
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="logreg"
            locked="true"
            name="Logistic Regression"
            path="/analytics/mining/">
      </category>
   </extension>

</plugin>
