<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="String Replacer"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="caseSensitive" type="xboolean" value="true"/>
<entry key="colName" type="xstring" value="CELL"/>
<entry key="createNewCol" type="xboolean" value="false"/>
<entry key="newColName" type="xstring" value="Enter column name"/>
<entry key="pattern" type="xstring" value="ncI*"/>
<entry key="replaceAllOccurences" type="xboolean" value="false"/>
<entry key="replacement" type="xstring" value="XXX"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
</config>
</config>
<config key="model_files"/>
</config>
