<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/analytics/mining/treeensemble/randomforest/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.learner.classification.TreeEnsembleClassificationLearnerNodeFactory">
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.learner.classification.TreeEnsembleClassificationLearnerNodeFactory"
            category-path="/analytics/mining/treeensemble/randomforest/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.predictor.classification.TreeEnsembleClassificationPredictorNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest"
            factory-class="org.knime.base.node.mine.treeensemble2.node.modelextractor.TreeEnsembleModelExtractorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest/regression"
            factory-class="org.knime.base.node.mine.treeensemble2.node.learner.regression.TreeEnsembleRegressionLearnerNodeFactory"
            >
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.learner.regression.TreeEnsembleRegressionLearnerNodeFactory"
            category-path="/analytics/mining/treeensemble/randomforest/regression"
            factory-class="org.knime.base.node.mine.treeensemble2.node.predictor.regression.TreeEnsembleRegressionPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.classification.RandomForestClassificationLearnerNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest/regression"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.regression.RandomForestRegressionLearnerNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.randomforest.predictor.classification.RandomForestClassificationPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest/regression"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.randomforest.predictor.regression.RandomForestRegressionPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/dtree"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.regressiontree.learner.RegressionTreeLearnerNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/dtree"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.regressiontree.predictor.RegressionTreePredictorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/gradientboosting/regression"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.learner.regression.GradientBoostingRegressionLearnerNodeFactory"
            >
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.gradientboosting.learner.regression.GradientBoostingRegressionLearnerNodeFactory"
            category-path="/analytics/mining/treeensemble/gradientboosting/regression"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.regression.GradientBoostingPredictorNodeFactory">
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.regression.GradientBoostingPredictorNodeFactory"
            category-path="/analytics/mining/treeensemble/gradientboosting/regression"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.pmml.GradientBoostingRegressionPMMLPredictorNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/treeensemble/gradientboosting/classification"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.learner.classification.GradientBoostingClassificationLearnerNodeFactory"
            >
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.gradientboosting.learner.classification.GradientBoostingClassificationLearnerNodeFactory"
            category-path="/analytics/mining/treeensemble/gradientboosting/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.classification.GradientBoostingClassificationPredictorNodeFactory">
      </node>
      <node
            after="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.classification.GradientBoostingClassificationPredictorNodeFactory"
            category-path="/analytics/mining/treeensemble/gradientboosting/classification"
            deprecated="true"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.predictor.pmml.GradientBoostingClassificationPMMLPredictorNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.distance.node.RandomForestDistanceCreatorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/randomforest"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.statistics.TreeEnsembleStatisticsNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/dtree"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.regressiontree.pmmltranslator.RegressionTreePMMLTranslatorNodeFactory"
            >
      </node>
      <node
            category-path="/analytics/mining/treeensemble/gradientboosting/"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.gradientboosting.pmml.exporter.GBTPMMLExporterNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/dtree"
            deprecated="false"
            factory-class="org.knime.base.node.mine.treeensemble2.node.regressiontree.predictor.RegressionTreePMMLPredictorNodeFactory">
      </node>
<!--      <node
            after="org.knime.base.node.mine.treeensemble.node.predictor.regression.TreeEnsembleRegressionPredictorNodeFactory"
            category-path="/analytics/mining/treeensemble"
            factory-class="org.knime.base.node.mine.treeensemble.node.shrinker.TreeEnsembleShrinkerNodeFactory"
            >
      </node>-->
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="tree ensembles, including random forest and gradient boosting"
            icon="icons/missing.gif"
            level-id="treeensemble"
            name="Decision Tree Ensemble"
            path="/analytics/mining"
            after="dtree"
            locked="true">
      </category>
      <category
            description="random forest and tree ensemble"
            icon="icons/missing.gif"
            level-id="randomforest"
            locked="true"
            name="Random Forest"
            path="/analytics/mining/treeensemble">
      </category>
      <category
            description="classification (tree ensembles and random forest)"
            icon="icons/missing.gif"
            level-id="classification"
            locked="true"
            name="Classification"
            path="/analytics/mining/treeensemble/randomforest">
      </category>
      <category
            after="classification"
            description="regression (tree ensembles and random forest)"
            icon="icons/missing.gif"
            level-id="regression"
            locked="true"
            name="Regression"
            path="/analytics/mining/treeensemble/randomforest">
      </category>
      <category
            description="nodes concerning gradient boosting"
            icon="icons/missing.gif"
            level-id="gradientboosting"
            locked="true"
            name="Gradient Boosting"
            path="/analytics/mining/treeensemble">
      </category>
      <category
            after="classification"
            description="regression"
            icon="icons/missing.gif"
            level-id="regression"
            locked="true"
            name="Regression"
            path="/analytics/mining/treeensemble/gradientboosting">
      </category>
      <category
            description="classification"
            icon="icons/missing.gif"
            level-id="classification"
            locked="true"
            name="Classification"
            path="/analytics/mining/treeensemble/gradientboosting">
      </category>
   </extension>
   <extension
         point="org.knime.core.NodeFactoryClassMapper">
      <NodeFactoryClassMapper
            classMapper="org.knime.base.node.mine.treeensemble2.node.DeprecatedNodeFactoryClassMapper">
      </NodeFactoryClassMapper>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Tree Ensembles"
            objectClass="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObject"
            objectSerializer="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObject$Serializer"
            specClass="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec"
            specSerializer="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec$Serializer">
      </portType>
      <portType
            hidden="false"
            name="Regression Tree"
            objectClass="org.knime.base.node.mine.treeensemble2.model.RegressionTreeModelPortObject"
            objectSerializer="org.knime.base.node.mine.treeensemble2.model.RegressionTreeModelPortObject$Serializer"
            specClass="org.knime.base.node.mine.treeensemble2.model.RegressionTreeModelPortObjectSpec"
            specSerializer="org.knime.base.node.mine.treeensemble2.model.RegressionTreeModelPortObjectSpec$Serializer">
      </portType>
      <portType
            hidden="false"
            name="Gradient Boosting Model"
            objectClass="org.knime.base.node.mine.treeensemble2.model.GradientBoostingModelPortObject"
            objectSerializer="org.knime.base.node.mine.treeensemble2.model.GradientBoostingModelPortObject$Serializer"
            specClass="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec"
            specSerializer="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.distmatrix.distanceMeasures">
      <DistanceMeasure
            factoryClass="org.knime.base.node.mine.treeensemble2.distance.RandomForestDistanceFactory"
            id="org.knime.base.node.mine.treeensemble2.distance.RandomForestDistanceFactory">
      </DistanceMeasure>
   </extension>

</plugin>
