<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="server_url" type="xstring" value=""/>
        <entry key="working_folder" type="xstring" value="/"/>
        <config key="advanced_settings">
            <config key="connection_timeout_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="connection_timeout" type="xint" value="20"/>
            <config key="read_timeout_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="read_timeout" type="xint" value="20"/>
        </config>
        <config key="auth">
            <config key="type_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="type" type="xstring" value="user_pwd"/>
            <config key="user_pwd">
                <config key="use_credentials_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
                    <entry key="EnabledStatus" type="xboolean" value="true"/>
                </config>
                <entry key="use_credentials" type="xboolean" value="false"/>
                <config key="credentials_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
                    <entry key="EnabledStatus" type="xboolean" value="false"/>
                </config>
                <entry key="credentials" type="xstring" value=""/>
                <config key="user_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
                    <entry key="EnabledStatus" type="xboolean" value="true"/>
                </config>
                <entry key="user" type="xstring" value="carlwitt"/>
                <config key="password_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_password"/>
                    <entry key="EnabledStatus" type="xboolean" value="true"/>
                </config>
                <entry key="password" type="xpassword" value="02BgAAAGMq_QxveL1vZ0EBj5u_k8UfXZqXUis="/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Please specify a KNIME server URL"/>
    </config>
    <entry key="factory" type="xstring" value="com.knime.server.nodes.filehandling.connector.ServerConnectorNodeFactory"/>
    <entry key="node-name" type="xstring" value="KNIME Server Connector"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME nodes to connect to KNIME Server"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="com.knime.server.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.16.0.v202207251920"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="KNIME Server Connector"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
