<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Normalizer"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="mode" type="xint" value="1"/>
<entry key="newmin" type="xdouble" value="0.0"/>
<entry key="newmax" type="xdouble" value="1.0"/>
<config key="columns">
<entry key="array-size" type="xint" value="4"/>
<entry key="0" type="xstring" value="sepal length"/>
<entry key="1" type="xstring" value="sepal width"/>
<entry key="2" type="xstring" value="petal length"/>
<entry key="3" type="xstring" value="petal width"/>
</config>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
</config>
</config>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
