<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands available for the workflow editor"
            name="KNIME Workflow Editor commands"
            id="knime.command.category"/>
            
      <command
            categoryId="knime.command.category"
            description="Opens the settings dialog on the selected node"
            id="knime.commands.openDialog"
            name="Open dialog"/>
      <command
            categoryId="knime.command.category"
            description="Execute up to here"
            id="knime.commands.execute"
            name="Execute"/>      
      <command
            categoryId="knime.command.category"
            description="Reset node"
            id="knime.commands.reset"
            name="Reset"/>      
      <command
            categoryId="knime.command.category"
            description="Open View for selected node"
            id="knime.commands.openView"
            name="Open View"/>
      <command
            categoryId="knime.command.category"
            description="Execute and open first view for selected node"
            id="knime.commands.executeAndOpenView"
            name="Execute and open view"/>
      <!--command
            categoryId="knime.command.category"
            description="To set/view the user specified name and a context dependant description."
            id="knime.commands.setUserNameAndDescription"
            name="User name and description"/-->   
            
 
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unikn.knime.workbench.editor2.WorkflowEditor"
            contributorClass="de.unikn.knime.workbench.editor2.WorkflowEditorActionBarContributor"
            default="true"
            extensions="knime"
            filenames="knime"
            icon="icons/editor.png"
            id="de.unikn.knime.workbench.editor.WorkflowEditor"
            name="KNIME Workflow Editor"/>
      <editor
            class="de.unikn.knime.workbench.editor2.MetaWorkflowEditor"
            contributorClass="de.unikn.knime.workbench.editor2.WorkflowEditorActionBarContributor"
            default="false"
            icon="icons/editor.png"
            id="de.unikn.knime.workbench.editor.MetaWorkflowEditor"
            name="KNIME Meta Workflow Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.unikn.knime.workbench.editor.editorContribution"
            targetID="de.unikn.knime.workbench.editor.WorkflowEditor">
         <menu
               id="de.unikn.knime.workbench.editor.menu"
               label="Node"
               path="additions">
            <groupMarker name="group1"/>
         </menu>
         <action
               class="de.unikn.knime.workbench.editor2.actions.delegates.OpenDialogEditorAction"
               definitionId="knime.commands.openDialog"
               disabledIcon="icons/openDialog_disabled.gif"
               icon="icons/openDialog.gif"
               id="de.unikn.knime.workbench.editor.actions.openDialog"
               label="Configure"
               menubarPath="de.unikn.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="de.unikn.knime.workbench.editor.menu/group1"
               tooltip="Configure selected node"/>
         <action
               class="de.unikn.knime.workbench.editor2.actions.delegates.ExecuteEditorAction"
               definitionId="knime.commands.execute"
               disabledIcon="icons/execute_disabled.gif"
               icon="icons/execute.gif"
               id="de.unikn.knime.workbench.editor.actions.execute"
               label="Execute"
               menubarPath="de.unikn.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="de.unikn.knime.workbench.editor.menu/group1"
               tooltip="Execute selected and executable nodes"/>               
         <action
               class="de.unikn.knime.workbench.editor2.actions.delegates.ExecuteAndOpenViewEditorAction"
               definitionId="knime.commands.executeAndOpenView"
               disabledIcon="icons/executeAndView_disabled.PNG"
               icon="icons/executeAndView.PNG"
               id="de.unikn.knime.workbench.editor.actions.executeAndOpenView"
               label="ExecuteAndOpenView"
               menubarPath="de.unikn.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="de.unikn.knime.workbench.editor.menu/group1"
               tooltip="Execute selected node and open first view"/>
         <action
               class="de.unikn.knime.workbench.editor2.actions.delegates.SetNameAndDescriptionEditorAction"
               definitionId="knime.commands.setUserNameAndDescription"
               disabledIcon="icons/executeAndView_disabled.PNG"
               icon="icons/executeAndView.PNG"
               id="de.unikn.knime.workbench.editor.actions.setnameanddescription"
               label="SetNameAndDescription"
               menubarPath="de.unikn.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="de.unikn.knime.workbench.editor.menu/group1"
               tooltip="To set/view the user specified name and a context dependant description."/>
               
         <action
               class="de.unikn.knime.workbench.editor2.actions.delegates.ResetEditorAction"
               definitionId="knime.commands.reset"
               disabledIcon="icons/resetNode_disabled.gif"
               icon="icons/resetNode.gif"
               id="de.unikn.knime.workbench.editor.actions.reset"
               label="Reset"
               menubarPath="de.unikn.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="de.unikn.knime.workbench.editor.menu/group1"
               tooltip="Reset selected nodes"/>
         
               
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="knime.commands.openDialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER"/>
      <key
            commandId="knime.commands.execute"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SPACE"/>
      <key
            commandId="knime.commands.reset"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+BS"/>          
            
            
   </extension>

</plugin>
