<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/misc"
            factory-class="org.knime.ext.sun.nodes.script.JavaScriptingNodeFactory"
            id="org.knime.ext.sun.nodes.script.JavaScriptingNodeFactory"/>
      <node
            category-path="/loopsupport"
            expert-flag="true"
            factory-class="org.knime.ext.sun.nodes.script.node.editvar.JavaEditVariableNodeFactory"
            id="org.knime.ext.sun.nodes.script.node.editvar.JavaEditVariableNodeFactory"/>
      <node
            category-path="/loopsupport"
            expert-flag="true"
            factory-class="org.knime.ext.sun.nodes.script.node.ifswitch.JavaIfSwitchNodeFactory"
            id="org.knime.ext.sun.nodes.script.node.ifswitch.JavaIfSwitchNodeFactory"/>
   </extension>

</plugin>
