<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="individual_settings">
<config key="0">
<config key="column_names">
<entry key="array-size" type="xint" value="8"/>
<entry key="0" type="xstring" value="Universe_1_2"/>
<entry key="1" type="xstring" value="Universe_1_3"/>
<entry key="2" type="xstring" value="Universe_1_4"/>
<entry key="3" type="xstring" value="Universe_0_0"/>
<entry key="4" type="xstring" value="Universe_0_1"/>
<entry key="5" type="xstring" value="Universe_1_0"/>
<entry key="6" type="xstring" value="Universe_1_1"/>
<entry key="7" type="xstring" value="Cluster Membership"/>
</config>
<entry key="case_insensitive_name_matching" type="xboolean" value="false"/>
<entry key="reject_on_missing_value" type="xboolean" value="false"/>
<entry key="datatype_handling" type="xstring" value="FAIL"/>
<entry key="domain_handling_possible_values" type="xstring" value="NONE"/>
<entry key="domain_handling_min_max" type="xstring" value="NONE"/>
<entry key="colum_missing_handling" type="xstring" value="FAIL"/>
</config>
</config>
<entry key="unkown_columns_handling" type="xstring" value="REJECT"/>
<entry key="rejecting_behavior" type="xstring" value="FAIL_NODE"/>
<config key="data_table_spec">
<entry key="spec_name" type="xstring" value="default"/>
<entry key="number_columns" type="xint" value="8"/>
<config key="column_spec_0">
<entry key="column_name" type="xstring" value="Universe_0_0"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.0024239254373454866"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9950360043751262"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_0"/>
</config>
</config>
<config key="column_spec_1">
<entry key="column_name" type="xstring" value="Universe_0_1"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.02252861340797785"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9755374857923579"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_0"/>
</config>
</config>
<config key="column_spec_2">
<entry key="column_name" type="xstring" value="Universe_1_0"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.015370981774026515"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9952365899812389"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_1"/>
</config>
</config>
<config key="column_spec_3">
<entry key="column_name" type="xstring" value="Universe_1_1"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.005390920582636793"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9696606321504764"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_1"/>
</config>
</config>
<config key="column_spec_4">
<entry key="column_name" type="xstring" value="Universe_1_2"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.026911372308833448"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9984319986742693"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_1"/>
</config>
</config>
<config key="column_spec_5">
<entry key="column_name" type="xstring" value="Universe_1_3"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.005964132200212635"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9944456465545493"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_1"/>
</config>
</config>
<config key="column_spec_6">
<entry key="column_name" type="xstring" value="Universe_1_4"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
</config>
<config key="column_domain">
<config key="lower_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.011496266406540556"/>
</config>
</config>
<config key="upper_bound">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<config key="org.knime.core.data.def.DoubleCell">
<entry key="DoubleCell" type="xdouble" value="0.9866385690517661"/>
</config>
</config>
</config>
<config key="column_properties">
<entry key="universe_name" type="xstring" value="Universe_1"/>
</config>
</config>
<config key="column_spec_7">
<entry key="column_name" type="xstring" value="Cluster Membership"/>
<config key="element_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="column_type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
</config>
<config key="column_domain">
<config key="possible_values">
<entry key="array-size" type="xint" value="4"/>
<config key="0">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Cluster_0"/>
</config>
</config>
<config key="1">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Cluster_1"/>
</config>
</config>
<config key="2">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Cluster_2"/>
</config>
</config>
<config key="3">
<entry key="datacell" type="xstring" value="org.knime.core.data.def.StringCell"/>
<config key="org.knime.core.data.def.StringCell">
<entry key="StringCell" type="xstring" value="Cluster_3"/>
</config>
</config>
</config>
</config>
<config key="column_properties"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Validation failed:%%00010Column: 'Universe_1_2' causes validation issue: 'COLUMN_NOT_CONTAINED'. Detailed information:%%00010%%00009Column 'Universe_1_2' is missing.%%00010Column: 'Universe_1_3' causes validation issue: 'COLUMN_NOT_CONTAINED'. Detailed information:%%00010%%00009Column 'Universe_1_3' is missing.%%00010Column: 'Universe_1_4' causes validation issue: 'COLUMN_NOT_CONTAINED'. Detailed information:%%00010%%00009Column 'Universe_1_4' is missing."/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.datavalidator.DataValidatorNodeFactory"/>
<entry key="node-name" type="xstring" value="Table Validator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.0.qualifier"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Validator"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
