<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file (URL)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="file:/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file (URL)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="file:/Users/albrecht/Downloads/cars-85.csv"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<entry key="path" type="xstring" value="/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<entry key="label" type="xstring" value="File to use"/>
<entry key="description" type="xstring" value="Please upload the data file to use"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="input_file"/>
<entry key="flowvariablename" type="xstring" value="input_file"/>
<config key="types">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value=""/>
</config>
<entry key="error_message" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.input.fileupload.FileUploadQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="File Upload (Labs)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Javascript Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="File Upload (Labs)"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="fa0f0249-969f-4689-8853-535f8e7bd1ca"/>
</config>
</config>
