<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Polynomial Regression Learner"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="degree" type="xint" value="6"/>
<entry key="targetColumn" type="xstring" value="Col4"/>
<entry key="maxViewRows" type="xint" value="10000"/>
<config key="selectedColumns">
<entry key="array-size" type="xint" value="9"/>
<entry key="0" type="xstring" value="Col0"/>
<entry key="1" type="xstring" value="Col1"/>
<entry key="2" type="xstring" value="Col2"/>
<entry key="3" type="xstring" value="Col3"/>
<entry key="4" type="xstring" value="Col5"/>
<entry key="5" type="xstring" value="Col6"/>
<entry key="6" type="xstring" value="Col7"/>
<entry key="7" type="xstring" value="Col8"/>
<entry key="8" type="xstring" value="Col9"/>
</config>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
<entry key="has_output_spec" type="xboolean" value="true"/>
</config>
</config>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
