<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Data Generator"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<entry key="stddeviation" type="xdouble" value="0.1"/>
<entry key="noise" type="xdouble" value="0.0"/>
<entry key="patcount" type="xint" value="5400"/>
<entry key="seed" type="xint" value="1032047937"/>
<config key="clustercount">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xint" value="2"/>
<entry key="1" type="xint" value="2"/>
</config>
<config key="unisize">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xint" value="2"/>
<entry key="1" type="xint" value="2"/>
</config>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
<entry key="output_1" type="xstring" value="spec_1.xml"/>
</config>
<entry key="data_meta_file" type="xstring" value="data.xml"/>
<config key="model_files"/>
</config>
