<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="ExpressionSet" name="ExpressionSet" schema="schema/ExpressionSet.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/manipulation/row/row-other/"
            deprecated="false"
            factory-class="org.knime.expressions.node.formulas.FormulasNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.expressions.ExpressionSet">
      <expressionSet
            expressionSet="org.knime.expressions.sets.logical.LogicalExpressionSet">
      </expressionSet>
      <expressionSet
            expressionSet="org.knime.expressions.sets.mathematical.MathematicalExpressionSet">
      </expressionSet>
   </extension> 
</plugin>
