<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="RProp MultiLayerPerceptron Learner"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="maxiter" type="xint" value="150"/>
    <entry key="hiddenlayer" type="xint" value="2"/>
    <entry key="nrhiddenneurons" type="xint" value="15"/>
    <entry key="classcol" type="xstring" value="Col18"/>
    <entry key="ignoremv" type="xboolean" value="false"/>
  </config>
  <config key="spec_files"/>
</config>
