<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.knime.core.gateway.builder.SourceCodeBuilder"
         name="KNIME API Source Code Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.knime.gateway.builder.SourceCodeBuilder">
         </run>
      </builder>
   </extension>

</plugin>
