<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="templaterepository" name="JavaSnippet Template Repository" schema="schema/templaterepository.exsd"/>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/manipulation/column/column-transform"
            factory-class="org.knime.base.node.preproc.stringmanipulation.StringManipulationNodeFactory"
            id="org.knime.base.node.preproc.stringmanipulation.StringManipulationNodeFactory">
      </node>
      <node
            category-path="/misc/java-snippet"
            factory-class="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"
            id="org.knime.base.node.jsnippet.JavaSnippetNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/variables"
            factory-class="org.knime.base.node.jsnippet.JavaEditVarNodeFactory"
            id="org.knime.base.node.jsnippet.JavaEditVarNodeFactory">
      </node>      
   </extension>
   <extension
         point="org.knime.jsnippets.templaterepository">
         <template-repository
               provider-class="org.knime.base.node.jsnippet.template.DefaultFileTemplateRepositoryProvider"
               id="org.knime.base.node.jsnippet.template.DefaultFileTemplateRepositoryProvider">
         </template-repository>
         <template-repository
               provider-class="org.knime.base.node.jsnippet.template.PluginFileTemplateRepositoryProvider"
               id="org.knime.base.node.jsnippet.template.PluginFileTemplateRepositoryProvider">
         </template-repository>                  
   </extension>

</plugin>
