<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
   <extension-point id="templaterepository" name="JavaSnippet Template Repository" schema="schema/templaterepository.exsd"/>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/scripting/java-snippet" factory-class="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"  />
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.jsnippet.JavaEditVarNodeFactory"  />
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.rules.engine.RuleEngineVariableNodeFactory"  />
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineVariable2PortsNodeFactory"  />
      <node category-path="/manipulation/column/column-convert+replace" factory-class="org.knime.base.node.preproc.stringmanipulation.StringManipulationNodeFactory"  />
      <node category-path="/manipulation/row/row-other" factory-class="org.knime.base.node.rules.engine.RuleEngineNodeFactory"  />
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.RuleEngineFilterNodeFactory"  />
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.RuleEngineSplitterNodeFactory"  />
      <node category-path="/manipulation/row/row-other" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngine2PortsNodeFactory"  />
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineFilter2PortsNodeFactory"  />
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineSplitter2PortsNodeFactory"  />
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.pmml.PMMLRuleEditorNodeFactory"  />
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.pmml.PMMLRuleSetPredictorNodeFactory"  />
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.totable.RulesToTableNodeFactory" />
      <node category-path="/analytics/mining/dtree" factory-class="org.knime.base.node.rules.engine.decisiontree.FromDecisionTreeNodeFactory" />
      <node
            category-path="/flowcontrol/variables"
            deprecated="false"
            factory-class="org.knime.base.node.preproc.stringmanipulation.variable.StringManipulationVariableNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.jsnippets.templaterepository">
         <template-repository id="org.knime.base.node.jsnippet.template.JavaSnippetFileTemplateRepositoryProvider" provider-class="org.knime.base.node.jsnippet.template.JavaSnippetFileTemplateRepositoryProvider" />
         <template-repository id="org.knime.base.node.jsnippet.template.JavaSnippetPluginTemplateRepositoryProvider" provider-class="org.knime.base.node.jsnippet.template.JavaSnippetPluginTemplateRepositoryProvider" />
   </extension>

</plugin>
