<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
   <extension-point id="templaterepository" name="JavaSnippet Template Repository" schema="schema/templaterepository.exsd"/>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/manipulation/column/column-transform" factory-class="org.knime.base.node.preproc.stringmanipulation.StringManipulationNodeFactory" id="org.knime.base.node.preproc.stringmanipulation.StringManipulationNodeFactory">
      </node>
      <node category-path="/misc/java-snippet" factory-class="org.knime.base.node.jsnippet.JavaSnippetNodeFactory" id="org.knime.base.node.jsnippet.JavaSnippetNodeFactory">
      </node>
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.jsnippet.JavaEditVarNodeFactory" id="org.knime.base.node.jsnippet.JavaEditVarNodeFactory">
      </node>      
      <node category-path="/manipulation/row/row-other" factory-class="org.knime.base.node.rules.engine.RuleEngineNodeFactory" id="org.knime.base.node.rules.engine.RuleEngineNodeFactory">
      </node>
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.RuleEngineFilterNodeFactory" id="org.knime.base.node.rules.engine.RuleEngineFilterNodeFactory">
      </node>
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.RuleEngineSplitterNodeFactory" id="org.knime.base.node.rules.engine.RuleEngineSplitterNodeFactory">
      </node>
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.rules.engine.RuleEngineVariableNodeFactory" id="org.knime.base.node.rules.engine.RuleEngineVariableNodeFactory">
      </node>
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.pmml.PMMLRuleEditorNodeFactory" id="org.knime.base.node.rules.engine.pmml.PMMLRuleEditorNodeFactory">
      </node>
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.pmml.PMMLRuleSetPredictorNodeFactory" id="org.knime.base.node.rules.engine.pmml.PMMLRuleSetPredictorNodeFactory">
      </node>
      <node category-path="/manipulation/row/row-other" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngine2PortsNodeFactory" id="org.knime.base.node.rules.engine.twoports.RuleEngine2PortsNodeFactory"/>
      <node category-path="/flowcontrol/variables" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineVariable2PortsNodeFactory" id="org.knime.base.node.rules.engine.twoports.RuleEngineVariable2PortsNodeFactory">
      </node>
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineFilter2PortsNodeFactory" id="org.knime.base.node.rules.engine.twoports.RuleEngineFilter2PortsNodeFactory">
      </node>
      <node category-path="/manipulation/row/row-filter" factory-class="org.knime.base.node.rules.engine.twoports.RuleEngineSplitter2PortsNodeFactory" id="org.knime.base.node.rules.engine.twoports.RuleEngine2PortsSplitterNodeFactory">
      </node>
      <node category-path="/mining/dtree" factory-class="org.knime.base.node.rules.engine.decisiontree.FromDecisionTreeNodeFactory" id="org.knime.base.node.rules.engine.decisiontree.FromDecisionTreeNodeFactory"/>
      <node category-path="/manipulation/pmml" factory-class="org.knime.base.node.rules.engine.totable.RulesToTableNodeFactory" id="org.knime.base.node.rules.engine.totable.RulesToTableNodeFactory"/>
   </extension>
   <extension point="org.knime.jsnippets.templaterepository">
         <template-repository id="org.knime.base.node.jsnippet.template.DefaultFileTemplateRepositoryProvider" provider-class="org.knime.base.node.jsnippet.template.DefaultFileTemplateRepositoryProvider">
         </template-repository>
         <template-repository id="org.knime.base.node.jsnippet.template.PluginFileTemplateRepositoryProvider" provider-class="org.knime.base.node.jsnippet.template.PluginFileTemplateRepositoryProvider">
         </template-repository>
   </extension>

</plugin>
