body {
	background: #fff;
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	min-width: 900px;
}

h2 {
	font-weight: bold;
	margin-top: -0.0em;
}

/* Styles for the links section */

.links a {
	color: #666;
	display: block;
	text-decoration: none;
	padding: 5px;
	margin-bottom: 40px;
}

a .link-label {
	   padding-left: 75px;
	   font-size: 16px;
	   font-weight: bold;
	}
	
a .text {
	padding-left: 75px;
	display: block;
	}
	
#install {
	background: url(img/install.png) no-repeat 5px center;
    height: 64px;    
	}
#install:hover {
    background: #eee url(img/install_hover.png) no-repeat 5px center;
    height: 64px; 
    }

#launch {
	background: url(img/launch.png) no-repeat 5px center;
    height: 64px;
	}
#launch:hover {
    background: #eee url(img/launch_hover.png) no-repeat 5px center;
    height: 64px;
    }