<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Column Comparator"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="comparator_method_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="comparator_method" type="xstring" value="&lt;="/>
<config key="first_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="first_column" type="xstring" value="Col0"/>
<config key="second_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="second_column" type="xstring" value="Col1"/>
<config key="match_option_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="match_option" type="xstring" value="USER_DEFINED"/>
<config key="mismatch_option_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mismatch_option" type="xstring" value="USER_DEFINED"/>
<config key="match_value_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="match_value" type="xstring" value="&lt;="/>
<config key="mismatch_value_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mismatch_value" type="xstring" value="&gt;"/>
<config key="new_col_name_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="new_col_name" type="xstring" value="new_column"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
<entry key="has_output_spec" type="xboolean" value="true"/>
</config>
</config>
<config key="model_files"/>
</config>
