<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.core.preferences.HeadlessPreferencesInitializer">
      </initializer>
   </extension>

    
</plugin>
