<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
         <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.display.barchart.BarChartNodeFactory"
            id="org.knime.dev.nodes.timeseries.display.barchart.BarChartNodeFactory"/>
         <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.display.timeplot.TimePlotterNodeFactory"
            id="org.knime.dev.nodes.timeseries.display.timeplot.TimePlotterNodeFactory"/>
        <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.Segmentation.events.patterns.PatternsBetweenEventsNodeFactory"
            id="org.knime.dev.nodes.timeseries.Segmentation.PatternsBetweenEvents.PatternsBetweenEventsNodeFactory"/>
        <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.Segmentation.events.timeseries.TSBetweenEventsNodeFactory"
            id="org.knime.dev.nodes.timeseries.Segmentation.TSBetweenEvents.TSBetweenEventsNodeFactory"/>
       <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.filter.sample.OneSampleperDayNodeFactory"
            id="org.knime.dev.nodes.timeseries.Segmentation.ExtractOneSampleperDay.ExtractOneSampleperDayNodeFactory"/>
       <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.Segmentation.extract.ExtractFromToNodeFactory"
            id="org.knime.dev.nodes.timeseries.Segmentation.ExtractFromTo.ExtractFromToNodeFactory"/>
      <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.movavg.MovingAverageNodeFactory"
            id="org.knime.dev.nodes.timeseries.MovingAverageNodeFactory"/>
      <node
            category-path="/timeseries"
            factory-class="org.knime.exp.timeseries.node.fuzzycpmeans.FuzzyPearsonClusterNodeFactory"
            id="org.knime.timeseries.node.fuzzyCPmeans.FuzzyPearsonClusterNodeFactory">
      </node>
      <node
            category-path="/timeseries"
            factory-class="org.knime.timeseries.node.stringtotimestamp.String2DateNodeFactory"
            id="org.knime.timeseries.node.stringtotimestamp.String2DateNodeFactory">
      </node>
      <node
            category-path="/timeseries"
            expert-flag="false"
            factory-class="org.knime.timeseries.node.diff.TimeDifferenceNodeFactory"
            id="org.knime.timeseries.node.diff.TimeDifferenceNodeFactory">
      </node>
      <node
            category-path="/timeseries"
            expert-flag="false"
            factory-class="org.knime.timeseries.node.aggregate.TimeAggregatorNodeFactory"
            id="org.knime.timeseries.node.diff.TimeDifferenceNodeFactory">
      </node>
      <node
            category-path="timeseries"
            factory-class="org.knime.timeseries.node.generator.DateGeneratorNodeFactory"
            id="org.knime.timeseries.node.generator.DateGeneratorNodeFactory">
      </node>
   </extension>

   <extension
         point="org.knime.workbench.repository.categories">
      <category
            after="meta"
            description="Time Series Utilities"
            icon="icons/category_time.png"
            level-id="timeseries"
            name="Time Series"
            path="/"/>
   </extension>
   
</plugin>
