<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            after="org.knime.time.node.manipulate.modifytimezone.ModifyTimeZoneNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.newtoold.NewToOldTimeNodeFactory">
      </node>
      <node
            after="org.knime.time.node.convert.newtoold.NewToOldTimeNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.oldtonew.OldToNewTimeNodeFactory">
      </node>
      <node
            after="org.knime.time.node.convert.datetimetostring.DateTimeToStringNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.stringtodatetime.StringToDateTimeNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.datetimetostring.DateTimeToStringNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.modifytime.ModifyTimeNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.modifydate.ModifyDateNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.modifytimezone.ModifyTimeZoneNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.datetimeshift.DateTimeShiftNodeFactory">
      </node>
      <node
            after="org.knime.time.node.convert.stringtodatetime.StringToDateTimeNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.durationperiodtostring.DurationPeriodToStringNodeFactory">
      </node>
      <node
            after="org.knime.time.node.convert.durationperiodtostring.DurationPeriodToStringNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.stringtodurationperiod.StringToDurationPeriodNodeFactory">
      </node>
      <node
            after="org.knime.time.node.manipulate.datetimeshift.DateTimeShiftNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.filter.datetimebasedrowfilter.DateTimeBasedRowFilterNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.extract.durationperiod.ExtractDurationPeriodFieldsNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.calculate.datetimedifference.DateTimeDifferenceNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.extract.datetime.ExtractDateTimeFieldsNodeFactory">
      </node>
      <node
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.create.createdatetime.CreateDateTimeNodeFactory">
      </node>
      <node
            after="org.knime.time.node.convert.durationperiodtostring.DurationPeriodToStringNodeFactory"
            category-path="/applications/timeseries"
            deprecated="false"
            factory-class="org.knime.time.node.convert.durationtonumber.DurationToNumberNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
         <category
               description="KNIME Preview nodes -- part of future KNIME releases"
               icon="icons/preview.png"
               level-id="preview"
               name="Preview"
               path="/">
      </category>
      <category
            description="Time Series Utilities"
            icon="icons/category_time.png"
            level-id="datetime"
            name="Date &amp; Time"
            path="/preview"/>
      <category
            description="Meta Nodes for time series analysis"
            icon="icons/metanode.png"
            level-id="meta"
            locked="true"
            name="Meta Nodes"
            path="/preview/datetime">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.metanode">
      <PersistedMetaNode
            category-path="/applications/timeseries/meta"
            description="Removes the seasonality from the selected time series.  This metanode selects one time series column, optionally one datetime column, and an interval lag. Then it performs x(t) – x(t-interval lag) to correct the seasonality.  Note: It does not find automatically the optimal interval lag. The interval lag has to be supplied by the user. (Optimal Interval Lag can be found via the linear correlation node, by knowledge, or by some specific formulas)."
            icon="icons/category_time.png"
            id="SeasonalityCorrection"
            name="Seasonality Correction"
            workflowDir="metanode_templates/Seasonality Correction/">
      </PersistedMetaNode>
      <PersistedMetaNode
            category-path="/applications/timeseries/meta"
            description="This node  selects a time series column, optionally a datetime column, and a lag. Then it trains a model (linear regression or neural network or whatever has a numerical output). The model can be changed (like in the cross-validation node)."
            icon="icons/category_time.png"
            id="Time-SeriesAuto-PredictionTraining"
            name="Time-Series Auto-Prediction Training"
            workflowDir="metanode_templates/Time Series Auto-Prediction Training/">
      </PersistedMetaNode>
      <PersistedMetaNode
            after="Time-SeriesAuto-PredictionTraining"
            category-path="/applications/timeseries/meta"
            description="This metanode applies all previously selected variables (time series column, lag and datetime column) to the predictor node. Note that the predictor node has to be consistent with the training node ion the time series training metanode."
            icon="icons/category_time.png"
            id="Time-SeriesAuto-PredictionPredictor"
            name="Time-Series Auto-Prediction Predictor"
            workflowDir="metanode_templates/Time Series Auto-Prediction Predictor/">
      </PersistedMetaNode>
   </extension>   
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.core.data.time.localtime.LocalTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localtime.LocalTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.localdate.LocalDateValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localdate.LocalDateValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.localdatetime.LocalDateTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localdatetime.LocalDateTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.duration.DurationValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.duration.DurationISOValueRenderer$DefaultRendererFactory"
               suggestAsDefault="false">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.core.data.time.duration.DurationLongValueRenderer$DurationLongRendererFactory"
               suggestAsDefault="false">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.core.data.time.duration.DurationShortValueRenderer$DurationShortRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.period.PeriodValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.period.PeriodISOValueRenderer$DefaultRendererFactory"
               suggestAsDefault="false">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.core.data.time.period.PeriodShortValueRenderer$PeriodShortRendererFactory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.core.data.time.period.PeriodLongValueRenderer$PeriodLongRendererFactory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.core.data.time.localtime.LocalTimeCell"
            factoryClass="org.knime.core.data.time.localtime.LocalTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localtime.LocalTimeCell"
               serializerClass="org.knime.core.data.time.localtime.LocalTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.localdate.LocalDateCell"
            factoryClass="org.knime.core.data.time.localdate.LocalDateCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localdate.LocalDateCell"
               serializerClass="org.knime.core.data.time.localdate.LocalDateCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.localdatetime.LocalDateTimeCell"
            factoryClass="org.knime.core.data.time.localdatetime.LocalDateTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localdatetime.LocalDateTimeCell"
               serializerClass="org.knime.core.data.time.localdatetime.LocalDateTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCell"
            factoryClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCell"
               serializerClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.duration.DurationCell"
            factoryClass="org.knime.core.data.time.duration.DurationCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.duration.DurationCell"
               serializerClass="org.knime.core.data.time.duration.DurationCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.period.PeriodCell"
            factoryClass="org.knime.core.data.time.period.PeriodCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.period.PeriodCell"
               serializerClass="org.knime.core.data.time.period.PeriodCellSerializer">
         </serializer>
      </DataType>
   </extension>
   <extension
         point="org.knime.base.AggregationOperator">
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalDateMedianOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalTimeMedianOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalDateTimeMedianOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.PeriodOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalTimeDurationOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalDateTimeDurationOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalTimeMeanOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalDateTimeMeanOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="org.knime.base.data.aggregation.datetime.LocalDateMeanOperator"
            deprecated="false">
      </AggregationOperator>
   </extension>
   
</plugin>
