<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.convert.newtoold.NewToOldTimeNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.convert.oldtonew.OldToNewTimeNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.convert.stringtodatetime.StringToDateTimeNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.convert.datetimetostring.DateTimeToStringNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.addtime.AddTimeNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.adddate.AddDateNodeFactory">
      </node>
      <node
            category-path="/preview/datetime"
            deprecated="false"
            factory-class="org.knime.time.node.manipulate.modifytimezone.ModifyTimeZoneNodeFactory">
      </node>
   </extension>

   <extension
         point="org.knime.workbench.repository.categories">
         <category
               description="KNIME Preview nodes -- part of future KNIME releases"
               icon="icons/preview.png"
               level-id="preview"
               name="Preview"
               path="/">
      </category>
      <category
            description="Time Series Utilities"
            icon="icons/category_time.png"
            level-id="datetime"
            name="Date &amp; Time"
            path="/preview"/>
      <category
            description="Meta Nodes for time series analysis"
            icon="icons/metanode.png"
            level-id="meta"
            locked="true"
            name="Meta Nodes"
            path="/preview/datetime">
      </category>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.core.data.time.localtime.LocalTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localtime.LocalTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.localdate.LocalDateValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localdate.LocalDateValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.localdatetime.LocalDateTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.localdatetime.LocalDateTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.duration.DurationValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.duration.DurationValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.core.data.time.period.PeriodValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.time.period.PeriodValueRenderer$DefaultRendererFactory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.core.data.time.localtime.LocalTimeCell"
            factoryClass="org.knime.core.data.time.localtime.LocalTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localtime.LocalTimeCell"
               serializerClass="org.knime.core.data.time.localtime.LocalTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.localdate.LocalDateCell"
            factoryClass="org.knime.core.data.time.localdate.LocalDateCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localdate.LocalDateCell"
               serializerClass="org.knime.core.data.time.localdate.LocalDateCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.localdatetime.LocalDateTimeCell"
            factoryClass="org.knime.core.data.time.localdatetime.LocalDateTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.localdatetime.LocalDateTimeCell"
               serializerClass="org.knime.core.data.time.localdatetime.LocalDateTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCell"
            factoryClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCell"
               serializerClass="org.knime.core.data.time.zoneddatetime.ZonedDateTimeCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.duration.DurationCell"
            factoryClass="org.knime.core.data.time.duration.DurationCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.duration.DurationCell"
               serializerClass="org.knime.core.data.time.duration.DurationCellSerializer">
         </serializer>
      </DataType>
      <DataType
            cellClass="org.knime.core.data.time.period.PeriodCell"
            factoryClass="org.knime.core.data.time.period.PeriodCellFactory">
         <serializer
               cellClass="org.knime.core.data.time.period.PeriodCell"
               serializerClass="org.knime.core.data.time.period.PeriodCellSerializer">
         </serializer>
      </DataType>
   </extension>
   
</plugin>
