<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="splashExtension" name="KNIME Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension id="KNIME_APPLICATION" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.product.rcp.KNIMEApplication"/>
      </application>
   </extension>
   <extension id="KNIME_PRODUCT" name="KNIME Workbench - Standalone Version" point="org.eclipse.core.runtime.products">
      <product application="org.knime.product.KNIME_APPLICATION" description="An Integrated and Extensible Data Analysis Workbench" name="KNIME">
         <property name="windowImage" value="icons/gif/knime16.gif"/>
         <property name="aboutText" value="Welcome to KNIME v2.0.3.0021111&#10;the Konstanz Information Miner&#10;Copyright, 2003 - 2009&#10;email: contact@knime.org&#10;&#10;This version of KNIME is licensed under the Aladdin License.&#10;Please see the license file in the installation directory and &#10;contact us if you cannot locate it. More details can be found at&#10;http://www.knime.org&#10;&#10;Based on Eclipse, www.eclipse.org &#10;Uses: Java, GEF, Log4J&#10;&#10;KNIME is a registered trademark of KNIME GmbH, Germany.&#10;All other trademarks are the property of their respective owners."/>
         <property name="aboutImage" value="icons/gif/knime128.gif"/>
         <property name="appName" value="KNIME">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini">
         </property>
         <property name="windowImages" value="icons/gif/knime16.gif,icons/gif/knime32.gif,icons/gif/knime64.gif">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <keyConfiguration description="KNIME Workbench Key Configuration" id="org.knime.product.keyConfiguration" name="org.knime.product.keyConfiguration">
      </keyConfiguration>
      <command description="Creates a new KNIME project" id="open.new.project.wizard" name="New KNIME Project...">
      </command>
   </extension>
   <extension id="KNIME_BATCH_APPLICATION" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.product.headless.KNIMEBatchApplication"/>
      </application>
   </extension>
   <extension point="org.eclipse.ui.splashHandlers">
      <splashHandler class="org.knime.product.KNIMESplashHandler" id="org.knime.product.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding productId="org.knime.product.KNIME_PRODUCT" splashId="org.knime.product.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <!--
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   -->
   <extension point="org.eclipse.ui.intro">
      <intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" icon="icons/gif/knime16.gif" id="org.knime.product.intro">
      </intro>
      <introProductBinding introId="org.knime.product.intro" productId="org.knime.product.KNIME_PRODUCT">
      </introProductBinding>
   </extension>
   <extension point="org.eclipse.ui.intro.config">
      <config content="intro/introContent.xml" id="org.knime.product.config" introId="org.knime.product.intro">
         <presentation home-page-id="org.knime.product.presentation" standby-page-id="org.knime.product.presentation">
            <implementation kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
   
   <extension point="org.eclipse.ui.intro.configExtension">
    <action name="createProjectFromIntro" replaces="runAction?pluginId=org.knime.workbench.help&amp;class=org.knime.workbench.help.intro.NewProjectWizardIntroAction">
    </action>
    <action name="launchUpdateWizard" replaces="runAction?pluginId=org.knime.workbench.help&amp;class=org.knime.workbench.help.intro.InvokeInstallSiteAction">
    </action>
    </extension>
</plugin>
