<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

   <extension id="KNIME_APPLICATION" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.product.rcp.KNIMEApplication"/>
      </application>
   </extension>
   <extension id="KNIME_PRODUCT" name="KNIME Workbench - Standalone Version" point="org.eclipse.core.runtime.products">
      <product application="org.knime.product.KNIME_APPLICATION" description="An Integrated and Extensible Data Analysis Workbench" name="KNIME">
         <property name="windowImage" value="icons/knime.png"/>
         <property name="aboutText" value="Welcome to KNIME v2.0.0.0016392&#10;the Konstanz Information Miner&#10;Copyright, 2003 - 2008&#10;email: contact@knime.org&#10;&#10;This version of KNIME is licensed under the Aladdin Open Source &#10;License. Please see the license file in the installation directory and &#10;contact us if you cannot locate it. More details can be found at&#10;http://www.knime.org&#10;&#10;Based on Eclipse, www.eclipse.org &#10;Uses: Java, GEF, Log4J"/>
         <property name="aboutImage" value="icons/knime64.gif"/>
         <property name="appName" value="KNIME">
         </property>
         <property name="startupForegroundColor" value="000000">
         </property>
         <property name="startupMessageRect" value="7,238,445,20">
         </property>
         <property name="startupProgressRect" value="5,258,445,15">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <keyConfiguration description="KNIME Workbench Key Configuration" id="org.knime.product.keyConfiguration" name="org.knime.product.keyConfiguration">
      </keyConfiguration>
      <command description="Creates a new KNIME project" id="open.new.project.wizard" name="New KNIME Project...">
      </command>
   </extension>
   <extension id="KNIME_BATCH_APPLICATION" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.product.headless.KNIMEBatchApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/knime.png"
            id="org.knime.product.intro">
      </intro>
      <introProductBinding
            introId="org.knime.product.intro"
            productId="org.knime.product.KNIME_PRODUCT">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/introContent.xml"
            id="org.knime.product.config"
            introId="org.knime.product.intro">
         <presentation
               home-page-id="org.knime.product.presentation"
               standby-page-id="org.knime.product.presentation">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
   
   <extension point="org.eclipse.ui.intro.configExtension">
    <action
        name="createProjectFromIntro"
        replaces="runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction">
    </action>
    <action
        name="launchUpdateWizard"
        replaces="runAction?pluginId=org.knime.workbench.help&amp;class=org.knime.workbench.help.intro.InvokeInstallSiteAction">
    </action>
    </extension>

</plugin>
