<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="nrClusters_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nrClusters" type="xint" value="3"/>
<config key="maxNrIterations_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="maxNrIterations" type="xint" value="99"/>
<config key="cfgColmns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="cfgColmns">
<config key="InclList">
<entry key="array-size" type="xint" value="16"/>
<entry key="0" type="xstring" value="symboling"/>
<entry key="1" type="xstring" value="normalized losses"/>
<entry key="2" type="xstring" value="wheel base"/>
<entry key="3" type="xstring" value="length"/>
<entry key="4" type="xstring" value="width"/>
<entry key="5" type="xstring" value="height"/>
<entry key="6" type="xstring" value="curb weight"/>
<entry key="7" type="xstring" value="engine size"/>
<entry key="8" type="xstring" value="bore"/>
<entry key="9" type="xstring" value="stroke"/>
<entry key="10" type="xstring" value="compression ratio"/>
<entry key="11" type="xstring" value="horse power"/>
<entry key="12" type="xstring" value="peak rpm"/>
<entry key="13" type="xstring" value="city mpg"/>
<entry key="14" type="xstring" value="highway mpg"/>
<entry key="15" type="xstring" value="price"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="true"/>
</config>
</config>
<config key="variables">
<config key="nrClusters">
<entry key="used_variable" type="xstring" value="cluster_count"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.mine.cluster.kmeans.ClusterNodeFactory"/>
<entry key="node-name" type="xstring" value="k-Means"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="k-Means"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
