<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file (URL)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="file:/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="quote_character"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="&quot;"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="column_delimiter"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value=","/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="comment_character"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="#"/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="has_row_header"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="false"/>
</config>
<config key="Variable_6">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="has_column_header"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="true"/>
</config>
<config key="Variable_7">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file (URL)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="file:/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_8">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="input_file"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/Users/albrecht/Downloads/cars-85.csv"/>
</config>
<config key="Variable_9">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="quote_character"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="&quot;"/>
</config>
<config key="Variable_10">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="column_delimiter"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value=","/>
</config>
<config key="Variable_11">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="comment_character"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="#"/>
</config>
<config key="Variable_12">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="has_row_header"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="false"/>
</config>
<config key="Variable_13">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="has_column_header"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="true"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model"/>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="virtual-in-ID" type="xint" value="17"/>
<config key="inports"/>
<entry key="virtual-out-ID" type="xint" value="18"/>
<config key="outports">
<config key="outport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
</config>
</config>
</config>
<config key="layoutInfos">
<config key="layoutInfo_0">
<entry key="nodeID" type="xint" value="1"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0"/>
<entry key="layout_y" type="xstring" value="0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_1">
<entry key="nodeID" type="xint" value="2"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0:0"/>
<entry key="layout_y" type="xstring" value="1:0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_2">
<entry key="nodeID" type="xint" value="3"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0:1"/>
<entry key="layout_y" type="xstring" value="1:0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_3">
<entry key="nodeID" type="xint" value="4"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0:2"/>
<entry key="layout_y" type="xstring" value="1:0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_4">
<entry key="nodeID" type="xint" value="5"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0:0"/>
<entry key="layout_y" type="xstring" value="2:0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_5">
<entry key="nodeID" type="xint" value="6"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0:1"/>
<entry key="layout_y" type="xstring" value="2:0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
</config>
</config>
