<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="TestcaseCollector" name="TestcaseCollector" schema="schema/org.knime.testing.TestcaseCollector.exsd"/>
   <extension-point id="DifferenceCheckerFactory" name="DifferenceCheckerFactory" schema="schema/org.knime.testing.DifferenceCheckerFactory.exsd"/>
   <extension-point id="TestrunJanitor" name="TestrunJanitor" schema="schema/org.knime.core.testing.TestrunJanitor.exsd"/>
   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.disturber.DisturberNodeFactory"
            />
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.differModelContent.DiffModelContentFactory"
            />
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.blocking.BlockingNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.failing.FailingNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.credentialsvalidate.CredentialsValidateNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.datagenerator.TestDataNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.executioncount.ExecutionCountNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.file.DifferFileNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.imagecomp.ImageCompNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.internal.nodes.differ.DifferenceCheckerNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.internal.nodes.image.ImageDifferNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.config.TestConfigNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.internal.nodes.pmml.PMMLDifferenceCheckerNodeFactory"
            >
      </node>
      <node
            category-path="/testing/filestore"
            factory-class="org.knime.testing.node.filestore.create.FileStoreCreateNodeFactory"
            >
      </node>
      <node
            after="org.knime.testing.node.filestore.create.FileStoreCreateNodeFactory"
            category-path="/testing/filestore"
            factory-class="org.knime.testing.node.filestore.check.FileStoreTestNodeFactory"
            >
      </node>
      <node
            after="org.knime.testing.node.filestore.check.FileStoreTestNodeFactory"
            category-path="/testing/filestore"
            factory-class="org.knime.testing.node.filestore.createloopend.FileStoreCreateLoopEndNodeFactory"
            >
      </node>     
      <node
            after="org.knime.testing.node.filestore.createloopend.FileStoreCreateLoopEndNodeFactory"
            category-path="/testing/filestore"
            factory-class="org.knime.testing.node.filestore.fsloopend.LoopEndFileStorePortObjectTestNodeFactory"
            >
      </node>
      <node
            after="org.knime.testing.node.filestore.fsloopend.LoopEndFileStorePortObjectTestNodeFactory"
            category-path="/testing/filestore"
            factory-class="org.knime.testing.node.filestore.fsobject2cell.FileStoreObjectToCellNodeFactory"
            >
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.logging.LoggerOptionNodeFactory"
            >
      </node>     
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/testing.png"
            level-id="testing"
            name="Testing"
            path="/"/>
      <category
            description="Contains nodes to test the handling of file stores in the framework"
            icon="icons/testing.png"
            level-id="filestore"
            locked="true"
            name="File Store"
            path="/testing"/>
   </extension>
   <extension
	     id="KNIME_TESTING_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.testing.core.KNIMETestingApplication"/>
      </application>
   </extension>
   <extension
         id="KNIME_PRINT_NODES_STDOUT_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.knime.testing.core.KNIMEPrintNodesStdOutApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.knime.testing.DifferenceCheckerFactory">
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.EqualityChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.EpsilonNumberChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.StringChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.PngPHashChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.PngDHashChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.PngFullDifferenceChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.PngHistogramDifferenceChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.URIContentDifferenceChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.IgnoreChecker$Factory">
      </DifferenceCheckerFactory>
      <DifferenceCheckerFactory
            class="org.knime.testing.internal.diffcheckers.XMLChecker$Factory">
      </DifferenceCheckerFactory>
   </extension>
   <extension
         id="NGTestflowRunner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.testing.core.ng.TestflowRunnerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="NGUnittestRunner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.knime.testing.core.ng.UnittestRunnerApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.testing.data.filestore.LargeFileStoreCell">
         <serializer
               cellClass="org.knime.testing.data.filestore.LargeFileStoreCell"
               serializerClass="org.knime.testing.data.filestore.LargeFileStoreCell$Serializer">
         </serializer>
      </DataType>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="true"
            name="Large Filestore"
            objectClass="org.knime.testing.data.filestore.LargeFileStorePortObject"
            objectSerializer="org.knime.testing.data.filestore.LargeFileStorePortObject$Serializer"
            specClass="org.knime.testing.data.filestore.LargeFileStorePortObjectSpec"
            specSerializer="org.knime.testing.data.filestore.LargeFileStorePortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.core.NodeExecutionJobManagerFactory">
      <NodeExecutionJobManagerFactory
            JobManagerFactory="org.knime.testing.streaming.testexecutor.StreamingTestNodeExecutionJobManagerFactory">
      </NodeExecutionJobManagerFactory>
   </extension>
</plugin>
