<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.differNode.DiffNodeFactory"
            id="org.knime.testing.differNode.DiffNodeFactory"/>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.disturber.DisturberNodeFactory"
            id="org.knime.testing.node.disturber.DisturberNodeFactory"/>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.differModelContent.DiffModelContentFactory"
            id="org.knime.testing.node.differModelContent.DiffModelContentFactory"/>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.blocking.BlockingNodeFactory"
            id="org.knime.testing.node.blocking.BlockingNodeFactory">
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.failing.FailingNodeFactory"
            id="org.knime.testing.node.failing.FailingNodeFactory">
      </node>
      <node
            category-path="/testing"
            expert-flag="false"
            factory-class="org.knime.testing.node.datagenerator.TestDataNodeFactory"
            id="org.knime.testing.node.datagenerator.TestDataNodeFactory">
      </node>
      <node
            category-path="/testing"
            factory-class="org.knime.testing.node.executioncount.ExecutionCountNodeFactory"
            id="org.knime.testing.node.executioncount.ExecutionCountNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/testing.png"
            level-id="testing"
            name="Testing"
            path="/"/>
   </extension>
   <extension
	     id="KNIME_TESTING_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.knime.testing.core.KNIMETestingApplication"/>
      </application>
   </extension>
   <extension
         id="KNIME_PRINT_NODES_STDOUT_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.knime.testing.core.KNIMEPrintNodesStdOutApplication">
         </run>
      </application>
   </extension>
   

</plugin>
