<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Splitter"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <config key="top">
      <entry key="array-size" type="xint" value="3"/>
      <entry key="0" type="xstring" value="Col0"/>
      <entry key="1" type="xstring" value="Col2"/>
      <entry key="2" type="xstring" value="Col3"/>
    </config>
    <config key="bottom">
      <entry key="array-size" type="xint" value="2"/>
      <entry key="0" type="xstring" value="Col1"/>
      <entry key="1" type="xstring" value="Col4"/>
    </config>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
    <entry key="output_1" type="xstring" value="spec_1.xml"/>
  </config>
</config>
