<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Database Writer"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<entry key="driver" type="xstring" value="sun.jdbc.odbc.JdbcOdbcDriver"/>
<entry key="database" type="xstring" value="jdbc:odbc:db_access"/>
<entry key="user" type="xstring" value=""/>
<config key="loaded_driver">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="table" type="xstring" value="write_112"/>
</config>
<config key="spec_files"/>
<config key="model_files"/>
</config>
