<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.gateway.entities.EntityBuilderFactory">
      <EntityBuilderFactory
            EntityBuilderFactory="org.knime.core.thrift.TEntityBuilderFactory">
      </EntityBuilderFactory>
   </extension>

</plugin>
