<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="generateImage" type="xboolean" value="false"/>
<entry key="showLegend" type="xboolean" value="false"/>
<entry key="autoRange" type="xboolean" value="true"/>
<entry key="useDomainInformation" type="xboolean" value="false"/>
<entry key="showGrid" type="xboolean" value="true"/>
<entry key="showCrosshair" type="xboolean" value="false"/>
<entry key="snapToPoints" type="xboolean" value="false"/>
<entry key="resizeToWindow" type="xboolean" value="false"/>
<entry key="enableViewConfiguration" type="xboolean" value="true"/>
<entry key="enableTitleChange" type="xboolean" value="false"/>
<entry key="enableSubtitleChange" type="xboolean" value="false"/>
<entry key="enableXColumnChange" type="xboolean" value="true"/>
<entry key="enableYColumnChange" type="xboolean" value="true"/>
<entry key="enableXAxisLabelEdit" type="xboolean" value="false"/>
<entry key="enableYAxisLabelEdit" type="xboolean" value="false"/>
<entry key="enableDotSizeChange" type="xboolean" value="false"/>
<entry key="enableZooming" type="xboolean" value="true"/>
<entry key="enableDragZooming" type="xboolean" value="false"/>
<entry key="enablePanning" type="xboolean" value="true"/>
<entry key="showZoomResetButton" type="xboolean" value="false"/>
<entry key="enableSelection" type="xboolean" value="false"/>
<entry key="enableRectangleSelection" type="xboolean" value="false"/>
<entry key="enableLassoSelection" type="xboolean" value="false"/>
<entry key="chartTitle" type="xstring" value=""/>
<entry key="chartSubtitle" type="xstring" value=""/>
<entry key="xCol" type="xstring" value="symboling"/>
<entry key="yCol" type="xstring" value="normalized losses"/>
<entry key="maxRows" type="xint" value="2500"/>
<entry key="selectionColumnName" type="xstring" value="Selected (Scatter Plot)"/>
<entry key="xAxisLabel" type="xstring" value=""/>
<entry key="yAxisLabel" type="xstring" value=""/>
<entry key="xAxisMin" type="xstring" isnull="true" value=""/>
<entry key="xAxisMax" type="xstring" isnull="true" value=""/>
<entry key="yAxisMin" type="xstring" isnull="true" value=""/>
<entry key="yAxisMax" type="xstring" isnull="true" value=""/>
<entry key="dot_size" type="xstring" value="3"/>
<entry key="date_format" type="xstring" value="yyyy-mm-dd"/>
<entry key="imageWidth" type="xint" value="800"/>
<entry key="imageHeight" type="xint" value="600"/>
<entry key="backgroundColor" type="xstring" value="rgba(255,255,255,1.0)"/>
<entry key="dataAreaColor" type="xstring" value="rgba(230,230,230,1.0)"/>
<entry key="gridColor" type="xstring" value="rgba(255,255,255,1.0)"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.ScatterPlotNodeFactory"/>
<entry key="node-name" type="xstring" value="JavaScript Scatter Plot"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Javascript Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="2.12.0.qualifier"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="JavaScript Scatter Plot"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
