<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="Decision Table"/>
  <entry key="isConfigured" type="xboolean" value="true"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model">
    <entry key="ClassColumn" type="xstring" value="Col16"/>
    <config key="wekaoptions">
      <entry key="array-size" type="xint" value="7"/>
      <entry key="0" type="xstring" value="-X"/>
      <entry key="1" type="xstring" value="1"/>
      <entry key="2" type="xstring" value="-S"/>
      <entry key="3" type="xstring" value="5"/>
      <entry key="4" type="xstring" value=""/>
      <entry key="5" type="xstring" value=""/>
      <entry key="6" type="xstring" value=""/>
    </config>
  </config>
  <config key="spec_files">
    <entry key="output_0" type="xstring" value="spec_0.xml"/>
  </config>
</config>
