<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="variable_filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="output_location"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="file_system_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_file_system"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="file_system">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.space"/>
                <entry key="mountpoint" type="xstring" value="knime-temp-space"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="custom_url_timeout" type="xint" value="10000"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="location_spec">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
            </config>
        </config>
        <config key="suffix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="suffix" type="xstring" value="_location"/>
        <config key="on_fv_conflict_make_unique_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="on_fv_conflict_make_unique" type="xboolean" value="false"/>
        <config key="fail_on_missing_file_folder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="fail_on_missing_file_folder" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.filehandling.utility.nodes.stringtopath.variable.StringToPathVariableNodeFactory"/>
    <entry key="node-name" type="xstring" value="String to Path (Variable)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Filehandling Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.filehandling.utility.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.5.0.v202412191417"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Input Variables"/>
        <config key="Appended variables"/>
    </config>
    <entry key="name" type="xstring" value="String to Path (Variable)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
