<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="pmmlports" name="pmml.ports" schema="schema/pmmlports.exsd"/>
    <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/16x16/category_reader.png"
            level-id="io"
            name="IO"
            path="/"/>
      <category
            icon="icons/16x16/read.png"
            level-id="read"
            name="Read"
            path="/io"/>
      <category
            after="read"
            icon="icons/16x16/write.png"
            level-id="write"
            name="Write"
            path="/io"/>
      <category
            after="io"
            icon="icons/16x16/category_database.png"
            level-id="database"
            name="Database"
            path="/"/>
      <category
            after="database"
            icon="icons/16x16/category_transform.gif"
            level-id="manipulation"
            name="Data Manipulation"
            path="/"/>
      <category
            icon="icons/16x16/column.png"
            level-id="column"
            name="Column"
            path="/manipulation"/>
      <category
            after="column"
            icon="icons/16x16/row.png"
            level-id="row"
            name="Row"
            path="/manipulation"/>
      <category
            after="statistics"
            icon="icons/16x16/category_learner.gif"
            level-id="mining"
            name="Mining"
            path="/"/>
      <category
            icon="icons/missing.gif"
            level-id="basisfunction"
            name="Fuzzy Rules"
            path="/mining/rules"/>
      <category
            icon="icons/missing.gif"
            level-id="clustering"
            name="Clustering"
            path="/mining"/>
      <category
            after="manipulation"
            icon="icons/16x16/category_visualize.gif"
            level-id="view"
            name="Data Views"
            path="/"/>
      <category
            level-id="property"
            icon="icons/16x16/category_properties.gif"
            description="View Properties"
            path="/view"
            name="Property"/>
      <category
            level-id="nn"
            icon="icons/missing.gif"
            description="Learning of Neural Networks"
            path="/mining"
            after="rules"
            name="Neural Network"/>
      <category
            after="view"
            icon="icons/16x16/category_statistics.png"
            level-id="statistics"
            name="Statistics"
            path="/"/>
       <category
            icon="icons/missing.gif"
            level-id="regression"
            name="Regression"
            path="/statistics"/>
      <category
            after="clustering"
            icon="icons/missing.gif"
            level-id="rules"
            name="Rule Induction"
            path="/mining"/>
      <category
            icon="icons/missing.gif"
            level-id="mlp"
            name="MLP"
            path="/mining/nn"/>
      <category
            after="mlp"
            icon="icons/missing.gif"
            level-id="pnn"
            name="PNN"
            path="/mining/nn"/>
      <category
            after="nn"
            icon="icons/missing.gif"
            level-id="dtree"
            name="Decision Tree"
            path="/mining"/>
      <category
            icon="icons/missing.gif"
            level-id="modeleval"
            name="Scoring"
            path="/mining"/>
      <category
            after="write"
            icon="icons/missing.gif"
            level-id="artificial"
            name="Artificial Data"
            path="/io"/>
      <category
            icon="icons/missing.gif"
            level-id="subgroup"
            name="Association Rules"
            path="/mining"/>
      <category
            after="row"
            icon="icons/16x16/matrix.png"
            level-id="matrix"
            name="Matrix"
            path="/manipulation"/>
      <category
            description="meta nodes"
            icon="icons/16x16/meta.png"
            level-id="meta"
            name="Meta"
            path="/"/>
      <category
            after="dtree"
            description="miscellaneous classifiers"
            icon="icons/missing.gif"
            level-id="miscClass"
            name="Misc Classifiers"
            path="/mining"/>
      <category
            icon="icons/missing.gif"
            level-id="bayes"
            name="Bayes"
            path="/mining"/>
      <category
            icon="icons/missing.gif"
            level-id="mds"
            name="MDS"
            path="/mining"/>
      <category
            icon="icons/missing.gif"
            level-id="svm"
            name="SVM"
            path="/mining">
      </category>
      <category
            level-id="features"
            name="Feature Selection"
            path="/meta">
      </category>
   </extension>
            
     <extension
         point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.knime.base.node.mine.smote.SmoteNodeFactory"
            category-path="/manipulation/column"
            id="org.knime.base.node.mine.smote.SmoteNodeFactory"/>
      <node
            category-path="/io/read"
            factory-class="org.knime.base.node.io.filereader.FileReaderNodeFactory"
            id="org.knime.base.node.io.filereader.FileReaderNodeFactory">
      </node>
      <node
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.color.ColorManager2NodeFactory"
            id="org.knime.base.node.viz.property.color.ColorManager2NodeFactory">
      </node>
      <node
            after="org.knime.base.node.viz.property.color.ColorManager2NodeFactory"
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.size.SizeManager2NodeFactory"
            id="org.knime.base.node.viz.property.size.SizeManager2NodeFactory"/>
      <node
	        after="org.knime.base.node.viz.property.size.SizeManager2NodeFactory"
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.shape.ShapeManagerNodeFactory"
            id="org.knime.base.node.viz.property.shape.ShapeManagerNodeFactory">
      </node>
      <node
            after="org.knime.base.node.viz.property.shape.ShapeManagerNodeFactory"
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.color.ColorAppender2NodeFactory"
            id="org.knime.base.node.viz.property.color.ColorAppenderNodeFactory">
      </node>
      <node
            after="org.knime.base.node.viz.property.color.ColorAppenderNodeFactory"
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.size.SizeAppenderNodeFactory"
            id="org.knime.base.node.viz.property.size.SizeAppenderNodeFactory">
      </node>
      <node
            after="org.knime.base.node.viz.property.size.SizeAppenderNodeFactory"
            category-path="/view/property"
            factory-class="org.knime.base.node.viz.property.shape.ShapeAppenderNodeFactory"
            id="org.knime.base.node.viz.property.shape.ShapeAppenderNodeFactory">
      </node>
      <node
            category-path="/view"
            factory-class="org.knime.base.node.viz.table.TableNodeFactory"
            id="org.knime.base.node.viz.table.TableNodeFactory">
      </node>
      <node
            category-path="/mining/modeleval"
            factory-class="org.knime.base.node.mine.scorer.hilitescorer.HiliteScorerNodeFactory"
            id="org.knime.base.node.mine.scorer.hilitescorer.HiliteScorerNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.filter.column.FilterColumnNodeFactory"
            id="org.knime.base.node.preproc.filter.column.FilterColumnNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.binner.BinnerNodeFactory"
            id="org.knime.base.node.preproc.binner.BinnerNodeFactory"/>
      <node
            category-path="/io"
            factory-class="org.knime.base.node.util.cache.CacheNodeFactory"
            id="org.knime.base.node.util.cache.CacheNodeFactory"/>
      <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.cluster.kmeans.ClusterNodeFactory"
            id="org.knime.base.node.mine.cluster.kmeans.ClusterNodeFactory"/>
      <node
            category-path="/mining/rules/basisfunction"
            factory-class="org.knime.base.node.mine.bfn.fuzzy.FuzzyBasisFunctionLearnerNodeFactory"
            id="org.knime.base.node.mine.bfn.fuzzy.FuzzyBasisFunctionLearnerNodeFactory"/>
      <node
            category-path="/mining/rules/basisfunction"
            factory-class="org.knime.base.node.mine.bfn.fuzzy.FuzzyBasisFunctionPredictorNodeFactory"
            id="org.knime.base.node.mine.bfn.fuzzy.FuzzyBasisFunctionPredictorNodeFactory"/>
      <node
            category-path="/mining/nn/pnn"
            factory-class="org.knime.base.node.mine.bfn.radial.RadialBasisFunctionLearnerNodeFactory"
            id="org.knime.base.node.mine.bfn.radial.RadialBasisFunctionLearnerNodeFactory"/>
      <node
            category-path="/mining/nn/pnn"
            factory-class="org.knime.base.node.mine.bfn.radial.RadialBasisFunctionPredictorNodeFactory"
            id="org.knime.base.node.mine.bfn.radial.RadialBasisFunctionPredictorNodeFactory"/>
      <node
            factory-class="org.knime.base.node.util.sampledata.SampleDataNodeFactory"
            category-path="/io/artificial"
            id="org.knime.base.node.util.sampledata.SampleDataNodeFactory"/>
      <node
            category-path="/io/write"
            factory-class="org.knime.base.node.io.csvwriter.CSVWriterNodeFactory"
            id="org.knime.base.node.io.csvwriter.CSVWriterNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.joiner.NewJoinerNodeFactory"
            id="org.knime.base.node.preproc.joiner.NewJoinerNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.split.SplitNodeFactory"
            id="org.knime.base.node.preproc.split.SplitNodeFactory"/>
      <node
            factory-class="org.knime.base.node.io.arffwriter.ARFFWriterNodeFactory"
            category-path="/io/write"
            id="org.knime.base.node.io.arffwriter.ARFFWriterNodeFactory"/>
      <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.sorter.SorterNodeFactory"
            id="org.knime.base.node.preproc.sorter.SorterNodeFactory"/>
      <node
            factory-class="org.knime.base.node.io.arffreader.ARFFReaderNodeFactory"
            category-path="/io/read"
            id="org.knime.base.node.io.arffreader.ARFFReaderNodeFactory"/>
      <node
            category-path="/statistics"
            factory-class="org.knime.base.node.viz.statistics.StatisticsNodeFactory"
            id="org.knime.base.node.viz.statistics.StatisticsNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.normalize.NormalizerNodeFactory"
            id="org.knime.base.node.preproc.normalize.NormalizeNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.domain.DomainNodeFactory"
            id="org.knime.base.node.preproc.domain.DomainNodeFactory"/>
     <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.append.row.AppendedRowsNodeFactory"
            id="org.knime.base.node.preproc.append.row.AppendedRowsNodeFactory"/>
      <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.filter.row.RowFilterNodeFactory"
            id="org.knime.base.node.preproc.filter.row.RowFilterNodeFactory"/>
      <node
            factory-class="org.knime.base.node.preproc.shuffle.ShuffleNodeFactory"
            category-path="/manipulation/row"
            id="org.knime.base.node.preproc.shuffle.ShuffleNodeFactory"/>
      <node
            factory-class="org.knime.base.node.preproc.sample.SamplingNodeFactory"
            category-path="/manipulation/row"
            id="org.knime.base.node.preproc.sample.SamplingNodeFactory"/>
      <node
            factory-class="org.knime.base.node.preproc.partition.PartitionNodeFactory"
            category-path="/manipulation/row"
            id="org.knime.base.node.preproc.partition.PartitionNodeFactory"/>
      <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.cluster.fuzzycmeans.FuzzyClusterNodeFactory"
            id="org.knime.base.node.mine.cluster.fuzzycmeans.FuzzyClusterNodeFactory"/>
      <node
            factory-class="org.knime.base.node.preproc.missingval.MissingValueHandlingNodeFactory"
            category-path="/manipulation/column"
            id="org.knime.base.node.preproc.missingval.MissingValueHandlingNodeFactory"/>
      <node
            category-path="/mining/nn/mlp"
            factory-class="org.knime.base.node.mine.neural.rprop.RPropNodeFactory"
            id="org.knime.base.node.mine.neural.rprop.RPropNodeFactory"/>
      <node
            category-path="/mining/nn/mlp"
            factory-class="org.knime.base.node.mine.neural.mlp.MLPPredictorNodeFactory"
            id="org.knime.base.node.mine.neural.mlp.MLPPredictorNodeFactory"/>
      <node
            category-path="/io/write"
            factory-class="org.knime.base.node.io.predictor.PredictorWriterNodeFactory"
            id="org.knime.base.node.io.predictor.PredictorWriterNodeFactory"/>
      <node
            category-path="/io/read"
            factory-class="org.knime.base.node.io.predictor.PredictorReaderNodeFactory"
            id="org.knime.base.node.io.predictor.PredictorReaderNodeFactory"/>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBReaderNodeFactory"
            id="org.knime.base.node.io.database.DBReaderNodeFactory"/>
      <node
            category-path="/manipulation/matrix"
            factory-class="org.knime.base.node.preproc.transpose.TransposeTableNodeFactory"
            id="org.knime.base.node.preproc.transpose.TransposeTableNodeFactory"/>
      <node
            category-path="/mining/dtree"
            factory-class="org.knime.base.node.mine.decisiontree2.predictor.DecTreePredictorNodeFactory"
            id="org.knime.base.node.mine.decisiontreenew.predictor.DecTreePredictorNodeFactory"/>
      <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.sota.SotaLearnerNodeFactory"
            id="org.knime.base.node.mine.sota.SotaLearnerNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.rename.RenameNodeFactory"
            id="org.knime.base.node.preproc.rename.RenameNodeFactory"/>
      <node
            category-path="/mining/subgroup"
            factory-class="org.knime.base.node.mine.subgroupminer.BitVectorGeneratorNodeFactory"
            id="org.knime.base.node.mine.subgroupminer.BitVectorGeneratorNodeFactory"/>
      <node
            category-path="/mining/subgroup"
            factory-class="org.knime.base.node.mine.subgroupminer.SubgroupMinerFactory"
            id="org.knime.base.node.mine.subgroupminer.SubgroupMinerFactory"/>
	   <node
	         category-path="/statistics/regression"
	         factory-class="org.knime.base.node.mine.regression.linear.learn.LinRegLearnerNodeFactory"
	         id="org.knime.base.node.mine.regression.linear.learn.LinRegLearnerNodeFactory"/>
	   <node
          category-path="/statistics/regression"
          factory-class="org.knime.base.node.mine.regression.predict.RegressionPredictorNodeFactory"
          id="org.knime.base.node.mine.regression.predict.RegressionPredictorNodeFactory"/>
	    <node
	          category-path="/mining/modeleval"
	          factory-class="org.knime.base.node.mine.scorer.entrop.NewEntropyNodeFactory"
	          id="org.knime.base.node.mine.scorer.entrop.NewEntropyNodeFactory"/>
	    <node
	          category-path="/io/read"
	          factory-class="org.knime.base.node.io.table.read.ReadTableNodeFactory"
	          id="org.knime.base.node.io.table.read.ReadTableNodeFactory"/>
	    <node
	          category-path="/io/write"
	          factory-class="org.knime.base.node.io.table.write.WriteTableNodeFactory"
	          id="org.knime.base.node.io.table.write.WriteTableNodeFactory"/>
	     <node
	          category-path="/database"
	          factory-class="org.knime.base.node.io.database.DBWriterNodeFactory"
	          id="org.knime.base.node.io.database.DBWriterNodeFactory"/>
     <node
           category-path="/manipulation/row"
           factory-class="org.knime.base.node.mine.subgroupminer.BitVectorGeneratorNodeFactory"
           id="org.knime.base.node.mine.subgroupminer.BitVectorGeneratorNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.histogram.node.HistogramNodeFactory"
           id="org.knime.base.node.viz.histogram.node.HistogramNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.histogram.node.FixedColumnHistogramNodeFactory"
           id="org.knime.base.node.viz.histogram.node.FixedColumnHistogramNodeFactory"/>
     <node
           category-path="/manipulation/column"
           factory-class="org.knime.base.node.preproc.normalize.NormalizerApplyNodeFactory"
           id="org.knime.base.node.preproc.normalize.NormalizeApplyNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.plotter.box.BoxPlotNodeFactory"
           id="org.knime.base.node.viz.plotter.box.BoxPlotNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.plotter.line.LinePlotterNodeFactory"
           id="org.knime.base.node.viz.plotter.line.LinePlotterNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.plotter.parcoord.ParallelCoordinateNodeFactory"
           id="org.knime.base.node.viz.plotter.parcoord.ParallelCoordinateNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.plotter.scatter.ScatterPlotterNodeFactory"
           id="org.knime.base.node.viz.plotter.scatter.ScatterPlotterNodeFactory"/>
     <node
           category-path="/view"
           factory-class="org.knime.base.node.viz.plotter.scattermatrix.ScatterMatrixNodeFactory"
           id="org.knime.base.node.viz.plotter.scattermatrix.ScatterMatrixNodeFactory"/>
     <node
           category-path="/manipulation/row"
           factory-class="org.knime.base.node.preproc.filter.hilite.HiliteFilterNodeFactory"
           id="org.knime.base.node.preproc.hilite"/>
    <node
		 category-path="/manipulation/column"
         factory-class="org.knime.base.node.preproc.discretization.caim2.modelcreator.CAIMDiscretization2NodeFactory"
         id="org.knime.base.node.preproc.discretization.caim.modelcreator.CAIMDiscretizationNodeFactory"/>
    <node
   		 category-path="/manipulation/column"
         factory-class="org.knime.base.node.preproc.discretization.caim2.modelapply.DiscretizationApplyNodeFactory"
         id="org.knime.base.node.preproc.discretization.caim.modelapply.DiscretizationApplyNodeFactory"/>
    <node
         factory-class="org.knime.base.node.preproc.rowkey.RowKeyNodeFactory"
         category-path="/manipulation/row"
         id="org.knime.base.node.preproc.rowkey.RowKeyNodeFactory"/>
      <node
            category-path="/mining/miscClass"
            factory-class="org.knime.base.node.mine.knn.KnnNodeFactory"
            id="org.knime.base.node.mine.knn.KnnNodeFactory"/>  
   <node
         category-path="/mining/clustering"
         factory-class="org.knime.base.node.mine.cluster.hierarchical.HierarchicalClusterNodeFactory"
         id="org.knime.base.node.mine.cluster.hierarchical.HierarchicalClusterNodeFactory"/>
   <node
         category-path="/mining/clustering"
         factory-class="org.knime.base.node.mine.sota.predictor.SotaPredictorNodeFactory"
         id="org.knime.base.node.mine.sota.predictor.SotaPredictorNodeFactory"/>         
      <node
            category-path="/statistics/regression"
            factory-class="org.knime.base.node.mine.regression.polynomial.learner.PolyRegLearnerNodeFactory"
	        id="org.knime.dev.nodes.polyreg.learner.PolyRegLearnerNodeFactory"/>
      <node
            category-path="/statistics/regression"
            factory-class="org.knime.base.node.mine.regression.polynomial.predictor.PolyRegPredictorNodeFactory"
	        id="org.knime.dev.nodes.polyreg.predictor.PolyRegPredictorNodeFactory"/>
      <node
            category-path="/view"
            factory-class="org.knime.base.node.viz.pie.node.fixed.FixedPieNodeFactory"
            id="org.knime.base.node.viz.pie.node.fixed.FixedPieNodeFactory">
      </node>
      <node
            category-path="/view"
            factory-class="org.knime.base.node.viz.pie.node.interactive.InteractivePieNodeFactory"
            id="org.knime.base.node.viz.pie.node.interactive.InteractivePieNodeFactory">
      </node>
      <node
            category-path="/mining/dtree"
            factory-class="org.knime.base.node.mine.decisiontree2.learner.DecisionTreeLearnerNodeFactory"
            id="org.knime.base.node.mine.decisiontree2.learner.DecisionTreeLearnerNodeFactory">
      </node>
      <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.groupby.GroupByNodeFactory"
            id="org.knime.base.node.preproc.groupby.GroupByNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.pivot.PivotNodeFactory"
            id="org.knime.base.node.preproc.pivot.PivotNodeFactory"/>
      <node
            category-path="/mining/bayes"
            factory-class="org.knime.base.node.mine.bayes.naivebayes.predictor.NaiveBayesPredictorNodeFactory"
            id="org.knime.base.node.mine.bayes.naivebayes.predictor.NaiveBayesPredictorNodeFactory"/>
      <node
            category-path="/mining/bayes"
            factory-class="org.knime.base.node.mine.bayes.naivebayes.learner.NaiveBayesLearnerNodeFactory"
            id="org.knime.base.node.bayes.mine.naivebayes.learner.NaiveBayesLearnerNodeFactory"/>
      <node
            category-path="/statistics"
            factory-class="org.knime.base.node.preproc.correlation.pmcc.PMCCNodeFactory"
            id="org.knime.base.node.preproc.correlation.pmcc.PMCCNodeFactory"/>
      <node
            after="org.knime.base.node.correlation.pmcc.PMCCNodeFactory"
            category-path="/statistics"
            factory-class="org.knime.base.node.preproc.correlation.pmcc.PMCCFilterNodeFactory"
            id="org.knime.base.node.preproc.correlation.pmcc.PMCCFilterNodeFactory "/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.lowvarfilter.LowVarFilterNodeFactory"
            id="org.knime.base.node.preproc.lowvarfilter.LowVarFilterNodeFactory"/>
      <node
            category-path="/statistics"
            factory-class="org.knime.base.node.preproc.valcount.ValueCounterNodeFactory"
            id="org.knime.base.node.preproc.valcount.ValueCounterNodeFactory"/>
      <node
            category-path="/mining/mds"
            factory-class="org.knime.base.node.mine.mds.MDSNodeFactory"
            id="org.knime.base.node.mine.mds.MDSNodeFactory"/>
      <node
            category-path="/mining/mds"
            factory-class="org.knime.base.node.mine.mds.mdsprojection.MDSProjectionNodeFactory"
            id="org.knime.base.node.mine.mds.mdsprojection.MDSProjectionNodeFactory"/>
      <node
            category-path="/mining/modeleval"
            factory-class="org.knime.base.node.viz.enrichment.EnrichmentPlotterFactory"
            id="org.knime.chem.node.viz.enrich.EnrichmentPlotterFactory"/>
      <node
            category-path="/mining/svm"
            factory-class="org.knime.base.node.mine.svm.learner.SVMLearnerNodeFactory"
            id="org.knime.base.node.mine.svm.learner.SVMLearnerNodeFactory">
      </node>
      <node
            category-path="/mining/svm"
            factory-class="org.knime.base.node.mine.svm.predictor.SVMPredictorNodeFactory"
            id="org.knime.base.node.mine.svm.predictor.SVMPredictorNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.colcompare.ColumnComparatorNodeFactory"
            id="org.knime.base.node.preproc.colcompare.ColumnComparatorNodeFactory"/>
      <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.rowsplit.NumericRowSplitterNodeFactory"
            id="org.knime.base.node.preproc.rowsplit.NumericRowSplitterNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.stringreplacer.StringReplacerNodeFactory"
            id="org.knime.base.node.preproc.stringreplacer.StringReplacerNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.caseconvert.CaseConvertNodeFactory"
            id="org.knime.base.node.preproc.caseconvert.CaseConvertNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.stringreplacer.dict.SearchReplaceDictNodeFactory"
            id="org.knime.base.node.preproc.stringreplacer.dict.SearchReplaceDictNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.cellsplit.CellSplitterNodeFactory"
            id="org.knime.base.node.preproc.cellsplit.CellSplitterNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.colconvert.numbertostring.NumberToStringNodeFactory"
            id="org.knime.base.node.preproc.colconvert.numbertostring.NumberToStringNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.colconvert.stringtonumber.StringToNumberNodeFactory"
            id="org.knime.base.node.preproc.colconvert.stringtonumber.StringToNumberNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.columnTrans.One2ManyColNodeFactory"
            id="org.knime.base.node.preproc.columnTrans.One2ManyColNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.columnTrans.Many2OneColNodeFactory"
            id="org.knime.base.node.preproc.columnTrans.Many2OneColNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.colcombine.ColCombineNodeFactory"
            id="org.knime.base.node.preproc.colcombine.ColCombineNodeFactory">
      </node>
      <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.cluster.assign.ClusterAssignerNodeFactory"
            id="org.knime.base.node.mine.cluster.assign.ClusterAssignerNodeFactory">
      </node>
      <node
            category-path="/mining/modeleval"
            factory-class="org.knime.base.node.viz.roc.ROCNodeFactory"
            id="org.knime.base.node.viz.roc.ROCNodeFactory">
      </node>
      <node
            category-path="/meta"
            factory-class="org.knime.base.node.meta.xvalidation.XValidatePartitionerFactory"
            id="org.knime.base.node.meta.xvalidation.XValidatePartitionerFactory">
      </node>
      <node
            category-path="/meta"
            factory-class="org.knime.base.node.meta.xvalidation.AggregateOutputNodeFactory"
            id="org.knime.base.node.meta.xvalidation.AggregateOutputNodeFactory">
      </node>
      <node
            category-path="/meta"
            factory-class="org.knime.base.node.meta.looper.ForLoopHeadNodeFactory"
            id="org.knime.base.node.meta.looper.ForLoopHeadNodeFactory">
      </node>
      <node
            category-path="/meta"
            factory-class="org.knime.base.node.meta.looper.ForLoopTailNodeFactory"
            id="org.knime.base.node.meta.looper.ForLoopTailNodeFactory">
      </node>
       <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBConnectionNodeFactory"
            id="org.knime.base.node.io.database.DBConnectionNodeFactory">
   	  </node>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBConnectionWriterNodeFactory"
            id="org.knime.base.node.io.database.DBConnectionWriterNodeFactory">
      </node>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBReaderConnectionNodeFactory"
            id="org.knime.base.node.io.database.DBReaderConnectionNodeFactory">
      </node>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBQueryNodeFactory"
            id="org.knime.base.node.io.database.DBQueryNodeFactory"/>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBColumnFilterNodeFactory"
            id="org.knime.base.node.io.database.DBColumnFilterNodeFactory"/>
      <node
            category-path="/database"
            factory-class="org.knime.base.node.io.database.DBRowFilterNodeFactory"
            id="org.knime.base.node.io.database.DBRowFilterNodeFactory"/>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.cellsplitbypos.CellSplitterByPosNodeFactory"
            id="org.knime.base.node.preproc.cellsplitbypos.CellSplitterByPositionNodeFactory">
      </node>
      <node
            category-path="/view"
            factory-class="org.knime.base.node.viz.condbox.ConditionalBoxPlotNodeFactory"
            id="org.knime.base.node.viz.condbox.ConditionalBoxPlotNodeFactory"/>
      <node
            category-path="/meta"
            factory-class="org.knime.base.node.meta.looper.variable.VariablesLoopHeadNodeFactory"
            id="org.knime.base.node.meta.looper.variable.VariablesLoopHeadNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.filter.columnref.ColumnFilterRefNodeFactory"
            id="org.knime.base.node.preproc.filter.columnref.ColumnFilterRefNodeFactory">
      </node>
      <node
            category-path="/manipulation/row"
            factory-class="org.knime.base.node.preproc.filter.rowref.RowFilterRefNodeFactory"
            id="org.knime.base.node.preproc.filter.rowref.RowFilterRefNodeFactory">
      </node>
      <node
            after="File Reader"
            category-path="/io/read"
            factory-class="org.knime.base.node.io.filereader.LooperFileReaderNodeFactory"
            id="org.knime.base.node.io.filereader.LooperFileReaderNodeFactory">
      </node>
      <node
            category-path="/meta/features"
            factory-class="org.knime.base.node.meta.feature.backwardelim.BWElimHead1NodeFactory"
            id="org.knime.base.node.meta.feature.backwardelim.BWElimHeadNodeFactory">
      </node>
      <node
            category-path="/meta/features"
            factory-class="org.knime.base.node.meta.feature.backwardelim.BWElimHead2NodeFactory"
            id="org.knime.base.node.meta.feature.backwardelim.BWElimHead2NodeFactory">
      </node>
      <node
            category-path="/meta/features"
            factory-class="org.knime.base.node.meta.feature.backwardelim.BWElimTailNodeFactory"
            id="org.knime.base.node.meta.feature.backwardelim.BWElimTailNodeFactory">
      </node>
      <node
            category-path="/meta/features"
            factory-class="org.knime.base.node.meta.feature.backwardelim.BWElimFilterNodeFactory"
            id="org.knime.base.node.meta.feature.backwardelim.BWElimFilterNodeFactory">
      </node>
       <node
             category-path="/misc"
             factory-class="org.knime.base.node.flowvariable.variabletotable.VariableToTableNodeFactory"
             id="org.knime.base.node.flowvariable.variabletotable.VariableToTableNodeFactory">
       </node>
       <node
             category-path="/misc"
             factory-class="org.knime.base.collection.list.create.CollectionCreateNodeFactory"
             id="org.knime.base.collection.list.create.CollectionCreateNodeFactory">
       </node>
       <node
             category-path="/misc"
             factory-class="org.knime.base.collection.list.split.CollectionSplitNodeFactory"
             id="org.knime.base.collection.list.split.CollectionSplitNodeFactory">
       </node>
             <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.cluster.kmeans.PMMLClusterNodeFactory"
            id="org.knime.base.node.mine.cluster.kmeans.PMMLClusterNodeFactory">
      </node>

      <node
            category-path="/mining/clustering"
            factory-class="org.knime.base.node.mine.cluster.assign.PMMLClusterAssignerNodeFactory"
            id="org.knime.base.node.mine.cluster.assign.PMMLClusterAssignerNodeFactory">
      </node>

      <node
            category-path="/io/read"
            factory-class="org.knime.base.node.io.pmml.read.PMMLReaderNodeFactory"
            id="org.knime.base.node.io.PMMLReaderNodeFactory">
      </node>
      <node
            category-path="/misc"
            factory-class="org.knime.base.node.flowvariable.tabletovariable.TableToVariableNodeFactory"
            id="org.knime.base.node.flowvariable.tabletovariable.TableToVariableNodeFactory">
      </node>
      <node
            category-path="/manipulation/column"
            factory-class="org.knime.base.node.preproc.regexsplit.RegexSplitNodeFactory"
            id="org.knime.base.node.preproc.regexsplit.RegexSplitNodeFactory">
      </node>
   </extension>
      <extension
         point="org.knime.base.pmmlports">
      <PMMLModel
            PMMLPortObject="org.knime.base.node.mine.cluster.PMMLClusterPortObject"
            modeltype="ClusteringModel">
      </PMMLModel>
      <PMMLModel
            PMMLPortObject="org.knime.base.node.mine.svm.PMMLSVMPortObject"
            modeltype="SupportVectorMachineModel">
      </PMMLModel>
   </extension>
</plugin>
