<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Cross validation"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="validations" type="xshort" value="10"/>
<entry key="randomSampling" type="xboolean" value="true"/>
<entry key="classColumnName" type="xstring" isnull="true" value=""/>
<config key="dataInContainerIDs">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xint" value="145"/>
</config>
<config key="dataOutContainerIDs">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xint" value="146"/>
<entry key="1" type="xint" value="147"/>
</config>
<config key="modelInContainerIDs">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="modelOutContainerIDs">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
</config>
<config key="output_1">
<entry key="data_files_directory" type="xstring" value="data_1"/>
</config>
</config>
<config key="model_files"/>
</config>
