<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Linear Correlation"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="includeList_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="includeList">
<config key="InclList">
<entry key="array-size" type="xint" value="26"/>
<entry key="0" type="xstring" value="VAR01"/>
<entry key="1" type="xstring" value="VAR02"/>
<entry key="2" type="xstring" value="VAR03"/>
<entry key="3" type="xstring" value="VAR04"/>
<entry key="4" type="xstring" value="VAR05"/>
<entry key="5" type="xstring" value="VAR06"/>
<entry key="6" type="xstring" value="VAR07"/>
<entry key="7" type="xstring" value="VAR08"/>
<entry key="8" type="xstring" value="VAR09"/>
<entry key="9" type="xstring" value="VAR10"/>
<entry key="10" type="xstring" value="VAR11"/>
<entry key="11" type="xstring" value="VAR12"/>
<entry key="12" type="xstring" value="VAR13"/>
<entry key="13" type="xstring" value="VAR14"/>
<entry key="14" type="xstring" value="VAR15"/>
<entry key="15" type="xstring" value="VAR16"/>
<entry key="16" type="xstring" value="VAR17"/>
<entry key="17" type="xstring" value="VAR18"/>
<entry key="18" type="xstring" value="VAR19"/>
<entry key="19" type="xstring" value="VAR20"/>
<entry key="20" type="xstring" value="VAR21"/>
<entry key="21" type="xstring" value="VAR22"/>
<entry key="22" type="xstring" value="VAR23"/>
<entry key="23" type="xstring" value="VAR24"/>
<entry key="24" type="xstring" value="VAR25"/>
<entry key="25" type="xstring" value="VAR26"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<config key="possibleValuesCount_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="possibleValuesCount" type="xint" value="50"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
<entry key="has_output_spec" type="xboolean" value="true"/>
</config>
</config>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
