<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
  <entry key="name" type="xstring" value="MultiLayerPerceptron Predictor"/>
  <entry key="isConfigured" type="xboolean" value="false"/>
  <entry key="isExecuted" type="xboolean" value="false"/>
  <config key="model"/>
</config>
