<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="PNN Learner (DDA) (beta)"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="false"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="target_column">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Class"/>
</config>
<config key="data_columns">
<entry key="array-size" type="xint" value="60"/>
<entry key="0" type="xstring" value="HICONC"/>
<entry key="1" type="xstring" value="MASS_IC50"/>
<entry key="2" type="xstring" value="FINGERPRINT"/>
<entry key="3" type="xstring" value="ATOM_PAIR_FP"/>
<entry key="4" type="xstring" value="V"/>
<entry key="5" type="xstring" value="S"/>
<entry key="6" type="xstring" value="R"/>
<entry key="7" type="xstring" value="G"/>
<entry key="8" type="xstring" value="W1"/>
<entry key="9" type="xstring" value="W2"/>
<entry key="10" type="xstring" value="W3"/>
<entry key="11" type="xstring" value="W4"/>
<entry key="12" type="xstring" value="W5"/>
<entry key="13" type="xstring" value="W6"/>
<entry key="14" type="xstring" value="W7"/>
<entry key="15" type="xstring" value="W8"/>
<entry key="16" type="xstring" value="Iw1"/>
<entry key="17" type="xstring" value="Iw2"/>
<entry key="18" type="xstring" value="Iw3"/>
<entry key="19" type="xstring" value="Iw4"/>
<entry key="20" type="xstring" value="Iw5"/>
<entry key="21" type="xstring" value="Iw6"/>
<entry key="22" type="xstring" value="Iw7"/>
<entry key="23" type="xstring" value="Iw8"/>
<entry key="24" type="xstring" value="Cw1"/>
<entry key="25" type="xstring" value="Cw2"/>
<entry key="26" type="xstring" value="Cw3"/>
<entry key="27" type="xstring" value="Cw4"/>
<entry key="28" type="xstring" value="Cw5"/>
<entry key="29" type="xstring" value="Cw6"/>
<entry key="30" type="xstring" value="Cw7"/>
<entry key="31" type="xstring" value="Cw8"/>
<entry key="32" type="xstring" value="Emin1"/>
<entry key="33" type="xstring" value="Emin2"/>
<entry key="34" type="xstring" value="Emin3"/>
<entry key="35" type="xstring" value="D12"/>
<entry key="36" type="xstring" value="D13"/>
<entry key="37" type="xstring" value="D23"/>
<entry key="38" type="xstring" value="D1"/>
<entry key="39" type="xstring" value="D2"/>
<entry key="40" type="xstring" value="D3"/>
<entry key="41" type="xstring" value="D4"/>
<entry key="42" type="xstring" value="D5"/>
<entry key="43" type="xstring" value="D6"/>
<entry key="44" type="xstring" value="D7"/>
<entry key="45" type="xstring" value="D8"/>
<entry key="46" type="xstring" value="ID1"/>
<entry key="47" type="xstring" value="ID2"/>
<entry key="48" type="xstring" value="ID3"/>
<entry key="49" type="xstring" value="ID4"/>
<entry key="50" type="xstring" value="ID5"/>
<entry key="51" type="xstring" value="ID6"/>
<entry key="52" type="xstring" value="ID7"/>
<entry key="53" type="xstring" value="ID8"/>
<entry key="54" type="xstring" value="HL1"/>
<entry key="55" type="xstring" value="HL2"/>
<entry key="56" type="xstring" value="A"/>
<entry key="57" type="xstring" value="CP"/>
<entry key="58" type="xstring" value="POL"/>
<entry key="59" type="xstring" value="MW"/>
</config>
<entry key="missing" type="xint" value="0"/>
<entry key="distance_function" type="xint" value="0"/>
<entry key="shrink_after_commit" type="xboolean" value="true"/>
<entry key="max_class_coverage" type="xboolean" value="true"/>
<entry key="max_epochs" type="xint" value="-1"/>
<entry key="theta_minus" type="xdouble" value="0.2"/>
<entry key="theta_plus" type="xdouble" value="0.4"/>
</config>
<config key="data_meta_file">
<entry key="data_files_directory" type="xstring" value="data"/>
<config key="output_0">
<entry key="data_files_directory" type="xstring" value="data_0"/>
<entry key="has_output_spec" type="xboolean" value="true"/>
</config>
</config>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
