<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="J48 (Weka)"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<entry key="ClassColumn" type="xstring" value="class"/>
<config key="wekaoptions">
<entry key="array-size" type="xint" value="14"/>
<entry key="0" type="xstring" value="-C"/>
<entry key="1" type="xstring" value="0.25"/>
<entry key="2" type="xstring" value="-M"/>
<entry key="3" type="xstring" value="2"/>
<entry key="4" type="xstring" value=""/>
<entry key="5" type="xstring" value=""/>
<entry key="6" type="xstring" value=""/>
<entry key="7" type="xstring" value=""/>
<entry key="8" type="xstring" value=""/>
<entry key="9" type="xstring" value=""/>
<entry key="10" type="xstring" value=""/>
<entry key="11" type="xstring" value=""/>
<entry key="12" type="xstring" value=""/>
<entry key="13" type="xstring" value=""/>
</config>
<entry key="maxcovered" type="xint" value="10000"/>
</config>
<config key="spec_files"/>
<config key="model_files">
<entry key="output_0" type="xstring" value="model_0.pmml.gz"/>
</config>
</config>
