/*
 * ------------------------------------------------------------------------
 *
 *  Copyright by KNIME GmbH, Konstanz, Germany
 *  Website: http://www.knime.org; Email: contact@knime.org
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License, Version 3, as
 *  published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, see <http://www.gnu.org/licenses>.
 *
 *  Additional permission under GNU GPL version 3 section 7:
 *
 *  KNIME interoperates with ECLIPSE solely via ECLIPSE's plug-in APIs.
 *  Hence, KNIME and ECLIPSE are both independent programs and are not
 *  derived from each other. Should, however, the interpretation of the
 *  GNU GPL Version 3 ("License") under any applicable laws result in
 *  KNIME and ECLIPSE being a combined program, KNIME GMBH herewith grants
 *  you the additional permission to use and propagate KNIME together with
 *  ECLIPSE with only the license terms in place for ECLIPSE applying to
 *  ECLIPSE and the GNU GPL Version 3 applying for KNIME, provided the
 *  license terms of ECLIPSE themselves allow for the respective use and
 *  propagation of ECLIPSE together with KNIME.
 *
 *  Additional permission relating to nodes for KNIME that extend the Node
 *  Extension (and in particular that are based on subclasses of NodeModel,
 *  NodeDialog, and NodeView) and that only interoperate with KNIME through
 *  standard APIs ("Nodes"):
 *  Nodes are deemed to be separate and independent programs and to not be
 *  covered works.  Notwithstanding anything to the contrary in the
 *  License, the License does not apply to Nodes, you are not required to
 *  license Nodes under the License, and you are granted a license to
 *  prepare and propagate Nodes, in each case even if such Nodes are
 *  propagated with or for interoperation with KNIME.  The owner of a Node
 *  may freely choose the license terms applicable to such Node, including
 *  when such Node is propagated with or for interoperation with KNIME.
 * ---------------------------------------------------------------------
 *
 */
package org.knime.core.jaxrs.workflow.service;

import javax.ws.rs.Consumes;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

import javax.ws.rs.GET;

import org.knime.core.gateway.serverproxy.service.DefaultWorkflowService;
import org.knime.core.gateway.v0.workflow.entity.*;
import org.knime.core.gateway.v0.workflow.service.WorkflowService;
import org.knime.core.jaxrs.workflow.entity.*;

import java.util.List;
import java.util.stream.Collectors;


/**
 * RESTful service implementation of the {@link ${name}} - rest calls (i.e. rest resources) are essentially
 * delegated to the {@link Default${name}} implementation.
 *
 * @author Martin Horn, University of Konstanz
 */
@Path("/${name}")
public class RS${name} {

    private Default${name} m_service = new Default${name}();


#foreach( $method in $methods )
#set( $primitiveParams = true )
#foreach( $param in $method.getParameters() )
	#if(!$param.isPrimitive())
		#set($primitiveParams = false)
		#break
	#end
#end

#if($primitiveParams)
	@GET
#else
    @POST
#end
#if($method.getReturnType().isPrimitive())
    @Produces(MediaType.TEXT_PLAIN)
#elseif(!$method.getReturnType().isVoid())
	@Produces(MediaType.APPLICATION_JSON)
#end
#if(!$primitiveParams)
    @Consumes(MediaType.APPLICATION_JSON)
#end
    @Path("/$method.getName()")
    public Response $method.getName()(
 	#foreach($param in $method.getParameters())
 		#if($param.isPrimitive())
		@QueryParam("$param.getName()") final $param.getType().toString("","") $param.getName()#if($foreach.hasNext),#end
		#else
		final $param.getType().toString("","") $param.getName()#if($foreach.hasNext),#end
		#end 			
 	#end
    ) {
    #set($params = "")
	#foreach($param in $method.getParameters())
		#set($params = "${params}$param.getName()")
	 	#if($foreach.hasNext)#set($params = "${params}, ")#end
	 #end
    #set($type = $method.getReturnType())
	#if($type.isVoid())
		m_service.$method.getName()($params);
	#else
		$type.toString("","") res = m_service.$method.getName()($params);
	#end    
	Object resConv;
	#if($type.isPrimitive())
		resConv  = res;
	#elseif($type.isList())
		//convert entity via a wrapper to a json-serializable class
		resConv = res.stream().map(e -> new $type.getTypeParameter(0).toString("","ToJson")(e)).collect(Collectors.toList()); 
	#elseif($type.isMap())
		//TODO
	#elseif(!$type.isVoid())
		//convert entity via a wrapper to a json-serializable class
		resConv = new $type.toString("","ToJson")(res);
	#end
	#if($type.isVoid())
		return Response.ok().build();
	#else
        return Response.ok().entity(resConv).build();
    #end
    }
#end

}
