<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value=""/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Boolean Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Component Output"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Component Input"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_4">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Column Filter"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Table View (JavaScript) (legacy)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID (#1)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_7">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Table Row to Variable"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_8">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Transpose"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_9">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Merge Variables"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_10">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Text Output Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_11">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Timer Info"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_12">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="String Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_13">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Refresh Button Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_14">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Nr of Executions since Start"/>
        </config>
        <config key="Variable_15">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Boolean Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_16">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Component Output"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_17">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Component Input"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2"/>
        </config>
        <config key="Variable_18">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Column Filter"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_19">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Table View (JavaScript) (legacy)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_20">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID (#1)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_21">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Table Row to Variable"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_22">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Transpose"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_23">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Merge Variables"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2"/>
        </config>
        <config key="Variable_24">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Text Output Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2"/>
        </config>
        <config key="Variable_25">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Timer Info"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1"/>
        </config>
        <config key="Variable_26">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="String Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2"/>
        </config>
        <config key="Variable_27">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Refresh Button Widget"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="missing_value_policy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="missing_value_policy" type="xstring" value="DEFAULT"/>
        <config key="default_value_string_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="default_value_string" type="xstring" value="missing"/>
        <config key="default_value_boolean_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="default_value_boolean" type="xstring" value="false"/>
        <config key="default_value_integer_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="default_value_integer" type="xint" value="0"/>
        <config key="default_value_long_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_long"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="default_value_long" type="xlong" value="0"/>
        <config key="default_value_double_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="default_value_double" type="xdouble" value="0.0"/>
        <config key="column_selection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="column_selection">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.tablerowtovariable3.TableToVariable3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Table Row to Variable"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.0.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Table Row to Variable"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
