<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model"/>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="virtual-in-ID" type="xint" value="100"/>
<config key="inports">
<config key="inport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="virtual-out-ID" type="xint" value="101"/>
<config key="outports"/>
<config key="layoutInfos">
<config key="layoutInfo_0">
<entry key="nodeID" type="xint" value="98"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0"/>
<entry key="layout_y" type="xstring" value="0"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
<config key="layoutInfo_1">
<entry key="nodeID" type="xint" value="95"/>
<entry key="hasLayout" type="xboolean" value="true"/>
<entry key="layout_x" type="xstring" value="0"/>
<entry key="layout_y" type="xstring" value="1"/>
<entry key="layout_padding" type="xstring" isnull="true" value=""/>
</config>
</config>
</config>
