<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "org/knime/core/node/config/XMLConfig.dtd">
<config key="settings.xml">
<entry key="name" type="xstring" value="Domain Calculator"/>
<entry key="isConfigured" type="xboolean" value="true"/>
<entry key="isExecuted" type="xboolean" value="true"/>
<config key="model">
<config key="possible_values_columns">
<entry key="array-size" type="xint" value="11"/>
<entry key="0" type="xstring" value="Firma"/>
<entry key="1" type="xstring" value="Kontaktperson"/>
<entry key="2" type="xstring" value="Position"/>
<entry key="3" type="xstring" value="Straße"/>
<entry key="4" type="xstring" value="Ort"/>
<entry key="5" type="xstring" value="Region"/>
<entry key="6" type="xstring" value="PLZ"/>
<entry key="7" type="xstring" value="Land"/>
<entry key="8" type="xstring" value="Telefon"/>
<entry key="9" type="xstring" value="Telefax"/>
<entry key="10" type="xstring" value="Homepage"/>
</config>
<config key="min_max_columns">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Lieferanten-Nr"/>
</config>
<entry key="max_poss_values" type="xint" value="60"/>
</config>
<config key="spec_files">
<entry key="output_0" type="xstring" value="spec_0.xml"/>
</config>
<entry key="data_meta_file" type="xstring" value="data.xml"/>
<config key="model_files"/>
</config>
