<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.name"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="WF"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.path"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="/Test123/WF"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.absolute-path"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="C:/Users/leonard.woerteler/eclipse-workspaces/runtime-KNIME/Test123/WF"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.user"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="leonard.woerteler"/>
        </config>
        <config key="Variable_4">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.temp.location"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="C:\Users\LEONAR~1.WOE\AppData\Local\Temp\knime_WF_19861"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.author.name"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="leonard.woerteler"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.last.editor.name"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="leonard.woerteler"/>
        </config>
        <config key="Variable_7">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.creation.date"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="2023-11-27T10:57:01+01:00"/>
        </config>
        <config key="Variable_8">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.workflow.last.time.modified"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="2023-11-27T12:21:09+01:00"/>
        </config>
        <config key="Variable_9">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="context.job.id"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value=""/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="isExtractAllProps" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.io.extractcontextprop.ReadContextProperty2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Extract Context Properties"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.0.v202311241328"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Extract Context Properties"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
